<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('批量打款记录列表')"/>
    <style>
        .layui-layer[type='iframe'] .layui-layer-btn .layui-layer-btn0{
            display: none !important;
        }
    </style>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId" autocomplete="off">
                <div class="select-list">
                    <ul>
                        <li>
                            批量打款订单编号：<input type="text" name="trxExternalNo"/>
                        </li>
                        <li>
                            所属销售：<input type="text" name="saleName"/>
                        </li>
                        <li>
                            商户名称：<input type="text" name="merchantName"/>
                        </li>
<!--                        <li>-->
<!--                            <label>订单状态：</label>-->
<!--                            <select name="status" th:with="type=${@dict.getType('order_status')}">-->
<!--                                <option value="">所有</option>-->
<!--                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}"-->
<!--                                        th:value="${dict.dictValue}">-->
<!--                                </option>-->
<!--                            </select>-->
<!--                        </li>-->
                        <li class="select-time">
                            <label>创建时间： </label>
                            <input type="text" class="time-input" id="startTime" placeholder="开始时间"
                                   name="startDate"/>
                            <span>-</span>
                            <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="endDate"/>
                        </li>

                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.limitSearch()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <!--<div class="btn-group-sm" id="toolbar" role="group">-->
            <!--<a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="business:batchPaymentRecord:add">-->
                <!--<i class="fa fa-plus"></i> 添加-->
            <!--</a>-->
            <!--<a class="btn btn-primary btn-edit disabled" onclick="$.operate.edit()"-->
               <!--shiro:hasPermission="business:batchPaymentRecord:edit">-->
                <!--<i class="fa fa-edit"></i> 修改-->
            <!--</a>-->
            <!--<a class="btn btn-danger btn-del btn-del disabled" onclick="$.operate.removeAll()"-->
               <!--shiro:hasPermission="business:batchPaymentRecord:remove">-->
                <!--<i class="fa fa-remove"></i> 删除-->
            <!--</a>-->
            <!--<a class="btn btn-warning" onclick="$.table.exportExcel()"-->
               <!--shiro:hasPermission="business:batchPaymentRecord:export">-->
                <!--<i class="fa fa-download"></i> 导出-->
            <!--</a>-->
        <!--</div>-->
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>
<div th:include="include :: footer"></div>
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('manager:batchPayment:detail')}]];
    var removeFlag = [[${@permission.hasPermi('business:batchPaymentRecord:remove')}]];
    var payChannelData = [[${@dict.getType('pay_channel')}]];
    var orderStatus = [[${@dict.getType('order_status')}]];
    var prefix = ctx + "manager/batchPaymentRecord";
    var Itssales = [[${@dict.getType('Its_sales')}]];

    $(function () {
        var options = {
            url: prefix + "/getBatchRecord",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/detail/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            modalName: "批量打款记录",
            showExport: true,
            columns: [{
                checkbox: true
            },
                {
                    field: 'id',
                    title: 'id',
                    visible: false
                }, {
                    field: 'merchantId',
                    title: '商户ID',
                    visible: false
                },
                {
                    field: 'merchantName',
                    title: '商户名称',

                }, {
                    field: 'saleName',
                    title: '所属销售'
                },{
                    field: 'amount',
                    title: '商户请求打款金额（元）',

                }, {
                    field: 'batchNo',
                    title: '批次号',
                    visible: true
                },{
                    field: 'trxExternalNo',
                    title: '批量打款订单编号',

                }, {
                    field: 'status',
                    title: '订单状态',
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(orderStatus, row.status);
                    }

                }, {
                    field: 'createTime',
                    title: '订单创建时间',

                },
                {
                    field: 'paymentChannel',
                    title: '打款渠道',
                    visible: true,
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(payChannelData, row.paymentChannel);
                    }
                }, {
                    field: 'actualAmount',
                    title: '实际打款金额',
                }, {
                    field: 'paymentCount',
                    title: '打款记录数',
                },{
                    field: 'creater',
                    title: '创建者',
                }, {
                    field: 'operator',
                    title: '操作者',
                },
                {
                    field: 'merchantId',
                    title: '商户id',
                    visible: false
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.trxInfoTab(' + row.id + ')"><i class="fa fa-edit"></i>详情</a> ');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });
</script>
</body>
</html>