<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('灵工签约列表')"/>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId" autocomplete="off">
                <div class="select-list">
                    <ul>
                        <li>
                            签约甲方：<input type="text" name="taxSourceName"/>
                        </li>
                        <li>
                            签约灵工：<input type="text" name="name"/>
                        </li>
                        <li>
                            签约商户：<input type="text" name="merchantName"/>
                        </li>
                        <li>
                            手机号：<input type="text" name="mobile"/>
                        </li>
                        <li class="select-time">
                            <label>创建时间： </label>
                            <input type="text" class="time-input" id="startTime" placeholder="开始时间"
                                   name="startDate"/>
                            <span>-</span>
                            <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="endDate"/>
                        </li>
                        <li>
                            <label>签约状态：</label>
                            <select name="signStatus" th:with="type=${@dict.getType('sign_status')}">
                                <option value="">所有</option>
                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                                        th:value="${dict.dictValue}">
                                </option>
                            </select>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.limitSearch()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
            <!--<a class="btn btn-success" onclick="$.operate.addTab()" shiro:hasPermission="manager:merchant:addSave">-->
                <!--<i class="fa fa-plus"></i> 添加-->
            <!--</a>-->
            <!--<a class="btn btn-primary btn-edit disabled" onclick="$.operate.merchantInfoTab()"-->
               <!--shiro:hasPermission="manager:merchant:updateInfo">-->
                <!--<i class="fa fa-edit"></i> 修改-->
            <!--</a>-->
            <!--<a class="btn btn-danger btn-del btn-del disabled" onclick="$.operate.deleteMerchanrt()" shiro:hasPermission="manager:merchant:remove">-->
                <!--<i class="fa fa-remove"></i> 删除-->
            <!--</a>-->
            <a class="btn btn-warning" onclick="$.table.exportExcel()"
               shiro:hasPermission="manager:sign:customerInfo:export">
                <i class="fa fa-download"></i> 导出
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>
<div th:include="include :: footer"></div>
<script th:inline="javascript">
    var signs = [[${@dict.getType('sign_status')}]];
    var prefix = ctx + "manager/signCustomerInfo";
    layui.use('laydate',function () {
        var laydate = layui.laydate;
        var startDate = laydate.render({
            elem: '#startTime',
            type: 'date',
            format: 'yyyy-MM-dd',
            done: function(value, date){
                endDate.config.min ={
                    year:date.year,
                    month:date.month-1,
                    date: date.date,
                    hours: 0,
                    minutes: 0,
                    seconds : 0
                };
            }
        });
        var endDate = laydate.render({
            elem: '#endTime',
            type: 'date',
            format: 'yyyy-MM-dd',
            done: function(value,date){
                startDate.config.max={
                    year:date.year,
                    month:date.month-1,//注意是month-1，写在date上的话你后边的日期选择不了
                    date: date.date,
                    hours: 0,
                    minutes: 0,
                    seconds : 0
                }
            }
        });
    })
    $(function () {
        var options = {
            url: prefix + "/list",
            // createUrl: prefix + "/baseInfoInit",
            // updateUrl: prefix + "/info",
            // removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            modalName: "",
            showExport: true,
            columns: [{
                checkbox: true
            },
                {
                    field: 'taxSourceId',
                    title: '签约甲方ID',
                }, {
                    field: 'taxSourceName',
                    title: '签约甲方',
                }, {
                    field: 'id',
                    title: '签约灵工ID',
                }, {
                    field: 'name',
                    title: '签约灵工',
                }, {
                    field: 'post',
                    title: '签约岗位'
                }, {
                    field: 'merchantName',
                    title: '签约商户'
                }, {
                    field: 'idNumber',
                    title: '身份证号',
                }, {
                    field: 'mobile',
                    title: '手机号',
                }, {
                    field: 'createTime',
                    title: '创建时间',
                }, {
                    field: 'sendTime',
                    title: '签约发起时间',
                }, {
                    field: 'signTime',
                    title: '签约时间',
                }, {
                    field: 'signStatus',
                    title: '签约状态',
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(signs, row.signStatus);
                    }
                }, {
                    field: 'comment',
                    title: '失败原因',
                }, ]
        };
        $.table.init(options);
    });
</script>
</body>
</html>