<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('新增完税证明')"/>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-taxPaymentCertificate-add">
        <div class="form-group">
            <label class="col-sm-3 control-label">文件名称：</label>
            <div class="col-sm-8">
                <input name="name" class="form-control" type="text" readonly>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">商户名称：</label>
            <div class="col-sm-8">
                <input name="merchantName" class="form-control" type="text" readonly>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">文件上传：</label>
            <div class="col-sm-8">
                <input type="file" id="file" onchange="filechange(event)" style="display: none" accept=".doc,.pdf,.docx"/>
                <a href="javascript:onBanner()" class="btn btn-danger">选择文件</a>
                <span id="filename"></span>
            </div>
        </div>
    </form>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript">
    var paymentDateil = JSON.parse(sessionStorage.getItem("paymentDateil"))
    $("input[name='name']").val(paymentDateil.name)
    $("input[name='merchantName']").val(paymentDateil.merchantName)
    $("#filename").text(paymentDateil.fileName)
    var resFileURL = ""
    var arr = []
    var merchant = {}
    var fileUrl;
    var saveFileName; 
    var files;
    var option ={
        fileUrl: ""
    }
    function onBanner() {
        $("#file").click();
    }
    var filechange=function(event){
        files = event.target.files, file;
        if (files && files.length > 0) {
            file = files[0];
            if(file.size > 1024 * 1024 * 10) {
                alert('文件大小不能超过 10MB!');
                return false;
            }
            var reader = new FileReader();
            reader.onload = function(e) {
                fileUrl = e.target.result;
                if((file.type).indexOf("pdf")==-1){
                    $.modal.alertWarning("文件格式错误，请上传文件类型,如：pdf后缀的文件。");
                } else {
                    option.fileUrl = fileUrl
                }
            }
            $("#filename").text(file.name);
            reader.readAsDataURL(file);
        }
    };
    function getBlob()
    {
        var url = option.fileUrl;

        if(url!="") {
            if(url.indexOf("data:")==0) {
                var b64 = url.replace('data:application/pdf;', '');
            }
            return file;
        }
    }
    var newFileName;
    function submitHandler() {
        var url = getBlob()
        var formdata = new FormData();
        formdata.append("file", url);
        $.ajax({
            url: ctx + "common/upload",
            data: formdata,
            type: "post",
            processData: false,
            contentType: false,
            success: function(result) {
                resFileURL = result.url
                var name = $("input[name='name']").val()
                if(result.fileName == undefined||result.fileName == ''){
                    newFileName = paymentDateil.fileName
                }else {
                    newFileName = result.fileName
                }
                var params = {
                    id:paymentDateil.id,
                    name:name,
                    fileName:newFileName
                }
                params = JSON.stringify(params)
                $.ajax({
                    url: "/manager/taxPaymentCertificate/edit",
                    data: params,
                    type: "post",
                    processData: false,
                    contentType: "application/json",
                    beforeSend: function () {
                        $.modal.loading("正在处理中，请稍后...");
                        $.modal.disable();
                    },
                    success: function(result) {
                        if (typeof callback == "function") {
                            callback(result);
                        }
                        $.operate.successCallback(result);
                    }
                })
            }
        })
    }
    var prefix = ctx + "business/taxPaymentCertificate"
    $("#form-taxPaymentCertificate-add").validate({
        rules: {
            xxxx: {
                required: true,
            },
        },
        focusCleanup: true
    });

    // function submitHandler() {
    //
    //
    // }
</script>
</body>
</html>
