<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mmtax.business.mapper.BatchPaymentRecordMapper">

    <resultMap type="com.mmtax.business.domain.BatchPaymentRecord" id="BatchPaymentRecordResult">
        <result property="id" column="id"/>
        <result property="trxExternalNo" column="trx_external_no"/>
        <result property="batchNo" column="batch_no"/>
        <result property="paymentChannel" column="payment_channel"/>
        <result property="paymentCount" column="payment_count"/>
        <result property="paymentAmount" column="payment_amount"/>
        <result property="overCharge" column="over_charge"/>
        <result property="creater" column="creater"/>
        <result property="operator" column="operator"/>
        <result property="paymentAmount" column="payment_amount"/>
        <result property="paymentCompleteCount" column="payment_complete_count"/>
        <result property="paymentActualAmount" column="payment_actual_amount"/>
        <result property="status" column="status"/>
        <result property="checkStatus" column="check_status"/>
        <result property="confirmStatus" column="confirm_status"/>
        <result property="payStatus" column="pay_status"/>
        <result property="merchantId" column="merchant_id"/>
        <result property="providerId" column="provider_id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="taskName" column="task_name"/>
    </resultMap>

    <select id="getListMerchantPaymentRecord"
            resultType="com.mmtax.business.dto.MerchantBatchPaymentRecordDTO">
        select
        id as id,
        trx_external_no as trxExternalNo,
        batch_no as batchNo,
        payment_channel as paymentChannel,
        payment_count as count,
        payment_amount as amount,
        payment_actual_amount as actualAmount,
        create_time as createTime,
        status as status,
        creater as creater,
        operator as operator
        from
        tbl_batch_payment_record
        where
        merchant_id = #{merchantId} and batch_no not like '%-cancel'
        <if test="startDate != null and endDate != null and startDate != '' and endDate != ''">
            and create_time between concat(#{startDate},' 00:00:00') and concat(#{endDate},' 23:59:59')
        </if>
        <if test="status != null">
            and status = #{status}
        </if>
        <if test="batchNo != null and batchNo != ''">
            and batch_no like concat('%',#{batchNo},'%')
        </if>
        <if test="paymentChannel != null and paymentChannel != ''">
            and payment_channel = #{paymentChannel}
        </if>
        order by
        create_time desc
        limit #{startIndex},#{pageSize}
    </select>

    <select id="getCountMerchantPaymentRecord" resultType="java.lang.Integer">
        select
        count(0)
        from
        tbl_batch_payment_record
        where
        merchant_id = #{merchantId} and batch_no not like '%-cancel'
        <if test="startDate != null and endDate != null and startDate != '' and endDate != ''">
            and create_time between concat(#{startDate},' 00:00:00') and concat(#{endDate},' 23:59:59')
        </if>
        <if test="status != null">
            and status = #{status}
        </if>
        <if test="batchNo != null and batchNo != ''">
            and batch_no like concat('%',#{batchNo},'%')
        </if>
        <if test="paymentChannel != null and paymentChannel != ''">
            and payment_channel = #{paymentChannel}
        </if>
    </select>


    <select id="getListManagerPaymentRecord"
            resultType="com.mmtax.business.dto.ManagerBatchPaymentRecordDTO">
        select
        t1.id as id,
        t2.id as merchantId,
        t1.trx_external_no as trxExternalNo,
        t1.batch_no as batchNo,
        t1.payment_channel as paymentChannel,
        t1.payment_count as count,
        t1.payment_amount as amount,
        t1.payment_actual_amount as actualAmount,
        t1.create_time as createTime,
        t1.status as status,
        t1.payment_count as paymentCount,
        t1.creater as creater,
        t1.operator as operator,
        t2.merchant_name as merchantName,
        t3.user_name as saleName
        from
        tbl_batch_payment_record t1
        left join
        tbl_merchant_info t2 on t1.merchant_id = t2.id
        left join
        sys_user t3 on t3.user_id = t2.belong_saler
        where
        1=1
        <if test="startDate != null and endDate != null and startDate != '' and endDate != ''">
            and t1.create_time between concat(#{startDate},' 00:00:00') and concat(#{endDate},' 23:59:59')
        </if>
        <if test="status != null and status != '' ">
            and t1.status = #{status}
        </if>
        <if test="batchNo != null and batchNo != ''">
            and t1.batch_no like concat('%',#{batchNo},'%')
        </if>
        <if test="paymentChannel != null and paymentChannel != ''">
            and t1.payment_channel = #{paymentChannel}
        </if>
        <if test="trxExternalNo != null and trxExternalNo != ''">
            and t1.trx_external_no like concat('%',#{trxExternalNo},'%')
        </if>
        <if test="merchantName != null and merchantName != ''">
            and t2.merchant_name like concat('%',#{merchantName},'%')
        </if>
        <if test="saleName != null and saleName != ''">
            and t3.user_name like concat('%',#{saleName},'%')
        </if>
        <if test="saleId != null and saleId != ''">
            and t2.belong_saler = #{saleId}
        </if>
        <!-- 数据范围过滤 -->
        ${params.dataScope}
        order by
        t1.create_time desc
    </select>
    <select id="getListBalancePaymentRecord" resultType="com.mmtax.business.dto.MerchantBalanceDTO">
        SELECT
        t1.id,
        t1.trx_external_no AS trxExternalNo,
        t1.create_time AS createTime,
        t1.payment_amount AS paymentAmount,
        t1.payment_actual_amount AS paymentActualAmount,
        '安薪宝' AS subject,
        0 AS complementAmount,
        0 AS serviceFeeDeduction,
        SUM(t2.charge) AS serviceFee,
        t1.status AS status
        FROM
        tbl_batch_payment_record t1
        LEFT JOIN
        tbl_trx_order t2
        ON
        t1.id = t2.batch_payment_record_id
        WHERE
        t1.merchant_id = #{merchantId}
        <if test="startDate != null and endDate != null and startDate != '' and endDate != ''">
            and t1.create_time between concat(#{startDate},' 00:00:00') and concat(#{endDate},' 23:59:59')
        </if>
        GROUP BY
        t1.id

        <if test="free != 1">
            HAVING SUM(t2.charge) > 0
        </if>
        limit #{startIndex},#{pageSize}
        ORDER BY
        create_time DESC
    </select>
    <select id="getCountBalancePaymentRecord" resultType="java.lang.Integer">
        SELECT
        COUNT(*)
        FROM
        (SELECT
        COUNT(t1.id)
        FROM
        tbl_batch_payment_record t1
        LEFT JOIN
        tbl_trx_order t2
        ON
        t1.id = t2.batch_payment_record_id
        WHERE
        t1.merchant_id = #{merchantId}
        <if test="startDate != null and endDate != null and startDate != '' and endDate != ''">
            and create_time between concat(#{startDate},' 00:00:00') and concat(#{endDate},' 23:59:59')
        </if>
        GROUP BY
        t1.id
        <if test="free != 1">
            HAVING SUM(t2.charge) > 0
        </if>)t
    </select>
    <select id="getListBalancePaymentRecordDetail" resultType="com.mmtax.business.dto.MerchantBalanceDetailDTO">
        SELECT
        id,
        order_serial_num AS orderSerialNum,
        merchant_serial_num AS merchantSerialNum,
        create_time AS createTime,
        update_time AS updateTime,
        subject_conscription AS subjectConscription,
        payee_bank_card AS payeeBankCard,
        payment_channel AS paymentChannel,
        amount,
        charge,
        0 AS deductionCharge,
        charge AS actualCharge,
        actual_amount AS actualAmount,
        order_status AS orderStatus
        FROM
        tbl_trx_order
        WHERE
        batch_payment_record_id = #{batchPaymentRecordId}
        <if test="startIndex != null">
            limit #{startIndex},#{pageSize}
        </if>
        ORDER BY
        create_time DESC
    </select>
    <select id="getCountBalancePaymentRecordDetail" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM tbl_trx_order
        WHERE batch_payment_record_id = #{batchPaymentRecordId}
    </select>
    <select id="getTotalRecord" resultType="com.mmtax.business.dto.RecordNumberDTO">
        SELECT batch_no              AS batchNo,
               status                AS status,
               payment_count         AS merchantNum,
               payment_count         AS systemNum,
               payment_amount        AS merchantAmount,
               payment_actual_amount AS systemAmount,
               merchant_id           AS merchantId
        FROM tbl_batch_payment_record
        WHERE id = #{recordId}

    </select>
    <select id="getBatchPaymentDetailDTO" resultType="com.mmtax.business.dto.MerchantBatchPaymentDetailDTO">
        SELECT id,
               order_serial_num     AS orderSerialNum,
               merchant_serial_num  AS merchantSerialNum,
               create_time          AS createTime,
               update_time          AS updateTime,
               subject_conscription AS subjectConscription,
               payee_bank_card      AS payeeBankCard,
               payment_channel      AS paymentChannel,
               payee_id_card_no     AS payeeIdCardNo,
               amount,
               charge,
               0                    AS deductionCharge,
               charge               AS actualCharge,
               actual_amount        AS actualAmount,
               order_status         AS orderStatus,
               comment              AS comment
        FROM tbl_trx_order
        WHERE batch_payment_record_id = #{recordId} and order_status != 4
        ORDER BY create_time DESC
    </select>
</mapper>