<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mmtax.business.mapper.CooperationMapper">

    <resultMap type="com.mmtax.business.domain.Cooperation" id="CooperationResult">
        <result property="id" column="id"/>
        <result property="signingType" column="signing_type"/>
        <result property="paymentAdjustType" column="payment_adjust_type"/>
        <result property="settleType" column="settle_type"/>
        <result property="businessType" column="business_type"/>
        <result property="moneyModel" column="money_model"/>
        <result property="paymentModel" column="payment_model"/>
        <result property="paymentRequirement" column="payment_requirement"/>
        <result property="singleServiceRate" column="single_service_rate"/>
        <result property="inOrOutDeduction" column="in_or_out_deduction"/>
        <result property="mealInfoId" column="meal_info_id"/>
        <result property="rateSwitch" column="rate_switch"/>
        <result property="signSwitch"    column="sign_switch"    />
        <result property="silentSignSwitch"    column="silent_sign_switch"    />
        <result property="bigRateSwitch"    column="big_rate_switch"    />
        <result property="singleServiceBigRate"    column="single_service_big_rate"    />
        <result property="promotionSwitch"    column="promotion_switch"    />
        <result property="paymentChannel" column="payment_channel"/>
        <result property="singleQuota" column="single_quota"/>
        <result property="bankChannel" column="bank_channel"/>
        <result property="bankSingleQuota" column="bank_single_quota"/>
        <result property="alipayChannel" column="alipay_channel"/>
        <result property="alipaySingleQuota" column="alipay_single_quota"/>
        <result property="wechatChannel" column="wechat_channel"/>
        <result property="wechatSingleQuota" column="wechat_single_quota"/>
        <result property="merchantId" column="merchant_id"/>
        <result property="sendOrderSwitch"    column="send_order_switch"    />
        <result property="sendOrderMode"    column="send_order_mode"    />
        <result property="providerId" column="provider_id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>
    <select id="getCooperationInfoByMerchantId" resultType="com.mmtax.business.dto.CooperationInfoDetailDTO">
      SELECT
        t1.id AS cooperationId,
        t1.signing_type AS signingType,
        t1.payment_adjust_type AS paymentAdjustType,
        t1.settle_type AS settleType,
        t1.business_type AS businessType,
        t1.payment_model AS paymentModel ,
        t1.payment_requirement AS paymentRequirement,
        t1.single_service_rate AS singleServiceRate,
        t1.in_or_out_deduction AS inOrOutDeduction,
        t1.meal_info_id AS mealInfoId,
        t1.rate_switch AS rateSwitch,
        t1.customer_withdraw_switch AS customerWithdrawSwitch,
        t1.payment_channel AS paymentChannel,
        t1.single_quota AS singleQuota,
        t1.bank_channel as bankChannel,
        t1.bank_single_quota as bankSingleQuota,
        t1.alipay_channel as alipayChannel,
        t1.alipay_single_quota as alipaySingleQuota,
        t1.wechat_channel as wechatChannel,
        t1.wechat_single_quota as wechatSingleQuota,
        t1.sign_switch as signSwitch,
        t1.silent_sign_switch as silentSignSwitch,
        t1.single_service_big_rate as singleServiceBigRate,
        t1.big_rate_switch as bigRateSwitch,
        t1.promotion_switch as promotionSwitch,
        t1.send_order_switch as sendOrderSwitch,
        t1.send_order_mode as sendOrderMode,
        t1.money_model as moneyModel,
        t2.id AS riskId,
        t2.quota_config AS quotaConfig,
        t2.single_quota_config AS singleQuotaConfig,
        t2.temporary_quota AS temporaryQuota,
        t2.temporary_quota_begin AS temporaryQuotaBegin,
        t2.temporary_quota_end AS temporaryQuotaEnd ,
        t2.merchant_id AS merchantId ,
        t2.single_day_quota AS singleDayQuota,
        t2.cumulative_quota as cumulativeQuota,
        t1.asyn_switch AS asynSwitch,
        t1.asyn_sign_switch AS asynSignSwitch
    FROM
    tbl_cooperation t1
    LEFT JOIN
    tbl_risk_management_config t2
    ON t1.merchant_id = t2.merchant_id
    WHERE
    t1.merchant_id =#{merchant_id}
    </select>

    <select id="sumMonthAmount" resultType="java.math.BigDecimal">
        SELECT  IFNULL(SUM(actual_amount),0)
        FROM tbl_trx_order
        WHERE  order_status IN(-1,0,1)
        <if test="merchantId != null and merchantId != ''">
            AND merchant_id = #{merchantId}
        </if>
        <if test="startDate != null and startDate != '' and endDate != null and endDate != ''">
           AND create_time between concat(#{startDate},' 00:00:00') and concat(#{endDate},' 23:59:59')
        </if>


    </select>

    <select id="maxMonthTaxRate" resultType="java.math.BigDecimal">
        SELECT  IFNULL(MAX(tax_rate),0)
        FROM tbl_trx_order
        WHERE  order_status IN(-1,0,1)
        <if test="merchantId != null and merchantId != ''">
           AND merchant_id = #{merchantId}
        </if>
        <if test="startDate != null and startDate != '' and endDate != null and endDate != ''">
           AND create_time between concat(#{startDate},' 00:00:00') and concat(#{endDate},' 23:59:59')
        </if>


    </select>
</mapper>