<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mmtax.business.mapper.CusLinkMerInfoMapper">
    
    <resultMap type="com.mmtax.business.domain.CusLinkMerInfo" id="CusLinkMerInfoResult">
        <result property="id"    column="id"    />
        <result property="customerId"    column="customer_id"    />
        <result property="realName"    column="real_name"    />
        <result property="cusEsignId"    column="cus_esign_id"    />
        <result property="certificateNo"    column="certificate_no"    />
        <result property="merchantId"    column="merchant_id"    />
        <result property="merchantName"    column="merchant_name"    />
        <result property="taxSourceId"    column="tax_source_id"    />
        <result property="monthUseRate"    column="month_use_rate"    />
        <result property="providerId"    column="provider_id"    />
        <result property="reservedFieldOne"    column="reserved_field_one"    />
        <result property="reservedFieldTwo"    column="reserved_field_two"    />
        <result property="reservedFieldThree"    column="reserved_field_three"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>
    <select id="selectByCusIdMerId" resultMap="CusLinkMerInfoResult">
        select * from tbl_cus_link_mer_info
        where customer_id = #{customerId}
        and merchant_id = #{merchantId}
    </select>
    <select id="listCustomerRegisterEqualsMultiMerchant" resultMap="CusLinkMerInfoResult">
        SELECT *
        FROM tbl_cus_link_mer_info
        <if test="countNum != null">
            GROUP BY customer_id,tax_source_id HAVING COUNT(*) = #{countNum}
        </if>

    </select>

    <select id="listCustomerRegisterGreaterMultiMerchant" resultMap="CusLinkMerInfoResult">
        SELECT *
        FROM tbl_cus_link_mer_info
        <if test="countNum != null">
            GROUP BY customer_id,tax_source_id HAVING COUNT(*) > #{countNum}
        </if>

    </select>

    <select id="listCustomerOfSameMerchantByCustomerId" resultMap="CusLinkMerInfoResult">
         SELECT *
         FROM tbl_cus_link_mer_info
         <if test="customerId != null">
             WHERE customer_id = #{customerId}
         </if>


    </select>

</mapper>