<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mmtax.business.mapper.CustomerSupportMapper">

    <resultMap type="CustomerSupport" id="CustomerSupportResult">
        <result property="id" column="id"/>
        <result property="customerManager" column="customer_manager"/>
        <result property="customerManagerMobile" column="customer_manager_mobile"/>
        <result property="email" column="email"/>
        <result property="successCustomerManager" column="success_customer_manager"/>
        <result property="successCustomerManagerMobile" column="success_customer_manager_mobile"/>
        <result property="successCustomerEmail" column="success_customer_email"/>
        <result property="businessSupport" column="business_support"/>
        <result property="merchantId" column="merchant_id"/>
        <result property="providerId" column="provider_id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>
    <select id="getCoustomerSupportBymerchantId" resultMap="CustomerSupportResult">
        SELECT *
        FROM tbl_customer_support
        WHERE merchant_id = #{merchantId}
    </select>
    <select id="getListManagerCustomerSupport" resultType="com.mmtax.business.dto.ManagerCustomerSupportDTO"
            parameterType="com.mmtax.business.dto.ManagerCustomerSupportDTO">
        select
        t1.id as id,
        t1.customer_manager as customerManager,
        t1.customer_manager_mobile as customerManagerMobile,
        t1.email as email,
        t1.success_customer_manager as successCustomerManager,
        t1.success_customer_manager_mobile as successCustomerManagerMobile,
        t1.success_customer_email as successCustomerEmail,
        t1.business_support as businessSupport,
        t2.merchant_name as merchantName,
        t3.user_name as saleName
        from
        tbl_customer_support t1
        left join
        tbl_merchant_info t2
        on
        t1.merchant_id = t2.id
        left join
        sys_user t3
        on t2.belong_saler = t3.user_id
        where
        1=1
        <if test="merchantName != null and merchantName != ''">
            and t2.merchant_name like concat('%',#{merchantName},'%')
        </if>
        <if test="saleId != null and saleId != ''">
            and t2.belong_saler = #{saleId}
        </if>
        <if test="saleName != null and saleName != null">
            and t3.user_name like concat('%',#{saleName},'%')
        </if>
        <!-- 数据范围过滤 -->
        ${params.dataScope}
        order by
        t1.create_time desc

    </select>


</mapper>