<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mmtax.business.mapper.CustomerDayAmountChangeMapper">
    
    <resultMap type="com.mmtax.business.domain.CustomerDayAmountChange" id="CustomerDayAmountChangeResult">
        <result property="id"    column="id"    />
        <result property="merchantId"    column="merchant_id"    />
        <result property="customerId"    column="customer_id"    />
        <result property="period"    column="period"    />
        <result property="startAmount"    column="start_amount"    />
        <result property="endAmoutnt"    column="end_amoutnt"    />
        <result property="diffAmount"    column="diff_amount"    />
        <result property="providerId"    column="provider_id"    />
        <result property="reservedFieldOne"    column="reserved_field_one"    />
        <result property="reservedFieldTwo"    column="reserved_field_two"    />
        <result property="reservedFieldThree"    column="reserved_field_three"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>
    <select id="selectListByTime" resultType="com.mmtax.business.dto.IncomeWithdrawDTO">
        select
        period as incomeWithdrawTime,
        end_amoutnt as balance
        from tbl_customer_day_amount_change
        where 1 = 1
        and customer_id = #{customerId}
        and period >= #{startDate} and period &lt;= #{endDate}
        order by create_time
    </select>
</mapper>