<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mmtax.business.mapper.CustomerAccountMapper">
    
    <resultMap type="com.mmtax.business.domain.CustomerAccount" id="CustomerAccountResult">
        <result property="id"    column="id"    />
        <result property="customerId"    column="customer_id"    />
        <result property="amount"    column="amount"    />
        <result property="frozenAmount"    column="frozen_amount"    />
        <result property="usableAmount"    column="usable_amount"    />
        <result property="status"    column="status"    />
        <result property="version"    column="version"    />
        <result property="providerId"    column="provider_id"    />
        <result property="reservedFieldOne"    column="reserved_field_one"    />
        <result property="reservedFieldTwo"    column="reserved_field_two"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>
    <select id="selectByCustomerIdUpCache" flushCache="true" useCache="false" resultMap="CustomerAccountResult">
        select *
        from tbl_customer_account
        where customer_id = #{customerId}
        and status = 'ACTIVE'
    </select>
    <select id="selectByCustomerId" resultMap="CustomerAccountResult">
        select *
        from tbl_customer_account
        where customer_id = #{customerId}
        and status = 'ACTIVE'
    </select>
    <select id="listManagerCustomerAccountDTO"
            parameterType="com.mmtax.business.dto.ManagerCustomerAccountQueryDTO"
            resultType="com.mmtax.business.dto.ManagerCustomerAccountDTO">
        SELECT
        t.id,
        t.amount,
        t.frozen_amount AS frozenAmount,
        t.usable_amount AS usableAmount,
        t.`status`,
        t.customer_id AS customerId,
        t1.real_name AS realName,
        t1.customer_no AS customerNo,
        t1.merchant_id AS merchantId,
        t2.merchant_name AS merchantName,
        t.create_time AS createTime,
        t4.tax_sounrce_company_name AS taxSourceompanyName
        FROM
        tbl_customer_account t
        LEFT JOIN tbl_customer_info t1 ON t.customer_id = t1.id
        LEFT JOIN tbl_merchant_info t2 ON t1.merchant_id = t2.id
        LEFT JOIN tbl_online_customer_info t3 ON t1.id = t3.customer_id
        LEFT JOIN tbl_tax_sounrce_company t4 ON t4.id = t3.tax_source_id
        WHERE
        1 = 1
        <if test="realName != null and realName != ''">
            AND t1.real_name LIKE concat('%', #{realName}, '%')
        </if>
        <if test="merchantName != null and merchantName != ''">
            AND t2.merchant_name LIKE concat('%', #{merchantName}, '%')
        </if>
        <if test="startDate != null and startDate != '' and endDate != null and endDate != ''">
            and t.create_time BETWEEN #{startDate} AND #{endDate}
        </if>
        ORDER BY
        t.create_time DESC
    </select>
</mapper>