<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mmtax.business.mapper.CustomerTaskMapper">
    
    <resultMap type="com.mmtax.business.domain.CustomerTask" id="CustomerTaskResult">
        <result property="id"    column="id"    />
        <result property="taskDetailId"    column="task_detail_id"    />
        <result property="customerId"    column="customer_id"    />
        <result property="name"    column="name"    />
        <result property="mobileNo"    column="mobile_no"    />
        <result property="certificateNo"    column="certificate_no"    />
        <result property="remark"    column="remark"    />
        <result property="providerId"    column="provider_id"    />
        <result property="reservedFieldOne"    column="reserved_field_one"    />
        <result property="reservedFieldTwo"    column="reserved_field_two"    />
        <result property="reservedFieldThree"    column="reserved_field_three"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <select id="lsitTask"
            parameterType="com.mmtax.business.dto.CustomerTaskDTO"
            resultType="com.mmtax.business.dto.CustomerTaskResultDTO">
        SELECT
        t2.task_name AS taskName,
        t3.`task_begin_time` AS taskBeginTime,
        t2.id AS customerTaskId,
        t2.task_status AS taskStatus
        FROM tbl_customer_task t1
        LEFT JOIN tbl_batch_task_detail t2 ON t1.`task_detail_id`  = t2.id
        LEFT JOIN `tbl_batch_task_record` t3 ON t3.id = t2.`batch_task_record_id`
        WHERE 1 = 1
         <if test="null != certificateNo and certificateNo != ''">
             AND t1.certificate_no = #{certificateNo}
         </if>
         <if test="null != taskName and '' != taskName" >
             AND t2.task_name LIKE concat('%',#{taskName},'%')
         </if>
         order by t2.update_time DESC
    </select>
    <select id="selectBymerchantIdIdCardNo" resultType="integer">
        select count(0)
        from tbl_customer_task t
        left join tbl_batch_task_detail t2 ON t.`task_detail_id`  = t2.id
        where t2.task_status = 1
        and t2.merchant_id = #{merchantId}
        and t.certificate_no = #{idCardNo}
    </select>
</mapper>