<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mmtax.business.mapper.CustomerInfoMapper">

    <resultMap type="com.mmtax.business.domain.CustomerInfo" id="CustomerInfoResult">
        <result property="id"    column="id"    />
        <result property="customerNo"    column="customer_no"    />
        <result property="memberName"    column="member_name"    />
        <result property="realName"    column="real_name"    />
        <result property="certificateType"    column="certificate_type"    />
        <result property="certificateNo"    column="certificate_no"    />
        <result property="mobile"    column="mobile"    />
        <result property="email"    column="email"    />
        <result property="withdrawPass"    column="withdraw_pass"    />
        <result property="salt"    column="salt"    />
        <result property="merchantId"    column="merchant_id"    />
        <result property="verifyStatus"    column="verify_status"    />
        <result property="effective"    column="effective"    />
        <result property="monthUseRate"    column="month_use_rate"    />
        <result property="customerWarn"    column="customer_warn"    />
        <result property="providerId"    column="provider_id"    />
        <result property="reservedFieldOne"    column="reserved_field_one"    />
        <result property="reservedFieldTwo"    column="reserved_field_two"    />
        <result property="reservedFieldThree"    column="reserved_field_three"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="taskName" column="task_name" />
    </resultMap>
    <select id="selectListByTimeAsc" resultMap="CustomerInfoResult">
        select * from tbl_customer_info
        where certificate_type = 'ID_CARD' and effective = 1
        and certificate_no = #{idCardNo}
        order by create_time
    </select>
    <select id="selectByCustomerNo" resultMap="CustomerInfoResult">
        select * from tbl_customer_info
        where customer_no = #{customerNo}
    </select>
    <select id="selectByIdCardNoAndTaxSourceId" resultMap="CustomerInfoResult">
        select t1.* from tbl_customer_info t1
        left join tbl_online_customer_info t2 on t1.id = t2.customer_id
        where certificate_type = 'ID_CARD' and effective = 1
        and t1.certificate_no = #{idCardNo}
        and t2.tax_source_id = #{taxSourceId}
    </select>
    <select id="listManagerCustomerInfoDTO"
            parameterType="com.mmtax.business.dto.ManagerCustomerInfoQueryDTO"
            resultType="com.mmtax.business.dto.ManagerCustomerInfoDTO">
        SELECT
        t.id,
        t.real_name AS realName,
        t.customer_no AS customerNo,
        t.merchant_id AS merchantId,
        t.certificate_no AS certificateNo,
        t.create_time AS createTime,
        t2.wechat_number AS wechatNumber,
        t2.wechat_name AS wechatName,
        t4.tax_sounrce_company_name AS taxSourceompanyName,
        t.create_time AS createTime,
        t.customer_warn AS customerWarn
        FROM
        tbl_customer_info t
        LEFT JOIN tbl_customer_wechat_info t2 ON t.`id` = t2.`customer_id`
        LEFT JOIN tbl_online_customer_info t3 ON t.id = t3.customer_id
        LEFT JOIN tbl_tax_sounrce_company t4 ON t4.id = t3.tax_source_id
        WHERE
        1 = 1
        AND t.effective = 1
        <if test="realName != null and realName != ''">
            AND t.real_name LIKE concat('%', #{realName}, '%')
        </if>
        <if test="startDate != null and startDate != '' and endDate != null and endDate != ''">
            and t.create_time BETWEEN #{startDate} AND #{endDate}
        </if>
        <if test="customerWarn != null">
            and t.customer_warn = #{customerWarn}
        </if>
        ORDER BY
        t.create_time DESC
    </select>

    <select id="listCustomerRegisterMultiMerchant" resultMap="CustomerInfoResult">
        SELECT *
        FROM tbl_customer_info
        <if test="certificateNo != null">
            GROUP BY certificate_no HAVING COUNT(certificate_no) >#{certificateNo}
        </if>
    </select>

    <update id="updateCustomerWarn">
        update tbl_customer_info set customer_warn = #{customerWarn}
        where id = #{customerId}
    </update>

</mapper>