<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mmtax.business.mapper.CustomerProtocolMapper">
    
    <resultMap type="com.mmtax.business.domain.CustomerProtocol" id="CustomerProtocolResult">
        <result property="id"    column="id"    />
        <result property="batchNo"    column="batch_no"    />
        <result property="cusEsignId"    column="cus_esign_id"    />
        <result property="thirdPartyUserId"    column="third_party_user_id"    />
        <result property="name"    column="name"    />
        <result property="conInfoId"    column="con_info_id"    />
        <result property="fileName"    column="file_name"    />
        <result property="sendSignUrlTime"    column="send_sign_url_time"    />
        <result property="sendSignUrlStatus"    column="send_sign_url_status"    />
        <result property="signTime"    column="sign_time"    />
        <result property="signStatus"    column="sign_status"    />
        <result property="comment"    column="comment"    />
        <result property="remark"    column="remark"    />
        <result property="espireTime"    column="espire_time"    />
        <result property="expireStatus"    column="expire_status"    />
        <result property="esignFlowId"    column="esign_flow_id"    />
        <result property="merchantId"    column="merchant_id"    />
        <result property="taxSourceId"    column="tax_source_id"    />
        <result property="accountId"    column="account_id"    />
        <result property="merchantSerialNum"    column="merchant_serial_num"    />
        <result property="signSerialNum"    column="sign_serial_num"    />
        <result property="postId"    column="post_id"    />
        <result property="post"    column="post"    />
        <result property="providerId"    column="provider_id"    />
        <result property="reservedFieldOne"    column="reserved_field_one"    />
        <result property="reservedFieldTwo"    column="reserved_field_two"    />
        <result property="reservedFieldThree"    column="reserved_field_three"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>
    <select id="selectByAccountId" resultMap="CustomerProtocolResult">
        select * from tbl_customer_protocol
        where account_id = #{accountId}
        and merchant_id = #{merchantId}
        and sign_status != 3 and sign_status != 4
        and expire_status = 0
    </select>
    <select id="selectByMerchantSerialNum" resultMap="CustomerProtocolResult">
        select * from tbl_customer_protocol
        where merchant_serial_num = #{signSerialNum}
        and merchant_id = #{merchantId}
    </select>
    <select id="selectByAccountIdAndEsignFlowId" resultMap="CustomerProtocolResult">
        select * from tbl_customer_protocol
        where account_id = #{accountId}
        and esign_flow_id = #{esignFlowId}
    </select>
    <select id="selectByConInfoIdAndAccountId" resultMap="CustomerProtocolResult">
        select * from tbl_customer_protocol
        where con_info_id = #{conInfoId}
        <if test="accountId != null and accountId != ''">
            and account_id = #{accountId}
        </if>
        and sign_status != 3 and sign_status != 4
    </select>
    <select id="getNonFinalStatusCustomerProtocolBy"
            resultMap="CustomerProtocolResult">
        SELECT
            *
        FROM
            tbl_customer_protocol t
        WHERE
            t.sign_status = 1
        AND t.cus_esign_id = #{cusEsignId}
        and t.merchant_id = #{merchantId}
    </select>
    <select id="selectByCusEsignId" resultMap="CustomerProtocolResult">
        SELECT
            *
        FROM tbl_customer_protocol
        WHERE sign_status != 3 and sign_status != 4
        and expire_status = 0
        AND cus_esign_id = #{cusEsignId}
        order by create_time desc
    </select>
    <select id="selectByIdCardNoSignStatus" resultMap="CustomerProtocolResult">
        select *
        from tbl_customer_protocol t
        left join tbl_customer_esign_info t1 on t.cus_esign_id = t1.id
        where t.expire_status = 0
        and t1.id_number = #{idCardNo}
        and t.sign_status = #{signStatus}
    </select>

    <select id="countSignSms" resultType="java.lang.Integer">
        select count(*) from tbl_customer_protocol
        where cus_esign_id = #{cusEsignId}
        and send_sign_url_status = #{sendSignUrlStatus}
        and merchant_id = #{merchantId}
        and update_time
        BETWEEN concat(date_format(now(),'%Y-%m-%d'),' 00:00:00') AND concat(date_format(now(),'%Y-%m-%d'),' 23:59:59')
    </select>
</mapper>