<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mmtax.business.mapper.EsignFieldsMapper">
    
    <resultMap type="com.mmtax.business.domain.EsignFields" id="EsignFieldsResult">
        <result property="id"    column="id"    />
        <result property="esignFlowId"    column="esign_flow_id"    />
        <result property="flowId"    column="flow_id"    />
        <result property="contractInfoId"    column="contract_info_id"    />
        <result property="fileId"    column="file_id"    />
        <result property="cusEsignId"    column="cus_esign_id"    />
        <result property="authorizedAccountId"    column="authorized_account_id"    />
        <result property="signerAccountId"    column="signer_account_id"    />
        <result property="orderNum"    column="order_num"    />
        <result property="posPage"    column="pos_page"    />
        <result property="posX"    column="pos_x"    />
        <result property="posY"    column="pos_y"    />
        <result property="width"    column="width"    />
        <result property="thirdOrderNo"    column="third_order_no"    />
        <result property="providerId"    column="provider_id"    />
        <result property="reservedFieldOne"    column="reserved_field_one"    />
        <result property="reservedFieldTwo"    column="reserved_field_two"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

</mapper>