<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mmtax.business.mapper.EsignTemplateMapper">
    
    <resultMap type="com.mmtax.business.domain.EsignTemplate" id="EsignTemplateResult">
        <result property="id"    column="id"    />
        <result property="templateName"    column="template_name"    />
        <result property="templateId"    column="template_id"    />
        <result property="taxSourceId"    column="tax_source_id"    />
        <result property="providerId"    column="provider_id"    />
        <result property="reservedFieldOne"    column="reserved_field_one"    />
        <result property="reservedFieldTwo"    column="reserved_field_two"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>
    <select id="selectByTaxSourceId" resultMap="EsignTemplateResult">
        select * from tbl_esign_template
        where tax_source_id = #{taxSourceId}
        order by create_time
    </select>
</mapper>