<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mmtax.business.mapper.EsignTaxSourceMapper">
    
    <resultMap type="com.mmtax.business.domain.EsignTaxSource" id="EsignTaxSourceResult">
        <result property="id"    column="id"    />
        <result property="thirdPartyUserId"    column="third_party_user_id"    />
        <result property="name"    column="name"    />
        <result property="idType"    column="id_type"    />
        <result property="idNumber"    column="id_number"    />
        <result property="cusEsignId"    column="cus_esign_id"    />
        <result property="accountId"    column="account_id"    />
        <result property="taxSourceId"    column="tax_source_id"    />
        <result property="status"    column="status"    />
        <result property="autoSignStatus"    column="auto_sign_status"    />
        <result property="orgId"    column="org_id"    />
        <result property="color"    column="color"    />
        <result property="type"    column="type"    />
        <result property="sealStatus"    column="seal_status"    />
        <result property="fileKey"    column="file_key"    />
        <result property="sealId"    column="seal_id"    />
        <result property="comment"    column="comment"    />
        <result property="providerId"    column="provider_id"    />
        <result property="reservedFieldOne"    column="reserved_field_one"    />
        <result property="reservedFieldTwo"    column="reserved_field_two"    />
        <result property="reservedFieldThree"    column="reserved_field_three"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>
    <select id="selectByTaxSourceId" resultMap="EsignTaxSourceResult">
        select * from tbl_esign_tax_source
        where tax_source_id = #{taxSourceId}
    </select>
    <select id="selectByOrgId" resultMap="EsignTaxSourceResult">
        select * from tbl_esign_tax_source
        where org_id = #{orgId}
    </select>
</mapper>