<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mmtax.business.mapper.InvoiceRecordMapper">
    
    <resultMap type="InvoiceRecord" id="InvoiceRecordResult">
        <result property="id"    column="id"    />
        <result property="merchantId"    column="merchant_id"    />
        <result property="taxSourceId"    column="tax_source_id"    />
        <result property="behalfMainBody"    column="behalf_main_body"    />
        <result property="invoiceAmount"    column="invoice_amount"    />
        <result property="taxRate"    column="tax_rate"    />
        <result property="taxAmount"    column="tax_amount"    />
        <result property="unitPrice"    column="unit_price"    />
        <result property="specification"    column="specification"    />
        <result property="invoiceNature"    column="invoice_nature"    />
        <result property="invoiceStatus"    column="invoice_status"    />
        <result property="invoiceType"    column="invoice_type"    />
        <result property="invoiceSerialNum"    column="invoice_serial_num"    />
        <result property="invoiceNo"    column="invoice_no"    />
        <result property="invoiceTitle"    column="invoice_title"    />
        <result property="taxpayerIdentificationNumber"    column="taxpayer_identification_number"    />
        <result property="companyAddress"    column="company_address"    />
        <result property="invoiceMobile"    column="invoice_mobile"    />
        <result property="bankName"    column="bank_name"    />
        <result property="bankAccountNo"    column="bank_account_no"    />
        <result property="invoiceSubjectId"    column="invoice_subject_id"    />
        <result property="invoiceContent"    column="invoice_content"    />
        <result property="addressId"    column="address_id"    />
        <result property="addresseeName"    column="addressee_name"    />
        <result property="addressMobile"    column="address_mobile"    />
        <result property="address"    column="address"    />
        <result property="expressCompanyName"    column="express_company_name"    />
        <result property="expressNo"    column="express_no"    />
        <result property="expressCompanyNameReturn"    column="express_company_name_return"    />
        <result property="expressNoReturn"    column="express_no_return"    />
        <result property="returnReason"    column="return_reason"    />
        <result property="rejectedReason"    column="rejected_reason"    />
        <result property="auditUserId"    column="audit_user_id"    />
        <result property="auditUserName"    column="audit_user_name"    />
        <result property="remark"    column="remark"    />
        <result property="returnRemark"    column="return_remark"    />
        <result property="delStatus"    column="del_status"    />
        <result property="providerId"    column="provider_id"    />
        <result property="reservedFieldOne"    column="reserved_field_one"    />
        <result property="reservedFieldTwo"    column="reserved_field_two"    />
        <result property="reservedFieldThree"    column="reserved_field_three"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <select id="queryIdByInvoiceSerialum" resultType="java.lang.Integer">
       SELECT id
        FROM tbl_invoice_record
        WHERE invoice_serial_num = #{invoiceSerialum}

    </select>

    <update id="updateReturnInvoice">
        update tbl_invoice_record
        SET  return_reason=#{returnReason},
        express_company_name_return =#{expressCompanyNameReturn},
        express_no_return=#{expressNoReturn},
        return_remark=#{returnRemark},invoice_status=4,update_time=#{updateTime}
        WHERE invoice_serial_num =#{invoiceSerialum}

    </update>

    <update id="updateInvoiceStatus" >
        update tbl_invoice_record set invoice_status=#{invoiceStatus},update_time=#{updateTime}
        WHERE  merchant_id = #{merchantId} and invoice_serial_num = #{invoiceSerialNum}
    </update>

    <select id="selectIDByinvoiceSerialNum" resultType="java.lang.Integer">
        select id
        FROM tbl_invoice_record
        WHERE merchant_id = #{merchantId} and invoice_serial_num=#{invoiceSerialNum}
    </select>

    <select id="queryInvoiceRecordByInvoiceSerialNum" resultType="com.mmtax.business.dto.InvoiceApplicationDetailDTO">
        SELECT
        id,
        invoice_serial_num AS invoiceSerialNum,
        invoice_amount AS invoiceAmount,
        invoice_nature AS invoiceNature,
        invoice_status AS invoiceStatus,
        invoice_type AS invoiceType,
        invoice_title AS invoiceTitle,
        create_time AS createTime,
        invoice_no AS invoiceNo,
        addressee_name AS addresseeName,
        address,
        express_company_name AS expressCompanyName,
        express_no AS expressNo,
        express_company_name_return AS expressCompanyNameReturn,
        express_no_return AS expressNoReturn ,
        address_mobile AS addressMobile,
        return_reason AS returnReason,
        rejected_reason AS rejectedeason,
        remark
        FROM tbl_invoice_record
        WHERE  merchant_id = #{merchantId} and invoice_serial_num=#{invoiceSerialNum}

    </select>

    <select id="queryInvoiceApplyRecords" resultMap="InvoiceRecordResult">
        SELECT
                create_time,
                invoice_serial_num,
                invoice_content,
                invoice_title,
                invoice_amount,
                tax_rate,tax_amount,
                invoice_status
        FROM tbl_invoice_record
        WHERE  1 = 1
        <if test="merchantId != null">
            and merchant_id = #{merchantId}
        </if>
        <if test="startDate != null and startDate != '' and endDate != null and endDate != ''">
            and create_time between concat(#{startDate},' 00:00:00') and concat(#{endDate},' 23:59:59')
        </if>
        <if test="startMoney != null and startMoney != '' and endMoney != null and endMoney != ''">
            and invoice_amount between #{startMoney} and #{endMoney}
        </if>
        <if test="serviceName !=null and serviceName != ''">
            and invoice_content = #{serviceName}
        </if>
        <if test="invoiceStatus !=null and invoiceStatus != ''">
            and invoice_status = #{invoiceStatus}
        </if>
        ORDER BY
        create_time DESC
        <if test="pageSize != null">
            limit #{startIndex},#{pageSize}
        </if>

    </select>


    <select id="countInvoiceApplyRecords" resultType="java.lang.Integer">
        SELECT count(1)
        FROM tbl_invoice_record
        WHERE  1 = 1
        <if test="merchantId != null">
            and merchant_id = #{merchantId}
        </if>
        <if test="startDate != null and startDate != '' and endDate != null and endDate != ''">
            and create_time between concat(#{startDate},' 00:00:00') and concat(#{endDate},' 23:59:59')
        </if>
        <if test="startMoney != null and startMoney != '' and endMoney != null and endMoney != ''">
            and invoice_amount between #{startMoney} and #{endMoney}
        </if>
        <if test="serviceName !=null and serviceName != ''">
            and invoice_content = #{serviceName}
        </if>
        <if test="invoiceStatus !=null and invoiceStatus != ''">
            and invoice_status = #{invoiceStatus}
        </if>
        ORDER BY
        create_time DESC


    </select>
</mapper>