<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mmtax.business.mapper.INvoiceHandleOldDataMapper">
    <select id="selectAllNoviceHandleOldDataDTO" resultType="com.mmtax.business.dto.INvoiceHandleOldDataDTO">
        select merchant_id AS merchantId,bank_number AS bankNumber from tbl_invoice_info
    </select>
    <update id="updateInoviceByMerchantId" parameterType="list">
        <!--<foreach collection="iNvoiceHandleOldDataDTOS" item="nvoiceHandleOldDataDTO" separator=";">
            update tbl_invoice_info
            <set>
                bank_number = #{nvoiceHandleOldDataDTO.bankNumber},
                bank_name = #{nvoiceHandleOldDataDTO.bankName}
            </set>
            where merchant_id = #{nvoiceHandleOldDataDTO.merchantId}
        </foreach>-->
        update tbl_invoice_info
        <set>
            <trim prefix="bank_number=case" suffix="end,">
                <foreach collection="iNvoiceHandleOldDataDTOS" item="nvoiceHandleOldDataDTO" index="index">
                    when merchant_id = #{nvoiceHandleOldDataDTO.merchantId} then #{nvoiceHandleOldDataDTO.bankNumber}
                </foreach>
            </trim>
            <trim prefix="bank_name=case" suffix="end,">
                <foreach collection="iNvoiceHandleOldDataDTOS" item="nvoiceHandleOldDataDTO" index="index">
                    <if test='nvoiceHandleOldDataDTO.bankName!=""'>
                        when merchant_id = #{nvoiceHandleOldDataDTO.merchantId} then #{nvoiceHandleOldDataDTO.bankName}
                    </if>
                    <if test='nvoiceHandleOldDataDTO.bankName==""'>
                        when merchant_id = #{nvoiceHandleOldDataDTO.merchantId} then  bank_name
                    </if>
                </foreach>
            </trim>
        </set>
    </update>
</mapper>