<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mmtax.business.mapper.InvoiceApplyAmountMapper">

    <resultMap type="InvoiceApplyAmount" id="InvoiceApplyAmountResult">
        <result property="id" column="id"/>
        <result property="invoiceId" column="invoice_id"/>
        <result property="invoiceSerialName" column="invoice_serial_name"/>
        <result property="invoiceAmount" column="invoice_amount"/>
        <result property="taxRate" column="tax_rate"/>
        <result property="taxAmount" column="tax_amount"/>
        <result property="unitPrice" column="unit_price"/>
        <result property="status" column="status"/>
        <result property="invoiceDetailId" column="invoice_detail_id"/>
        <result property="providerId" column="provider_id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>
    <update id="removeInvoiceAmountInfo">
        update
        tbl_invoice_apply_amount
        set
        status = '1'
        WHERE
        invoice_id = #{invoiceApplyId}
    </update>
    <select id="getInvoiceApplyAmountByInvoiceId" resultType="com.mmtax.business.dto.InvoiceAmountServiceDetailDTO">
        SELECT
        id ,
        invoice_id AS invoiceId,
        invoice_serial_name AS invoiceSerialName,
        tax_rate AS taxRate,
        tax_amount AS taxAmount,
        unit_price AS unitPrice,
        invoice_amount AS invoiceAmount,
        invoice_detail_id as invoiceDetailId
        FROM
        tbl_invoice_apply_amount
        WHERE
        invoice_id = #{invoiceId}
        and
        status='0'
    </select>

</mapper>