<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mmtax.business.mapper.MakeUpChargeMapper">
    
    <resultMap type="com.mmtax.business.domain.MakeUpCharge" id="MakeUpChargeResult">
        <result property="id"    column="id"    />
        <result property="merchantName"    column="merchant_name"    />
        <result property="customerName"    column="customer_name"    />
        <result property="orderSerialNum"    column="order_serial_num"    />
        <result property="monthPayAmount"    column="month_pay_amount"    />
        <result property="amount"    column="amount"    />
        <result property="inOutDeduction"    column="in_out_deduction"    />
        <result property="makeUpSerialNum"    column="make_up_serial_num"    />
        <result property="batchNo"    column="batch_no"    />
        <result property="status"    column="status"    />
        <result property="batchRecordId"    column="batch_record_id"    />
        <result property="merchantId"    column="merchant_id"    />
        <result property="customerId"    column="customer_id"    />
        <result property="comment"    column="comment"    />
        <result property="asyncStatus"    column="async_status"    />
        <result property="providerId"    column="provider_id"    />
        <result property="reservedFieldOne"    column="reserved_field_one"    />
        <result property="reservedFieldTwo"    column="reserved_field_two"    />
        <result property="reservedFieldThree"    column="reserved_field_three"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>
    <select id="selectByOrderSerialSumOrMakeUpSerialNum" resultMap="MakeUpChargeResult">
        select * from tbl_make_up_charge
        where 1 = 1
        <if test="orderSerialSum != null and orderSerialSum != ''">
            and order_serial_num = #{orderSerialSum}
        </if>
        <if test="makeUpSerialNum != null and makeUpSerialNum != ''">
            and make_up_serial_num = #{makeUpSerialNum}
        </if>
    </select>
    <select id="selectByStatusAndAsycSatus" resultMap="MakeUpChargeResult">
        select * from tbl_make_up_charge
        where status != 9
        <if test="status != null">
            and status = #{status}
        </if>
        <if test="asycStatus != null">
            and async_status = #{asycStatus}
        </if>
    </select>
    <select id="selectProcess" resultMap="MakeUpChargeResult">
        select * from tbl_make_up_charge
        where status = 0 and create_time &lt; #{twoDayAgo}
    </select>
    <select id="selectInMonthLatest" resultMap="MakeUpChargeResult">
        select * from tbl_make_up_charge
        where status != 9
        and customer_id = #{customerId} and merchant_id = #{merchantId}
        and create_time between #{startTime} and #{endTime}
        order by create_time desc
    </select>
</mapper>