<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mmtax.business.mapper.MealDetailMapper">
    
    <resultMap type="MealDetail" id="MealDetailResult">
        <result property="id"    column="id"    />
        <result property="startAmount"    column="start_amount"    />
        <result property="endAmount"    column="end_amount"    />
        <result property="backRate"    column="back_rate"    />
        <result property="mealInfoId"    column="meal_info_id"    />
        <result property="providerId"    column="provider_id"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

</mapper>