<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mmtax.business.mapper.MerchantInvoiceSubjectCorrelationMapper">
    
    <resultMap type="MerchantInvoiceSubjectCorrelation" id="MerchantInvoiceSubjectCorrelationResult">
        <result property="id"    column="id"    />
        <result property="merchantInfoId"    column="merchant_info_id"    />
        <result property="invoiceSubjectId"    column="invoice_subject_id"    />
        <result property="isDefault"    column="is_default"    />
        <result property="delStatus"    column="del_status"    />
        <result property="providerId"    column="provider_id"    />
        <result property="reservedFieldOne"    column="reserved_field_one"    />
        <result property="reservedFieldTwo"    column="reserved_field_two"    />
        <result property="reservedFieldThree"    column="reserved_field_three"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <select id="getInvoiceServiceName"  resultType="com.mmtax.business.yunzbdto.YunZBInvoiceContentResultDTO">
       SELECT
       t2.id AS content_code,
       t2.content AS content_name,
       t1.is_default AS isDefault
       FROM tbl_merchant_invoice_subject_correlation  AS t1 LEFT JOIN tbl_invoice_subject AS t2 ON t1.`invoice_subject_id` = t2.id
       WHERE merchant_info_id =#{merchantId} and t1.del_status = 0
    </select>

    <update id="updateInvoiceIsDefaultAll" >

    UPDATE tbl_merchant_invoice_subject_correlation SET is_default = #{newIsDefault},update_time=#{updateTime}
    WHERE del_status = 0 AND merchant_info_id = #{merchantId}
    </update>

    <update id="updateInvoiceIsDefault" >

    UPDATE tbl_merchant_invoice_subject_correlation SET is_default = #{newIsDefault},update_time=#{updateTime}
    WHERE del_status = 0 AND merchant_info_id = #{merchantId}  and invoice_subject_id =#{invoiceSubjectId}
    </update>

</mapper>