<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mmtax.business.mapper.MerchantAccountConfigMapper">

    <resultMap type="MerchantAccountConfig" id="MerchantAccountConfigResult">
        <result property="id" column="id"/>
        <result property="balanceRemindSwitch" column="balance_remind_switch"/>
        <result property="balanceEmailRemindSwitch" column="balance_email_remind_switch"/>
        <result property="balanceSmsRemindSwitch" column="balance_sms_remind_switch"/>
        <result property="bankRemindAmount" column="bank_remind_amount"/>
        <result property="alipayRemindAmount" column="alipay_remind_amount"/>
        <result property="wechatRemindAmount" column="wechat_remind_amount"/>
        <result property="rechargeRemindSwitch" column="recharge_remind_switch"/>
        <result property="rechargeEmailRemindSwitch" column="recharge_email_remind_switch"/>
        <result property="rechargeSmsRemindSwitch" column="recharge_sms_remind_switch"/>
        <result property="comment" column="comment"/>
        <result property="balanceRemindEmail" column="balance_remind_email"/>
        <result property="rechargeRemindEmail" column="recharge_remind_email"/>
        <result property="lendingAuthority" column="lending_authority"/>
        <result property="providerId" column="provider_id"/>
        <result property="merchantId" column="merchant_id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>
    <select id="getMerchantConfigByMerchantId" resultMap="MerchantAccountConfigResult">
        SELECT
        *
        FROM
        tbl_merchant_account_config
        WHERE
        merchant_id = #{merchantId}
    </select>

</mapper>