<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mmtax.business.mapper.MerchantTaskInfoMapper">
    
    <resultMap type="com.mmtax.business.domain.MerchantTaskInfo" id="MerchantTaskInfoResult">
        <result property="id"    column="id"    />
        <result property="merchantId"    column="merchant_id"    />
        <result property="taskId"    column="task_id"    />
        <result property="taskName"    column="task_name"    />
        <result property="taskInfo"    column="task_info"    />
        <result property="delStatus"    column="del_status"    />
        <result property="providerId"    column="provider_id"    />
        <result property="reservedFieldOne"    column="reserved_field_one"    />
        <result property="reservedFieldTwo"    column="reserved_field_two"    />
        <result property="reservedFieldThree"    column="reserved_field_three"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>
    <select id="selectAllTaskInfo" resultType="com.mmtax.business.dto.TaskCompletedDTO">
        select a.task_serial_num as taskSerialNum,
            a.task_name as taskName,
            a.task_num as taskNum,
            b.`name` as name,
            b.mobile_no as mobileNo,
            a.tax_source_id as taxSourceId,
            d.tax_sounrce_company_name as taxSourceName,
            a.merchant_id as merchantId,
            c.merchant_name as merchantName,
            a.create_time as createTime,
            a.task_complete_time as taskCompleteTime
        from  tbl_batch_task_detail a
        left join tbl_customer_task b on a.id = b.task_detail_id
        left join tbl_merchant_info  c on a.merchant_id = c.id
        left join tbl_tax_sounrce_company d on a.tax_source_id = d.id
        <where>
            <if test="merchantName != null and merchantName != ''">
               c.merchant_name like concat('%',#{merchantName},'%')
            </if>
            <if test="taxSourceName != null and taxSourceName != ''">
                and d.tax_sounrce_company_name like concat('%',#{taxSourceName},'%')
            </if>
            <if test="taskName != null and taskName != ''">
                and a.task_name like concat('%',#{taskName},'%')
            </if>
            <if test="name != null and name != ''">
                and b.`name` like concat('%',#{name},'%')
            </if>
            <if test="startDate != null and startDate !='' and endDate != null and endDate != ''">
                and a.create_time between concat(#{startDate},' 00:00:00') and concat(#{endDate},' 23:59:59')
            </if>
            and 1=1 and task_status = 1
            order by a.create_time desc
        </where>
    </select>
    <select id="selectTaskRecord" resultType="com.mmtax.business.dto.TaskRecordDTO">
        SELECT
        t1.batch_no as batchNo,
        t1.task_name as taskName,
        t1.task_info_id as taskId,
        t1.merchant_id as merchantId,
        t2.merchant_name as merchantName,
        t4.tax_sounrce_company_name as taxSourceName,
        t1.task_total_num as taskTotalNum,
        t1.task_begin_time as taskBeginTime,
        t1.task_require_complete_time as taskRequireCompleteTime,
        t1.task_status as taskStatus
        FROM tbl_batch_task_record t1
        left join tbl_merchant_info t2 on t1.merchant_id = t2.id
        left join tbl_online_payment_info t3 on t1.merchant_id = t3.merchant_id
        left join tbl_tax_sounrce_company t4 on t4.id = t3.tax_source_company_id
        <where>
            and 1 = 1 and task_status in (0,1)
            <if test="merchantName != null and merchantName != ''">
               and t2.merchant_name like concat('%',#{merchantName},'%')
            </if>
            <if test="taxSourceName != null and taxSourceName != ''">
                and t4.tax_sounrce_company_name like concat('%',#{taxSourceName},'%')
            </if>
            <if test="taskName != null and taskName != ''">
                and t1.task_name like concat('%',#{taskName},'%')
            </if>
            <if test="taskStatus != null and taskStatus != ''">
                and t1.task_status = #{taskStatus}
            </if>
            <if test="startDate != null and startDate !='' and endDate != null and endDate != ''">
                and t1.task_begin_time between concat(#{startDate},' 00:00:00') and concat(#{endDate},' 23:59:59')
            </if>
            order by t1.task_begin_time desc
        </where>
    </select>
</mapper>