<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mmtax.business.mapper.MerchantInfoMapper">

    <resultMap type="MerchantInfo" id="MerchantInfoResult">
        <result property="id" column="id"/>
        <result property="merchantCode" column="merchant_code"/>
        <result property="merchantName" column="merchant_name"/>
        <result property="merchantAddress" column="merchant_address"/>
        <result property="password" column="password"/>
        <result property="salt" column="salt"/>
        <result property="status" column="status"/>
        <result property="contacts" column="contacts"/>
        <result property="contactsMobile" column="contacts_mobile"/>
        <result property="contactsIdCardFront" column="contacts_id_card_front"/>
        <result property="contactsIdCardBack" column="contacts_id_card_back"/>
        <result property="contactsAddress" column="contacts_address"/>
        <result property="invoiceEmail" column="invoice_email"/>
        <result property="legalPersonName" column="legal_person_name"/>
        <result property="legalPersonMobile" column="legal_person_mobile"/>
        <result property="legalPersonIdCardNo" column="legal_person_id_card_no"/>
        <result property="legalPersonIdCardExp" column="legal_person_id_card_exp"/>
        <result property="industry" column="industry"/>
        <result property="email" column="email"/>
        <result property="businessLicenseCode" column="business_license_code"/>
        <result property="businessLicenseImg" column="business_license_img"/>
        <result property="businessLicenseExp" column="business_license_exp"/>
        <result property="taxpayerType" column="taxpayer_type"/>
        <result property="job" column="job"/>
        <result property="subject" column="subject"/>
        <result property="remark" column="remark"/>
        <result property="belongCompanyName" column="belong_company_name"/>
        <result property="companyName" column="company_name"/>
        <result property="contractImgUrl" column="contract_img_url"/>
        <result property="contractName" column="contract_name"/>
        <result property="contractNo" column="contract_no"/>
        <result property="businessPlacesProof" column="business_places_proof"/>
        <result property="applyRegistBusiness" column="apply_regist_business"/>
        <result property="managerOperatorLetter" column="manager_operator_letter"/>
        <result property="individualBusinessNotice" column="individual_business_notice"/>
        <result property="type" column="type"/>
        <result property="wxOpenId" column="wx_open_id"/>
        <result property="auditStatus" column="audit_status"/>
        <result property="inviter" column="inviter"/>
        <result property="belongSaler" column="belong_saler"/>
        <result property="agentNumber" column="agent_number"/>
        <result property="agentName" column="agent_name"/>
        <result property="providerId" column="provider_id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="selectMerchant">
        SELECT id,
               merchant_code,
               merchant_name,
               contacts,
               contacts_mobile,
               email,
               legal_person_name,
               business_license_code,
               business_license_img,
               taxpayer_type,
               company_name,
               provider_id,
               create_time,
               update_time
        FROM tbl_merchant_info
    </sql>
    <update id="updateMerchantPassword" parameterType="com.mmtax.business.domain.MerchantInfo">
        UPDATE
            tbl_merchant_info
        SET password = #{password},
            salt     = #{salt}
        WHERE id = #{id}
    </update>
    <update id="updateMerchantStatus">
        UPDATE
            tbl_merchant_info
        SET status = #{status}
        WHERE id = #{merchantId}
    </update>


    <select id="checkMerchantCodeUnique" parameterType="String" resultType="int">
        select count(*)
        from tbl_merchant_info
        where merchant_code = #{merchantCode}
    </select>

    <select id="listMerchantInfos" resultType="com.mmtax.business.dto.ManagerMerchantInfoDTO">
        select
        t1.id,
        t1.status,
        t1.merchant_code as merchantCode,
        t1.merchant_name as merchantName,
        t1.contacts as contacts ,
        t1.contacts_mobile as contactsMobile,
        t1.email,
        t1.business_license_code as businessLicenseCode ,
        t1.business_license_img as businessLicenseImg,
        t1.taxpayer_type as taxpayerType ,
        t1.company_name as companyName,
        t1.create_time as createTime,
        t2.user_name as saleName,
        t1.agent_name as agentName,
        t1.agent_number as agentNumber
        from
        tbl_merchant_info t1
        left join
        sys_user t2
        on
        t1.belong_saler = t2.user_id
        where
        1=1
        <if test="contactsMobile != null and contactsMobile != ''">
            and t1.contacts_mobile like concat('%',#{contactsMobile},'%')
        </if>
        <if test="merchantName != null and merchantName != ''">
            and t1.merchant_name like concat('%',#{merchantName},'%')
        </if>
        <if test="startDate != null and startDate != '' and endDate != null and endDate != ''">
            and t1.create_time between concat(#{startDate},' 00:00:00') and concat(#{endDate},' 23:59:59')
        </if>
        <if test="saleId != null and saleId != ''">
            and t1.belong_saler = #{saleId}
        </if>
        <if test="saleName != null and saleName != ''">
            and t2.user_name like concat('%', #{saleName},'%')
        </if>
        <!-- 数据范围过滤 -->
        ${params.dataScope}
        order by
        t1.create_time desc
    </select>


    <select id="countMerchantInfos" resultType="java.lang.Integer">
        select
        COUNT (*)
        from
        tbl_merchant_info
        where
        1=1
        <if test="contactsMobile != null and contactsMobile != ''">
            and contacts_mobile like concat('%',#{contactsMobile},'%')
        </if>
        <if test="merchantName != null and merchantName != ''">
            and merchant_name like concat('%',#{merchantName},'%')
        </if>
        <if test="startDate != null and startDate != '' and endDate != null and endDate != ''">
            and create_time between concat(#{startDate},' 00:00:00') and concat(#{endDate},' 23:59:59')
        </if>
        order by
        create_time desc
    </select>
    <select id="getMerchantInfoById" parameterType="java.lang.Integer" resultMap="MerchantInfoResult">
        SELECT *
        FROM tbl_merchant_info
        WHERE id = #{id}
    </select>
    <select id="getMerchantInfoByCode" resultMap="MerchantInfoResult">
        SELECT *
        FROM tbl_merchant_info
        WHERE merchant_code = #{code}
    </select>
    <select id="getMerchantNameFuzzyMatching" resultType="com.mmtax.business.dto.FuzzyMatchingDTO">
        SELECT merchant_name AS merchantName,
               id            AS merchantId
        FROM tbl_merchant_info
        WHERE merchant_name like concat('%', #{merchantName}, '%')
    </select>
    <select id="checkMerchantNameUnique" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM tbl_merchant_info
        WHERE merchant_name = #{merchantName}
    </select>
    <select id="getListManagerTaxMerchant" resultType="com.mmtax.business.dto.ManagerTaxMerchantDTO">
        select
        merchant_name as merchantName,
        merchant_code as merchantCode,
        id as merchantId
        from
        tbl_merchant_info
        where
        1=1
        and
        status='ACTIVE'
        <if test="merchantName != null and merchantName != ''">
            and merchant_name like concat('%',#{merchantName},'%')
        </if>
        <if test="merchantCode != null and merchantCode != ''">
            and merchant_code like concat('%',#{merchantCode},'%')
        </if>
        <if test="saleId != null and saleId !=''">
            and belong_saler = #{saleId}
        </if>
        order by
        create_time desc
        limit #{startIndex},#{pageSize}
    </select>
    <select id="getCountManagerTaxMerchant" resultType="java.lang.Integer">
        select
        count(0)
        from
        tbl_merchant_info
        where
        1=1
        and
        status='ACTIVE'
        <if test="merchantName != null and merchantName != ''">
            and merchant_name like concat('%',#{merchantName},'%')
        </if>
        <if test="merchantCode != null and merchantCode != ''">
            and merchant_code like concat('%',#{merchantCode},'%')
        </if>
        <if test="saleId != null and saleId !=''">
            and belong_saler = #{saleId}
        </if>
    </select>
    <select id="checkMerchantName" resultType="java.lang.Integer">
        select count(0)
        from tbl_merchant_info
        where merchant_name = #{merchantName}
          and status != 'CANCEL'
    </select>
    <select id="checkEmail" resultType="java.lang.Integer">
        select count(0)
        from tbl_merchant_info
        where email = #{email}
          and status != 'CANCEL'
    </select>
    <select id="checkContactsMobile" resultType="java.lang.Integer">
        select count(0)
        from tbl_merchant_info
        where contacts_mobile = #{contactsMobile}
          and status != 'CANCEL'
    </select>
    <select id="checkCompanyName" resultType="java.lang.Integer">
        select count(0)
        from tbl_merchant_info
        where company_name = #{companyName}
          and status != 'CANCEL'
    </select>
    <select id="checkBusinessLicenseCode" resultType="java.lang.Integer">
        select count(0)
        from tbl_merchant_info
        where business_license_code = #{businessLicenseCode}
          and status != 'CANCEL'
    </select>


    <select id="selectAllCompanyInfo" resultType="com.mmtax.business.dto.ManagerCompanyInfoDTO">
        SELECT a.id as id,
        a.company_name as companyName,
        b.tax_sounrce_company_name as taxSounrceCompanyName,
        a.create_time as createtime
        FROM tbl_online_payment_info c
        left join tbl_merchant_info a on c.merchant_id=a.id
        left join tbl_tax_sounrce_company b on c.tax_source_company_id = b.id
        WHERE 1=1
        and (b.id = 4 or b.id =5)
        <if test="taxSourceId != 666">
            and b.id = #{taxSourceId}
        </if>
        <if test="id!=null and id!=''">
            and a.id =#{id}
        </if>

        <if test="companyName!=null and companyName!=''">
            and a.company_name like concat('%',#{companyName},'%')
        </if>
        <if test="taxSounrceCompanyName!=null and taxSounrceCompanyName!=''">
            and b.tax_sounrce_company_name =#{taxSounrceCompanyName}
        </if>
        <if test="startDate != null and startDate != '' and endDate != null and endDate != ''">
            and a.create_time between concat(#{startDate},' 00:00:00') and concat(#{endDate},' 23:59:59')
        </if>
        order by a.create_time desc
    </select>

    <select id="selectContractInfo" resultType="com.mmtax.business.dto.ManagerContractInfoDTO">
        SELECT
        t.merchant_id AS id,
        t.payee_name AS NAME,
        t.payee_mobile AS mobile,
        t.payee_id_card_no AS idNumber,
        t.payee_id_card_no AS payeeIdCardNo,
        t.merchant_name AS merchantName,
        0 AS expireStatus,
        MIN(t.create_time) AS createTime
        FROM
        tbl_trx_order t
        LEFT JOIN tbl_merchant_info t1 ON t.merchant_id = t1.id
        WHERE
        t.order_status = 1
        AND t.merchant_id IN (
        SELECT
        merchant_id
        FROM
        tbl_online_payment_info o
        WHERE
        (
        o.tax_source_company_id = 4
        OR o.tax_source_company_id = 5
        )
        <if test = "taxSourceId != 666">
            and o.tax_source_company_id = #{taxSourceId}
        </if>
        )
        AND t.merchant_id != 74
        <if test="merchantName != null and merchantName!=''" >
            and t1.merchant_name like concat('%',#{merchantName},'%')
        </if>
        <if test="name != null and name!=''">
            and t.payee_name like concat('%',#{name},'%')
        </if>
        <if test="startDate != null and startDate != '' and endDate != null and endDate != ''">
            and  t.create_time between concat(#{startDate},' 00:00:00') and concat(#{endDate},' 23:59:59')
        </if>
        GROUP BY
        t.payee_id_card_no,
        t.merchant_id
        ORDER BY
        MIN(t.create_time) DESC
    </select>

    <select id="selectPersonalReceiptInfo" resultType="com.mmtax.business.dto.PersonalReceiptDTO">
        select b.id as id,
              a.merchant_id as merchantId,
              batch_no as batchNo,
              order_serial_num as orderSerialNum,
              payee_name as payeeName,
              b.task_name as taskName,
              payee_mobile as payeeMobile,
              payee_id_card_no as payIdCardNo,
              merchant_name as merchantName,
              payment_channel as paymentChannel,
              payee_bank_card as payeeBankcard,
              actual_amount as actualAmount,
              update_time as updateTime
        from tbl_trx_order a left join
                (
                select id,certificate_no,task_name,merchant_id
                from tbl_customer_info
                where merchant_id in
                    (select merchant_id
                    from tbl_online_payment_info
                    <where>
                        and (tax_source_company_id = 4 or tax_source_company_id =5)
                        <if test="taxSourceId != 666">
                            and tax_source_company_id = #{taxSourceId}
                        </if>
                    </where>
                    )
                )b
        on a.payee_id_card_no = b.certificate_no
        where b.merchant_id = a.merchant_id
        <if test="merchantName!=null and merchantName!=''">
            and merchant_name like concat('%',#{merchantName},'%')
        </if>
        <if test="taskName!=null and taskName!=''">
            and task_name like concat('%',#{taskName},'%')
        </if>
        <if test="name!=null and name!=''">
            and payee_name like concat('%',#{name},'%')
        </if>
        <if test="mobile!=null and mobile!=''">
            and payee_mobile like concat('%',#{mobile},'%')
        </if>
        <if test="startDate != null and startDate != '' and endDate != null and endDate != ''">
            and  update_time between concat(#{startDate},' 00:00:00') and concat(#{endDate},' 23:59:59')
        </if>
        order by update_time desc
    </select>

    <select id="selectCompanyReceiptInfo" resultType="com.mmtax.business.dto.CompanyReceiptInfoDTO">
        SELECT
            t1.id as id,
            t1.merchant_id as merchantId,
            t2.merchant_name AS merchantName,
            t1.order_serial_num AS orderSerialNum,
            t1.payment_amount AS paymentAmount,
            t1.payment_usable_amount_after as paymentUsableAmountAfter,
            t1.type AS type,
            t1.payment_type AS paymentType,
            t1.create_time AS createTime
        FROM
            tbl_merchant_account_detail t1
            LEFT JOIN tbl_merchant_info t2 ON t1.merchant_id = t2.id
        <where>
            t1.merchant_id in
            (select merchant_id
            from  tbl_online_payment_info o
            <where>
                and (o.tax_source_company_id = 4 or o.tax_source_company_id =5)
                <if test = "taxSourceId != 666">
                    and o.tax_source_company_id = #{taxSourceId}
                </if>
            </where>)
            AND t1.merchant_id NOT IN ( SELECT o2.charge_interest_mer_id FROM tbl_online_account_config o2 )
            AND t1.merchant_id NOT IN (SELECT o2.charge_cost_mer_id FROM tbl_online_account_config o2)
            AND t1.payment_type IN (0,1)
            <if test="merchantName != null and merchantName!=''" >
                and t2.merchant_name like concat('%',#{merchantName},'%')
            </if>
            <if test="paymentType != null and paymentType!=''" >
                and t1.payment_type=#{paymentType}
            </if>
            <if test="startDate != null and startDate != '' and endDate != null and endDate != ''">
                and  t1.create_time between concat(#{startDate},' 00:00:00') and concat(#{endDate},' 23:59:59')
            </if>
        </where>
        GROUP BY t1.order_serial_num
        order by t1.create_time desc
    </select>
    <select id="selectInvoiceInfoDetail" resultType="com.mmtax.business.dto.InvoiceInfoDetailDTO">
        select  invoice_serial_num as invoiceSerialNum,
                invoice_no as invoiceNo,
                invoice_title as invoiceTitle,
                express_no as expressNo,
                express_company_name as expressCompanyName,
                addressee_name as addresseeName,
                address_mobile as addressMobile,
                address as address,
                invoice_type as invoiceType,
                invoice_amount as invoiceAmount,
                content as content,
                invoice_status as invoiceStatus,
                a.create_time as createTime
        from tbl_invoice_record a left join tbl_invoice_subject b
        on a.invoice_subject_id=b.id
        <where>
            and (a.tax_source_id = 4 or a.tax_source_id =5)
            <if test="taxSourceId != 666">
                and a.tax_source_id = #{taxSourceId}
            </if>
            <if test="startMoney != null and startMoney != '' and endMoney != null and endMoney != ''">
                and  invoice_amount between #{startMoney} and #{endMoney}
            </if>
            <if test="invoiceSerialNum != null and invoiceSerialNum!=''" >
                and invoice_serial_num like concat('%',#{invoiceSerialNum},'%')
            </if>
            <if test="invoiceNo != null and invoiceNo!=''" >
                and invoice_no like concat('%',#{invoiceNo},'%')
            </if>
            <if test="invoiceTitle != null and invoiceTitle!=''" >
                and invoice_title like concat('%',#{invoiceTitle},'%')
            </if>
            <if test="content != null and content!=''" >
                and content like concat('%',#{content},'%')
            </if>
        </where>
        order by a.create_time desc
    </select>

    <select id="selectPersonalAccountFundChangeInfo" resultType="com.mmtax.business.dto.PersonalAccountFundChangeDTO">
        select  a.id as id,
        a.customer_id as customerId,
        a.order_serial_num as orderSerialNum,
        payee_name as customerName,
        payment_type as paymentType,
        (payment_amount_after - payment_amount_before)
        as changePaymentAmount,
        `type` as type,
        payment_amount_after as paymentAmount,
        a.create_time as createTime
        from tbl_customer_account_detail a left join tbl_trx_order b
        on a.order_serial_num = b.order_serial_num left join tbl_online_customer_info c
        on a.customer_id = c.customer_id
        <where>
            and payment_amount_after != payment_amount_before
            and (c.tax_source_id = 4 or c.tax_source_id =5)
            <if test="taxSourceId != 666">
                and c.tax_source_id = #{taxSourceId}
            </if>
            <if test="name!=null and name!=''">
                and payee_name like concat('%',#{name},'%')
            </if>
            <if test="paymentType!=null and paymentType!=''">
                and payment_type = #{paymentType}
            </if>
            <if test="status!=null and status!=''">
                and status = #{status}
            </if>
            <if test="startDate != null and startDate != '' and endDate != null and endDate != ''">
                and  a.create_time between concat(#{startDate},' 00:00:00') and concat(#{endDate},' 23:59:59')
            </if>
        </where>
        order by a.create_time desc
    </select>

    <select id="selectPayInfo" resultType="com.mmtax.business.dto.ManagerPayInfoDTO">
        SELECT
            a.merchant_id as id,
            b.merchant_name as merchantName,
            a.order_serial_num  as orderSerialNum,
            a.amount            as amount,
            a.recharge_channel  as rechargeChannel,
            a.status            as status,
            a.create_time       as createTime
        from    tbl_recharge_record a
        left join tbl_merchant_info b on a.merchant_id = b.id
        <where>
            a.merchant_id in
            (select merchant_id
            from  tbl_online_payment_info o
            <where>
                and (o.tax_source_company_id = 4 or o.tax_source_company_id =5)
                <if test = "taxSourceId != 666">
                    and o.tax_source_company_id = #{taxSourceId}
                </if>
            </where>)
        <if test="status != null and  status != ''">
            and a.status=#{status}
        </if>
        <if test="merchantName != null and  merchantName != ''">
            and b.merchant_name like concat('%',#{merchantName},'%')
        </if>
        <if test="startDate != null and startDate != '' and endDate != null and endDate != ''">
            and  a.create_time between concat(#{startDate},' 00:00:00') and concat(#{endDate},' 23:59:59')
        </if>
        </where>
            order by a.create_time desc
    </select>

    <select id="selectGrantInfo" resultType="com.mmtax.business.dto.ManagerGrantInfoDTO">
        SELECT
        t1.batch_no as batchNo,
        t1.task_name as taskName,
        t2.merchant_name as merchantName,
        t1.task_begin_time as taskBeginTime,
        t1.task_complete_time as taskCompleteTime
        from tbl_batch_task_record t1
        left join tbl_merchant_info t2 on t1.merchant_id = t2.id
        <where>
            t1.merchant_id in
            (select merchant_id
            from  tbl_online_payment_info o
            <where>
                and (o.tax_source_company_id = 4 or o.tax_source_company_id =5)
                <if test = "taxSourceId != 666">
                    and o.tax_source_company_id = #{taxSourceId}
                </if>
            </where>)
                <if test="batchNo != null and  batchNo != ''">
                    and t1.batch_no like concat('%',#{batchNo},'%')
                </if>
                <if test="merchantName != null and  merchantName != ''">
                    and t2.merchant_name like concat('%',#{merchantName},'%')
                </if>
                <if test="taskName != null and  taskName != ''">
                    and t1.task_name like concat('%',#{taskName},'%')
                </if>
                <if test="startDate != null and startDate != '' and endDate != null and endDate != ''">
                    and t1.task_complete_time between concat(#{startDate},' 00:00:00') and concat(#{endDate},' 23:59:59')
                </if>
        </where>
        order by t1.create_time desc
    </select>

    <select id="selectContent" resultType="com.mmtax.business.dto.InvoiceSubjectWithTaxCompanyCorrelationDTO">
        SELECT
        t2.invoice_subject_id as invoiceSubjectId,
	    t1.content as content
    FROM
        tbl_invoice_subject t1
        LEFT JOIN tbl_tax_source_invoice_subject_correlation t2 ON t2.invoice_subject_id = t1.id
    WHERE t2.del_status = 0 and
	    t2.tax_sounrce_company_id = #{taxSounrceCompanyId}
    </select>

    <select id="selectInvoiceContentInfoByMerchanId"
            resultType="com.mmtax.business.dto.InvoiceSubjectWithTaxCompanyCorrelationDTO">
        SELECT
    	    t1.invoice_subject_id as invoiceSubjectId,
    	    t1.is_default as isDefault,
			t2.content as content
        FROM tbl_merchant_invoice_subject_correlation t1
        left join tbl_invoice_subject t2
        on t1.invoice_subject_id = t2.id
        where t1.del_status = 0 and
        t1.merchant_info_id=#{merchantId}
    </select>

    <select id="selectInvoiceContent"
            resultType="com.mmtax.business.dto.InvoiceSubjectWithTaxCompanyCorrelationDTO">
        SELECT
            t2.invoice_subject_id AS invoiceSubjectId,
            t1.content AS content
        FROM
            tbl_invoice_subject t1
            LEFT JOIN tbl_tax_source_invoice_subject_correlation t2 ON t2.invoice_subject_id = t1.id
        WHERE
            t2.del_status = 0
        AND t2.tax_sounrce_company_id = (
            SELECT
                b.tax_source_company_id
            FROM
                tbl_online_payment_info b
                LEFT JOIN tbl_merchant_info a ON a.id = b.merchant_id
            WHERE
            a.id = #{merchantId})
    </select>

    <update id="updateInvoiceInfo">
        update tbl_invoice_info
                set  company_name = #{companyName},
                taxpayer_type = #{taxpayerType},
                taxpayer_identification_number = #{taxpayerIdentificationNumber},
                company_address = #{companyAddress},
                invoice_mobile = #{invoiceMobile},
                bank_name = #{bankName},
                bank_number = #{bankNumber}
        where   merchant_id = #{merchantId}
    </update>

    <update id="updateInvoiceContentInfo" >
        update tbl_merchant_invoice_subject_correlation
        set    del_status = #{delSatus}
        where  merchant_info_id = #{merchantId}
        and invoice_subject_id = #{invoiceSubjectId}
    </update>

    <select id="selectMerchantIdByMerchantCode" resultType="integer">
        select id from tbl_merchant_info where merchant_code = #{merchantCode}
    </select>
    <select id="selectMerchantCodeByMerchantId" resultType="string">
        select merchant_code from tbl_merchant_info where id = #{merchantId}
    </select>
</mapper>