<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mmtax.business.mapper.MerchantTaxSourceCorrelationMapper">
    
    <resultMap type="com.mmtax.business.domain.MerchantTaxSourceCorrelation" id="MerchantTaxSourceCorrelationResult">
        <result property="id"    column="id"    />
        <result property="merchantId"    column="merchant_id"    />
        <result property="taxSounrceId"    column="tax_sounrce_id"    />
        <result property="isDelete"    column="is_delete"    />
        <result property="providerId"    column="provider_id"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

</mapper>