<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mmtax.business.mapper.NotifySendAgainMapper">
    
    <resultMap type="com.mmtax.business.domain.NotifySendAgain" id="NotifySendAgainResult">
        <result property="id"    column="id"    />
        <result property="merchantId"    column="merchant_id"    />
        <result property="notifyType"    column="notify_type"    />
        <result property="notifyStatus"    column="notify_status"    />
        <result property="sendMethod"    column="send_method"    />
        <result property="notifyContent"    column="notify_content"    />
        <result property="failNum"    column="fail_num"    />
        <result property="lastSendTime"    column="last_send_time"    />
        <result property="providerId"    column="provider_id"    />
        <result property="reservedFieldOne"    column="reserved_field_one"    />
        <result property="reservedFieldTwo"    column="reserved_field_two"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

</mapper>