<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mmtax.business.mapper.OnlineAccountConfigMapper">
    
    <resultMap type="com.mmtax.business.domain.OnlineAccountConfig" id="OnlineAccountConfigResult">
        <result property="id"    column="id"    />
        <result property="taxSounrceId"    column="tax_sounrce_id"    />
        <result property="taxSounrceCompanyName"    column="tax_sounrce_company_name"    />
        <result property="registerEmail"    column="register_email"    />
        <result property="accountPrefix"    column="account_prefix"    />
        <result property="partnerId"    column="partner_id"    />
        <result property="whiteChannelCode"    column="white_channel_code"    />
        <result property="walletPublicKey"    column="wallet_public_key"    />
        <result property="keyStoreName"    column="key_store_name"    />
        <result property="sftpIp"    column="sftp_ip"    />
        <result property="sftpPort"    column="sftp_port"    />
        <result property="fileDirectory"    column="file_directory"    />
        <result property="sftpUser"    column="sftp_user"    />
        <result property="sftpPass"    column="sftp_pass"    />
        <result property="pid"    column="pid"    />
        <result property="chargeCostMerId"    column="charge_cost_mer_id"    />
        <result property="chargeServiceCostRate"    column="charge_service_cost_rate"    />
        <result property="chargeInterestMerId"    column="charge_interest_mer_id"    />
        <result property="providerId"    column="provider_id"    />
        <result property="reservedFieldOne"    column="reserved_field_one"    />
        <result property="reservedFieldTwo"    column="reserved_field_two"    />
        <result property="reservedFieldThree"    column="reserved_field_three"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>
    <select id="selectByTaxSourceId" resultMap="OnlineAccountConfigResult">
        select * from tbl_online_account_config
        where tax_sounrce_id = #{taxSourceId}
    </select>
</mapper>