<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mmtax.business.mapper.OrderSheetMapper">

    <resultMap type="OrderSheet" id="OrderSheetResult">
        <result property="id" column="id"/>
        <result property="orderNo" column="order_no"/>
        <result property="riskPoint" column="risk_point"/>
        <result property="orderNote" column="order_note"/>
        <result property="orderNum" column="order_num"/>
        <result property="trxOrderId" column="trx_order_id"/>
        <result property="auditResult" column="audit_result"/>
        <result property="auditNote" column="audit_note"/>
        <result property="fileName" column="file_name"/>
        <result property="feedBackComment" column="feed_back_comment"/>
        <result property="feedBackTime" column="feed_back_time"/>
        <result property="status" column="status"/>
        <result property="merchantId" column="merchant_id"/>
        <result property="providerId" column="provider_id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>
    <select id="getListMerchantOrderSheet" resultType="com.mmtax.business.dto.MerchantOrderSheetDTO">
        select
        t1.order_no as orderNo,
        t1.risk_point as riskPoint,
        t1.order_note as orderNote,
        t1.order_num as orderNum,
        t1.trx_order_id as trxOrderId,
        t1.audit_result as auditResult,
        t1.audit_note as auditNote,
        t1.file_name as fileName,
        t1.status as status,
        t1.create_time as createTime,
        t2.order_serial_num as orderSerialNum,
        t2.payee_name as name,
        t1.id as id,
        t1.feed_back_comment as feedBackComment,
        t1.feed_back_time as feedBackTime
        from
        tbl_order_sheet t1,
        tbl_trx_order t2
        where
        1=1
        and
        t1.trx_order_id = t2.id
        and
        t1.merchant_id = #{merchantId}
        <if test="orderNo != null and orderNo != ''">
            and t1.order_no like concat('%',#{orderNo},'%')
        </if>
        <if test="name != null and name != ''">
            and t2.payee_name like concat('%',#{name},'%')
        </if>
        <if test="orderSerialNum != null and orderSerialNum !=''">
            and t2.order_serial_num like concat('%',#{orderSerialNum},'%')
        </if>
        <if test="status != null">
            and t1.status = #{status}
        </if>
        <if test="auditResult != null and auditResult !=''">
            and t1.audit_result = #{auditResult}
        </if>
        <if test="startDate != null and startDate != '' and endDate != null and endDate != ''">
            and t1.create_time between concat(#{startDate},' 00:00:00') and concat(#{endDate},' 23:59:59')
        </if>
        order by
        t1.create_time desc
        limit
        #{startIndex},#{pageSize}
    </select>
    <select id="getCountMerchantOrderSheet" resultType="java.lang.Integer">
        select
        count(0)
        from
        tbl_order_sheet t1,
        tbl_trx_order t2
        where
        1=1
        and
        t1.trx_order_id = t2.id
        and
        t1.merchant_id = #{merchantId}
        <if test="orderNo != null and orderNo != ''">
            and t1.order_no like concat('%',#{orderNo},'%')
        </if>
        <if test="name != null and name != ''">
            and t2.payee_name like concat('%',#{name},'%')
        </if>
        <if test="orderSerialNum != null and orderSerialNum !=''">
            and t2.order_serial_num like concat('%',#{orderSerialNum},'%')
        </if>
        <if test="status != null">
            and t1.status = #{status}
        </if>
        <if test="auditResult != null and auditResult !=''">
            and t1.audit_result = #{auditResult}
        </if>
        <if test="startDate != null and startDate != '' and endDate != null and endDate != ''">
            and t1.create_time between concat(#{startDate},' 00:00:00') and concat(#{endDate},' 23:59:59')
        </if>
    </select>

    <select id="getListOrderSheet" parameterType="com.mmtax.business.dto.ManagerOrderSheetDTO"
            resultType="com.mmtax.business.dto.ManagerOrderSheetDTO">
        select
        t1.id as id,
        t1.order_no as orderNo,
        t1.risk_point as riskPoint,
        t1.order_note as orderNote,
        t1.order_num as orderNum,
        t1.trx_order_id as trxOrderId,
        t1.status as status,
        t1.audit_result as auditResult,
        t3.payee_name as name,
        t2.merchant_name as merchantName,
        t1.create_time as createTime,
        t3.amount as amount,
        t4.user_name as saleName
        from
        tbl_order_sheet t1
        left join
        tbl_merchant_info t2
        on
        t1.merchant_id = t2.id
        left join
        tbl_trx_order t3
        on
        t1.trx_order_id = t3.id
        left join sys_user t4
        on t2.belong_saler=t4.user_id
        where
        1=1
        <if test="orderNo != null and orderNo != ''">
            and t1.order_no like concat('%',#{orderNo},'%')
        </if>
        <if test="saleName != null and saleName != ''">
            and t4.user_name like concat('%',#{saleName},'%')
        </if>
        <if test="saleId != null and saleId != ''">
            and t2.belong_saler = #{saleId}
        </if>
        <!-- 数据范围过滤 -->
        ${params.dataScope}
        order by
        t1.create_time desc
    </select>


</mapper>