<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mmtax.business.mapper.OrderReimburseMapper">
    
    <resultMap type="com.mmtax.business.domain.OrderReimburse" id="OrderReimburseResult">
        <result property="id"    column="id"    />
        <result property="amount"    column="amount"    />
        <result property="orderSerialNum"    column="order_serial_num"    />
        <result property="providerId"    column="provider_id"    />
        <result property="reservedFieldOne"    column="reserved_field_one"    />
        <result property="reservedFieldTwo"    column="reserved_field_two"    />
        <result property="reservedFieldThree"    column="reserved_field_three"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>
    <select id="selectByOrderSerilNum" resultMap="OrderReimburseResult">
        select * from tbl_order_reimburse
        where order_serial_num = #{orderSerilNum}
    </select>

    <select id="listChargeReimburseInfoDTOs"
            parameterType ="com.mmtax.business.dto.QueryChargeReimburseInfoDTO"
            resultType="com.mmtax.business.dto.ChargeReimburseInfoDTO">
    SELECT
    t2.merchant_name AS merchantName,
    t4.user_name AS userName,
    t2.payee_name AS payeeName,
    t2.amount AS amount,
    t2.actual_amount AS actualAmount,
    t2.charge AS charge,
    t1.amount AS reimburseCharge,
    t2.order_status as status,
    t2.order_serial_num AS orderSerialNum,
    t2.merchant_serial_num AS merchantSerialNum,
    t1.create_time AS createTime
    FROM `tbl_order_reimburse` t1
    left join tbl_trx_order t2 on t1.order_serial_num = t2.order_serial_num
    LEFT JOIN tbl_merchant_info t3 on t2.merchant_id = t3.id
    left join sys_user t4 on t3.belong_saler = t4.user_id
    where 1=1
    <if test="merchantName != null and merchantName != ''">
        and t2.merchant_name like concat('%',#{merchantName},'%')
    </if>
    <if test="payeeName != null and payeeName != ''">
        and t2.payee_name like concat('%',#{payeeName},'%')
    </if>
    <if test="orderSerialNum != null and orderSerialNum !=''">
        and t2.order_serial_num like concat('%',#{orderSerialNum},'%')
    </if>
    <if test="startDate != null and startDate != '' and endDate != null and endDate != ''">
        and t1.create_time between concat(#{startDate},' 00:00:00') and concat(#{endDate},' 23:59:59')
    </if>
    order by t1.create_time desc
    </select>
</mapper>