<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mmtax.business.mapper.OrderStatusInfoMapper">
    
    <resultMap type="OrderStatusInfo" id="OrderStatusInfoResult">
        <result property="id"    column="id"    />
        <result property="applyId"    column="apply_id"    />
        <result property="applyTime"    column="apply_time"    />
        <result property="handleTime"    column="handle_time"    />
        <result property="rejectTime"    column="reject_time"    />
        <result property="completeTime"    column="complete_time"    />
        <result property="orderStatus"    column="order_status"    />
        <result property="remark"    column="remark"    />
        <result property="providerId"    column="provider_id"    />
        <result property="reservedFieldOne"    column="reserved_field_one"    />
        <result property="reservedFieldTwo"    column="reserved_field_two"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

</mapper>