<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mmtax.business.mapper.PaymentMerchantInfoMapper">
    
    <resultMap type="PaymentMerchantInfo" id="PaymentMerchantInfoResult">
        <result property="id"    column="id"    />
        <result property="merchantId"    column="merchant_id"    />
        <result property="secretKey"    column="secret_key"    />
        <result property="publicKey"    column="public_key"    />
        <result property="merchantNo"    column="merchant_no"    />
        <result property="type"    column="type"    />
        <result property="channel" column="channel"/>
        <result property="taxSourceId"    column="tax_source_id"    />
        <result property="providerId"    column="provider_id"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <select id="selectByMerchantIdAndChannel" resultMap="PaymentMerchantInfoResult">
        select *
        from tbl_payment_merchant_info
        where merchant_id = #{merchantId}
          and channel = #{name}
    </select>

</mapper>