<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mmtax.business.mapper.PerMerApplyScheduleMapper">
    
    <resultMap type="com.mmtax.business.domain.PerMerApplySchedule" id="PerMerApplyScheduleResult">
        <result property="id"    column="id"    />
        <result property="perMerId"    column="per_mer_id"    />
        <result property="applyNumber"    column="apply_number"    />
        <result property="submitTime"    column="submit_time"    />
        <result property="action"    column="action"    />
        <result property="type"    column="type"    />
        <result property="providerId"    column="provider_id"    />
        <result property="reservedFieldOne"    column="reserved_field_one"    />
        <result property="reservedFieldTwo"    column="reserved_field_two"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

</mapper>