<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mmtax.business.mapper.PersonalMerchantMapper">

    <resultMap type="com.mmtax.business.domain.PersonalMerchant" id="PersonalMerchantResult">
        <result property="id" column="id"/>
        <result property="wechatInfoId" column="wechat_info_id"/>
        <result property="taxTypeId" column="tax_type_id"/>
        <result property="applyNumber" column="apply_number"/>
        <result property="applyName" column="apply_name"/>
        <result property="idCardNumber" column="id_card_number"/>
        <result property="mobileNumber" column="mobile_number"/>
        <result property="bankNo" column="bank_no"/>
        <result property="taxSounrceCompanyId" column="tax_sounrce_company_id"/>
        <result property="taxSounrceCompanyName" column="tax_sounrce_company_name"/>
        <result property="idCardPictureFront" column="id_card_picture_front"/>
        <result property="idCardPictureBehind" column="id_card_picture_behind"/>
        <result property="idCardPictureFrontWithPeople" column="id_card_picture_front_with_people"/>
        <result property="businessLicense" column="business_license"/>
        <result property="businessLicenseName" column="business_license_name"/>
        <result property="businessLicenseRegisterTime" column="business_license_register_time"/>
        <result property="businessLicenseType" column="business_license_type"/>
        <result property="organizationType" column="organization_type"/>
        <result property="premises" column="premises"/>
        <result property="delStatus" column="del_status"/>
        <result property="providerId" column="provider_id"/>
        <result property="reservedFieldOne"    column="reserved_field_one"    />
        <result property="reservedFieldTwo"    column="reserved_field_two"    />
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>
    <select id="getOneOrder" resultType="com.mmtax.business.dto.PerMerInfoDTO">
        SELECT
        t1.`id` AS id,
        t1.wechat_info_id AS wechatInfoId,
        t1.`apply_number` AS applyNumber,
        t1.`apply_name` AS applyName,
        t1.`id_card_number` AS idCardNumber,
        t1.bank_no AS bankNo,
        t1.`mobile_number` AS mobileNumber,
        t1.`tax_sounrce_company_id` AS taxSounrceCompanyId,
        t1.`tax_sounrce_company_name` AS taxSounrceCompanyName,
        t1.id_card_picture_front AS idCardPictureFront,
        t1.id_card_picture_behind AS idCardPictureBehind,
        t1.id_card_picture_front_with_people AS idCardPictureFrontWithPeople,
        t1.business_license_name AS businessLicenseName,
        t1.premises AS premises,
        t1.tax_type_id AS taxTypeId,
        t2.tax_type AS taxType,
        t2.tax_person AS taxPerson,
        t2.`invoice_content` AS invoiceContent,
        t2.`business_scope` AS businessScope,
        t2.`business_type` AS businessType,
        t3.`order_status` AS orderStatus,
        t3.`apply_time` AS applyTime,
        t3.`create_time` AS createTime
        FROM
        tbl_personal_merchant t1
        LEFT JOIN tbl_tax_type t2 ON t1.`tax_type_id` = t2.`id`
        LEFT JOIN tbl_order_status_info t3 ON t1.`id` = t3.`apply_id`
        WHERE
        t1.`del_status` = 0 and t1.id = #{id}
    </select>
    <select id="seletBusinessLicenses" resultType="com.mmtax.business.dto.BusinessLicenseReqDTO">
        select
        t1.wechat_info_id AS wechatInfoId,
        t1.business_license_name AS businessLicenseName,
        t1.business_license_register_time AS businessLicenseRegisterTime,
        t1.business_license AS businessLicense
        from tbl_personal_merchant t1
        left join tbl_order_status_info t2 on t1.id = t2.apply_id
        where t1.del_status = 0
        and t2.order_status = 4
        <if test="wechatInfoId != null">
            and t1.wechat_info_id = #{wechatInfoId}
        </if>
        order by t1.create_time desc
    </select>
    <select id="selectPageByStatus" resultType="com.mmtax.business.dto.PerMerInfoDTO">
        SELECT
        t1.`id` AS id,
        t1.wechat_info_id AS wechatInfoId,
        t1.`apply_number` AS applyNumber,
        t1.`apply_name` AS applyName,
        t1.`id_card_number` AS idCardNumber,
        t1.bank_no AS bankNo,
        t1.`mobile_number` AS mobileNumber,
        t1.`tax_sounrce_company_id` AS taxSounrceCompanyId,
        t1.`tax_sounrce_company_name` AS taxSounrceCompanyName,
        t1.id_card_picture_front AS idCardPictureFront,
        t1.id_card_picture_behind AS idCardPictureBehind,
        t1.id_card_picture_front_with_people AS idCardPictureFrontWithPeople,
        t1.business_license_name AS businessLicenseName,
        t1.premises AS premises,
        t2.`invoice_content` AS invoiceContent,
        t2.`business_scope` AS businessScope,
        t2.`business_type` AS businessType,
        t3.`order_status` AS orderStatus,
        t3.`apply_time` AS applyTime,
        t3.`create_time` AS createTime
        FROM
        tbl_personal_merchant t1
        LEFT JOIN tbl_tax_type t2 ON t1.`tax_type_id` = t2.`id`
        LEFT JOIN tbl_order_status_info t3 ON t1.`id` = t3.`apply_id`
        WHERE
        t1.`del_status` = 0 and t3.`order_status` != -2
        <if test="wechatInfoId != null">
            and t1.wechat_info_id = #{wechatInfoId}
        </if>
        <if test="status != null and status != 2 and status != 0 ">
            and t3.`order_status` = #{status}
        </if>
        <if test="status == 2">
            and t3.`order_status` in (2,5)
        </if>
        <if test="status == 0">
            and t3.`order_status` in (0,1)
        </if>
        order by t1.create_time desc
        <if test="startIndex != null">
            limit #{startIndex},#{pageSize}
        </if>
    </select>
    <select id="selectCountByStatus" resultType="int">
        SELECT
        count(*)
        FROM
        tbl_personal_merchant t1
        LEFT JOIN tbl_tax_type t2 ON t1.`tax_type_id` = t2.`id`
        LEFT JOIN tbl_order_status_info t3 ON t1.`id` = t3.`apply_id`
        WHERE
        t1.`del_status` = 0 and t3.`order_status` != -2
        <if test="wechatInfoId != null">
            and t1.wechat_info_id = #{wechatInfoId}
        </if>
        <if test="status != null and status != -1 and status != 0">
            and t3.`order_status` = #{status}
        </if>
        <if test="status == -1">
            and t3.`order_status` in (-1,2)
        </if>
        <if test="status == 0">
            and t3.`order_status` in (0,1)
        </if>
    </select>
    <select id="selectPersonalMerchantDTOList" resultType="com.mmtax.business.dto.PersonalMerchantDTO">
        SELECT
            t1.`id` AS applyId,
            t1.`apply_number` AS applyNumber,
            t1.`apply_name` AS applyName,
            t1.`id_card_number` AS idCardNumber,
            t1.`mobile_number` AS mobileNumber,
            t1.`tax_sounrce_company_id` AS taxSounrceCompanyId,
            t1.`tax_sounrce_company_name` AS taxSounrceCompanyName,
            t2.`invoice_content` AS invoiceContent,
            t2.`business_scope` AS businessScope,
            t2.`business_type` AS businessType,
            t3.`order_status` AS orderStatus,
            t3.`apply_time` AS applyTime,
            t3.`update_time` AS updateTime
        FROM
            tbl_personal_merchant t1
            LEFT JOIN tbl_tax_type t2 ON t1.`tax_type_id` = t2.`id`
            LEFT JOIN tbl_order_status_info t3 ON t1.`id` = t3.`apply_id`
        WHERE
            t3.`order_status` IN (0,2,5)
            and t1.`del_status` = 0
            and t3.handle_time is  null
        <if test="applyName != null and applyName != ''">
            and t1.`apply_name` like concat('%',#{applyName},'%')
        </if>
        <if test="mobileNumber != null and mobileNumber != ''">
            and t1.`mobile_number` like concat('%',#{mobileNumber},'%')
        </if >
        <if test="orderStatus != null">
            and t3.`order_status` = #{orderStatus}
        </if>
        <if test="startDate != null and startDate != '' and endDate != null and endDate != ''">
            and t1.create_time between concat(#{startDate},' 00:00:00') and concat(#{endDate},' 23:59:59')
        </if>
        order by t3.`update_time` desc
    </select>

    <update id="batchDeleteInfo" >
        update tbl_personal_merchant set `del_status` = 1
        where id in
        <foreach collection="applyIds" item="applyId" open="(" close=")" separator=",">
            #{applyId}
        </foreach>
    </update>

    <select id="showPersonalMerchantInfo" parameterType="integer" resultType="com.mmtax.business.dto.PersonalMerchantDetailInfoDTO">
        SELECT
            t1.`id` AS applyId,
            t1.`apply_name` AS applyName,
            t1.`id_card_number` AS idCardNumber,
            t1.`mobile_number` AS mobileNumber,
            t1.`bank_no` AS bankNo,
            t1.`tax_sounrce_company_id` AS taxSounrceCompanyId,
            t1.`tax_sounrce_company_name` AS taxSounrceCompanyName,
            t1.`premises` AS premises,
            t1.`business_license_name` AS businessLicenseName,
            t1.`id_card_picture_front` AS idCardPictureFront,
            t1.`id_card_picture_behind` AS idCardPictureBehind,
            t1.`id_card_picture_front_with_people` AS idCardPictureFrontWithPeople,
            t2.`id` AS taxTypeId,
            t2.`tax_type` AS taxType,
            t2.`tax_person` AS taxPerson,
            t2.`invoice_content` AS invoiceContent,
            t2.`business_scope` AS businessScope,
            t2.`business_type` AS businessType,
        FROM
            tbl_personal_merchant t1
            LEFT JOIN tbl_tax_type t2 ON t1.`tax_type_id` = t2.`id`
        WHERE
            t1.`id` = #{applyId} and t2.`del_status` = 0
        order by t1.`create_time` desc
    </select>

    <update id="checkPersonalMerchantInfo" parameterType="com.mmtax.business.dto.CheckPersonalMerchantInfo">
        update tbl_order_status_info
        <set>
            <if test="remark!=null and remark!=''">
                `remark` = #{remark},`order_status` = #{orderStatus},`reject_time` = sysdate()
            </if>
            <if test="remark==null or remark == ''">
                `order_status` = #{orderStatus},`handle_time` = sysdate()
            </if>
        </set>
        where `apply_id` = #{applyId}
    </update>

    <select id="selectApplyBusinessLicenseInfo" resultType="com.mmtax.business.dto.ApplyLicenseInfoDTO">
        SELECT
        t1.`id` AS applyId,
        t1.`apply_number` AS applyNumber,
        t1.`apply_name` AS applyName,
        t1.`id_card_number` AS idCardNumber,
        t1.`mobile_number` AS mobileNumber,
        t1.`tax_sounrce_company_id` AS taxSounrceCompanyId,
        t1.`tax_sounrce_company_name` AS taxSounrceCompanyName,
        t2.`invoice_content` AS invoiceContent,
        t2.`business_scope` AS businessScope,
        t2.`tax_person` AS taxPerson,
        t3.`apply_time` AS applyTime,
        t3.`update_time` AS updateTime
        FROM
        tbl_personal_merchant t1
        LEFT JOIN tbl_tax_type t2 ON t1.`tax_type_id` = t2.`id`
        LEFT JOIN tbl_order_status_info t3 ON t1.`id` = t3.`apply_id`
        WHERE
        t3.`order_status` in (1,5)
        and t1.`del_status` = 0
        and t3.handle_time is not null
        <if test="applyName != null and applyName != ''">
            and t1.`apply_name` like concat('%',#{applyName},'%')
        </if>
        <if test="mobileNumber != null and mobileNumber != ''">
            and t1.`mobile_number` like concat('%',#{mobileNumber},'%')
        </if>
        <if test="startDate != null and startDate != '' and endDate != null and endDate != ''">
            and t1.create_time between concat(#{startDate},' 00:00:00') and concat(#{endDate},' 23:59:59')
        </if>
        order by t3.`update_time` desc
    </select>

    <select id="showApplyLicenseDetailInfo" resultType="com.mmtax.business.dto.ApplyLicenseDetailInfoDTO">
        SELECT
            t1.`id` AS applyId,
            t1.`apply_name` AS applyName,
            t1.`id_card_number` AS idCardNumber,
            t1.`mobile_number` AS mobileNumber,
            t1.`bank_no` AS bankNo,
            t1.`tax_sounrce_company_id` AS taxSounrceCompanyId,
            t1.`tax_sounrce_company_name` AS taxSounrceCompanyName,
            t1.`premises` AS premises,
            t1.`business_license_name` AS businessLicenseName,
            t1.`id_card_picture_front` AS idCardPictureFront,
            t1.`id_card_picture_behind` AS idCardPictureBehind,
            t1.`id_card_picture_front_with_people` AS idCardPictureFrontWithPeople,
            t2.`id` AS taxTypeId,
            t2.`tax_type` AS taxType,
            t2.`tax_person` AS taxPerson,
            t2.`invoice_content` AS invoiceContent,
            t2.`business_scope` AS businessScope,
            t2.`business_type` AS businessType,
            t1.apply_number AS applyNumber
        FROM
            tbl_personal_merchant t1
            LEFT JOIN tbl_tax_type t2 ON t1.`tax_type_id` = t2.`id`
        WHERE
            t1.`id` = #{applyId}
        order by t1.`create_time` desc
    </select>

    <select id="selectPersonalLicenseInfo" resultType="com.mmtax.business.dto.PersonalLicenseDTO">
        SELECT
        t1.`id` AS applyId,
        t1.`business_license_name` AS businessLicenseName,
        t1.`apply_name` AS applyName,
        t1.`business_license_type` AS businessLicenseType,
        t1.`organization_type` AS organization,
        t1.`id_card_number` AS idCardNumber,
        t1.`mobile_number` AS mobileNumber,
        t1.`tax_sounrce_company_id` AS taxSounrceCompanyId,
        t1.`tax_sounrce_company_name` AS taxSounrceCompanyName,
        t1.`business_license_register_time` AS businessLicenseRegisterTime,
        t1.`business_license`  AS businessLicense,
        t2.`invoice_content` AS invoiceContent,
        t2.`tax_person` AS taxPerson,
        t2.`business_scope` AS businessScope,
        t3.`apply_time` AS applyTime
        FROM
        tbl_personal_merchant t1
        LEFT JOIN tbl_tax_type t2 ON t1.`tax_type_id` = t2.`id`
        LEFT JOIN tbl_order_status_info t3 ON t1.`id` = t3.`apply_id`
        WHERE
        t3.`order_status` = 4
        and t1.`del_status` = 0
        <if test="businessLicenseName != null and businessLicenseName != ''">
            and t1.`business_license_name` like concat('%',#{businessLicenseName},'%')
        </if>
        <if test="applyName != null and applyName != ''">
                and t1.`apply_name` like concat('%',#{applyName},'%')
        </if>
        <if test="mobileNumber != null and mobileNumber != ''">
            and t1.`mobile_number` like concat('%',#{mobileNumber},'%')
        </if>
        <if test="startDate != null and startDate != '' and endDate != null and endDate != ''">
            and t1.create_time between concat(#{startDate},' 00:00:00') and concat(#{endDate},' 23:59:59')
        </if>
        order by t1.create_time desc
    </select>

    <select id="selectTaxTypeInfo" resultType="com.mmtax.business.dto.TaxTypeInfoDTO">
        SELECT
            `id` AS TaxTypeId,
            `tax_type_number` AS taxTypeNumber,
            `tax_sounrce_company_id` AS taxSounrceCompanyId,
            `tax_sounrce_company_name` AS taxSounrceCompanyName,
            `business_type` AS businessType,
            `tax_type` AS taxType,
            `invoice_content` AS invoiceContent,
            `business_scope` AS businessScope,
            `tax_person` AS taxPerson,
            `create_time` AS createTime
        FROM
            tbl_tax_type
        WHERE
            `del_status` = 0
        <if test="taxSounrceCompanyName != null and taxSounrceCompanyName != ''">
            and `tax_sounrce_company_name` like concat('%',#{taxSounrceCompanyName},'%')
        </if>
        <if test="businessType != null and businessType != ''">
            and `business_type` like concat('%',#{businessType},'%')
        </if>
        <if test="invoiceContent != null and invoiceContent != ''">
            and `invoice_content` like concat('%',#{invoiceContent},'%')
        </if>
        <if test="startDate != null and startDate != '' and endDate != null and endDate != ''">
            and create_time between concat(#{startDate},' 00:00:00') and concat(#{endDate},' 23:59:59')
        </if>
    </select>

    <select id="selectTaxTypeInfoById" resultType="com.mmtax.business.dto.TaxTypeInfoDTO">
        SELECT
        `id` AS TaxTypeId,
        `tax_type_number` AS taxTypeNumber,
        `tax_sounrce_company_id` AS taxSounrceCompanyId,
        `tax_sounrce_company_name` AS taxSounrceCompanyName,
        `business_type` AS businessType,
        `tax_type` AS taxType,
        `invoice_content` AS invoiceContent,
        `business_scope` AS businessScope,
        `tax_person` AS taxPerson,
        `create_time` AS createTime
        FROM
        tbl_tax_type
        WHERE
        `del_status` = 0
        <if test="id != null">
            and `id` = #{id}
        </if>
    </select>
    <select id="getPermerchantMaxId" resultType="java.lang.Integer">
    SELECT
	IFNULL( max( id ), 0 )
    FROM
	tbl_personal_merchant
    ORDER BY
	id DESC
    </select>

    <update id="batchDeleteTaxTypeInfo" parameterType="list">
        update tbl_tax_type
        set `del_status` = 1
        where id in
        <foreach collection="taxTypeIds" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </update>
</mapper>