<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mmtax.business.mapper.RechargeRecordMapper">

    <resultMap type="RechargeRecord" id="RechargeRecordResult">
        <result property="id" column="id"/>
        <result property="merchantId" column="merchant_id"/>
        <result property="amount" column="amount"/>
        <result property="rechargeAmountBefore" column="recharge_amount_before"/>
        <result property="rechargeAmountAfter" column="recharge_amount_after"/>
        <result property="rechargeUsableAmountBefore" column="recharge_usable_amount_before"/>
        <result property="rechargeUsableAmountAfter" column="recharge_usable_amount_after"/>
        <result property="rechargeChannel" column="recharge_channel"/>
        <result property="rechargeType" column="recharge_type"/>
        <result property="invoiceStatus" column="invoice_status"/>
        <result property="status" column="status"/>
        <result property="orderSerialNum" column="order_serial_num"/>
        <result property="providerId" column="provider_id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <select id="selectRechargeRecords" resultType="com.mmtax.business.dto.RechargeDetialDTO">
        SELECT
        t2.order_serial_num AS orderSerialNum,
        t2.amount,
        t2.create_time AS createTime
        FROM tbl_invoice_recharge_correlation AS t1 LEFT JOIN tbl_recharge_record AS t2 ON t1.`recharge_record_id` = t2.`id`
        WHERE t1.`merchant_id`=#{merchantId} and t1.`invoice_record_id`=#{invoiceRecordId}
    </select>


    <select id="selectIdByOrderSerialNum" resultType="java.lang.Integer">
        SELECT id
        FROM tbl_recharge_record
        WHERE order_serial_num =#{orderSerialNum}
    </select>

    <update id="updateInvoiceStatusByOrderSerialNum">
        update tbl_recharge_record set invoice_status =#{invoiceStatus},update_time=#{updateTime}
        where order_serial_num=#{orderSerialNum}
    </update>
    <select id="queryTaxSourceInfo" resultType="com.mmtax.business.domain.TaxSounrceCompany">
        SELECT  DISTINCT
        t3.`id` AS id,
        t3.`tax_sounrce_company_name` AS taxSounrceCompanyName
        FROM tbl_recharge_record AS t1 LEFT JOIN tbl_online_payment_info AS t2 ON t1.`merchant_id` = t2.`merchant_id` LEFT JOIN tbl_tax_sounrce_company AS t3 ON t2.`tax_source_company_id` = t3.`id`
        WHERE t1.`merchant_id` = #{merchantId}
    </select>

    <select id="countInvoiceBills" resultType="java.lang.Integer">
        SELECT
        count(1)
        FROM tbl_recharge_record AS t1 LEFT JOIN tbl_online_payment_info AS t2 ON t1.`merchant_id` = t2.`merchant_id` LEFT JOIN tbl_tax_sounrce_company AS t3 ON t2.`tax_source_company_id` = t3.`id`
        WHERE t1.`merchant_id` = #{merchantId} and t1.invoice_status = 0 and t1.status = 'SUCCESS'
        <if test="startDate != null and startDate != '' and endDate != null and endDate != ''">
            and t1.create_time between concat(#{startDate},' 00:00:00') and concat(#{endDate},' 23:59:59')
        </if>
        <if test="startMoney != null and startMoney != '' and endMoney != null and endMoney != ''">
            and t1.amount between #{startMoney} and #{endMoney}
        </if>

    </select>


    <select id="queryInvoiceBillsAmount" resultType="java.math.BigDecimal">
        SELECT
        SUM(t1.amount)
        FROM tbl_recharge_record AS t1 LEFT JOIN tbl_online_payment_info AS t2 ON t1.`merchant_id` = t2.`merchant_id` LEFT JOIN tbl_tax_sounrce_company AS t3 ON t2.`tax_source_company_id` = t3.`id`
        WHERE t1.`merchant_id` = #{merchantId} and t1.invoice_status = 0 and t1.status = 'SUCCESS'
        <if test="startDate != null and startDate != '' and endDate != null and endDate != ''">
            and t1.create_time between concat(#{startDate},' 00:00:00') and concat(#{endDate},' 23:59:59')
        </if>
        <if test="startMoney != null and startMoney != '' and endMoney != null and endMoney != ''">
            and t1.amount between #{startMoney} and #{endMoney}
        </if>

    </select>

    <select id="queryInvoiceBills" resultType="com.mmtax.business.yunzbdto.YunZBInvoiceBillResultDTO">
        SELECT
        t1.`order_serial_num` as bill_id,
        t1.`amount` AS bill_amt,
        t1.`amount` AS available_amt,
        t3.`tax_sounrce_company_name` as channel,
        t1.`create_time` as bill_time
        FROM tbl_recharge_record AS t1 LEFT JOIN tbl_online_payment_info AS t2 ON t1.`merchant_id` = t2.`merchant_id` LEFT JOIN tbl_tax_sounrce_company AS t3 ON t2.`tax_source_company_id` = t3.`id`
        WHERE t1.`merchant_id` = #{merchantId} and t1.invoice_status = 0 and t1.status = 'SUCCESS'
        <if test="startDate != null and startDate != '' and endDate != null and endDate != ''">
            and t1.create_time between concat(#{startDate},' 00:00:00') and concat(#{endDate},' 23:59:59')
        </if>
        <if test="startMoney != null and startMoney != '' and endMoney != null and endMoney != ''">
            and t1.amount between #{startMoney} and #{endMoney}
        </if>
        ORDER BY
        t1.`create_time` DESC
        <if test="pageSize != null">
            limit #{startIndex},#{pageSize}
        </if>
    </select>

    <select id="selectTheList" resultMap="RechargeRecordResult">
        select
        *
        from tbl_recharge_record
        where 1 = 1
        <if test="merchantId != null">
            and merchant_id = #{merchantId}
        </if>
        <if test="invoiceStatus != null">
            and invoice_status = #{invoiceStatus}
        </if>
        <if test="status != null">
            and status = #{status}
        </if>
    </select>
    <select id="getRechargeByInvoiceId" resultMap="RechargeRecordResult">
        SELECT
        *
        FROM
        tbl_recharge_record
        WHERE
        id
        IN
        (SELECT
        recharge_record
        FROM
        tbl_invoice_apply_detail
        WHERE
        invoice_apply_id =#{invoiceId}
        AND
        del_status = 0)
        ORDER BY
        create_time DESC
        <if test="pageSize != null">
            limit #{startIndex},#{pageSize}
        </if>
    </select>
    <select id="countRechargeByInvoiceId" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM tbl_recharge_record
        WHERE id
                  IN
              (SELECT recharge_record
               FROM tbl_invoice_apply_detail
               WHERE invoice_apply_id = #{invoiceId}
                 AND del_status = 0)
    </select>

    <select id="getListMerchantRechargeRecord" resultType="com.mmtax.business.dto.MerchantRechargeRecordDTO">
        select
        amount as amount,
        amount as actualAmount,
        invoice_status as invoiceStatus,
        status,
        recharge_type as rechargeType,
        recharge_channel as rechargeChannel,
        order_serial_num as orderSerialNum,
        create_time as createTime,
        update_time as updateTime
        from
        tbl_recharge_record
        where
        1=1
        and
        merchant_id =#{merchantId}
        <if test="startDate != null and startDate != '' and endDate != null and endDate != ''">
            and create_time between concat(#{startDate},' 00:00:00') and concat(#{endDate},' 23:59:59')
        </if>
        <if test="rechargeChannel != null and rechargeChannel != ''">
            and recharge_channel like concat('%',#{rechargeChannel},'%')
        </if>
        <if test="rechargeType != null and rechargeType != ''">
            and recharge_type like concat('%',#{rechargeType},'%')
        </if>
        <if test="status != null and status != ''">
            and status = #{status}
        </if>
        order by
        create_time desc
        <if test="startIndex != null">
            limit #{startIndex},#{pageSize}
        </if>
    </select>
    <select id="getCountMerchantRechargeRecord" resultType="java.lang.Integer">
        select
        count(0)
        from
        tbl_recharge_record
        where
        1=1
        and
        merchant_id =#{merchantId}
        <if test="startDate != null and startDate != '' and endDate != null and endDate != ''">
            and create_time between concat(#{startDate},' 00:00:00') and concat(#{endDate},' 23:59:59')
        </if>
        <if test="rechargeChannel != null and rechargeChannel != ''">
            and recharge_channel like concat('%',#{rechargeChannel},'%')
        </if>
        <if test="rechargeType != null and rechargeType != ''">
            and recharge_type like concat('%',#{rechargeType},'%')
        </if>
        <if test="status != null and status != ''">
            and status = #{status}
        </if>
    </select>
    <select id="getListMerchantRechargeRecordForInvoice"
            resultType="com.mmtax.business.dto.MerchantRechargeRecordInvoiceDTO">
        select
        id,
        amount as amount,
        amount as actualAmount,
        create_time as createTime,
        update_time as updateTime,
        status as status,
        invoice_status as invoiceStatus,
        order_serial_num as orderSerialNum

        from
        tbl_recharge_record
        where
        1=1
        and
        merchant_id =#{merchantId}
        and status = 'SUCCESS'
        <if test="startDate != null and startDate != '' and endDate != null and endDate != ''">
            and create_time between concat(#{startDate},' 00:00:00') and concat(#{endDate},' 23:59:59')
        </if>
        order by
        create_time desc
        limit #{startIndex},#{pageSize}
    </select>
    <select id="getCountMerchantRechargeRecordForInvoice" resultType="java.lang.Integer">
        select
        count(0)
        from
        tbl_recharge_record
        where
        1=1
        and
        merchant_id =#{merchantId}
        and status = 'SUCCESS'
        <if test="startDate != null and startDate != '' and endDate != null and endDate != ''">
            and create_time between concat(#{startDate},' 00:00:00') and concat(#{endDate},' 23:59:59')
        </if>
    </select>
    <select id="getAllRechargeByInvoiceId" resultMap="RechargeRecordResult">
        SELECT *
        FROM tbl_recharge_record
        WHERE id
                  IN
              (SELECT recharge_record
               FROM tbl_invoice_apply_detail
               WHERE invoice_apply_id = #{invoiceId}
                 AND del_status = 0)

    </select>
    <select id="getTotalRechargeAmount" resultType="java.math.BigDecimal">
        SELECT SUM(amount)
        FROM tbl_recharge_record
        WHERE id
                  IN
              (SELECT recharge_record
               FROM tbl_invoice_apply_detail
               WHERE invoice_apply_id = #{invoiceId}
                 AND del_status = 0)
    </select>
    <select id="getAllRelationInvoiceIdByInvoiceId" resultType="java.lang.Integer">
        SELECT DISTINCT invoice_apply_id
        FROM `tbl_invoice_apply_detail`
        WHERE recharge_record IN
              (SELECT recharge_record
               FROM tbl_invoice_apply_detail
               WHERE invoice_apply_id = #{invoiceId}
                 AND del_status = 0
              )
    </select>

    <select id="getRechargeRecordBySerialNum" resultMap="RechargeRecordResult">
        select *
        from tbl_recharge_record
        where order_serial_num = #{orderNo}
    </select>

    <select id="getRechargeList" resultType="com.mmtax.business.dto.ManagerRechargeDTO">
        SELECT
        t.id AS id,
        t.merchant_name AS merchantName,
        t.merchant_code AS merchantCode,
        t.contacts_mobile AS contactsMobile,
        t3.user_name AS userName,
        t2.order_serial_num AS orderSerialNum,
        t2.amount AS amount,
        t2.recharge_type AS rechargeType,
        t2.status AS status,
        t2.create_time AS createTime
        FROM
        tbl_recharge_record t2
        LEFT JOIN  tbl_merchant_info t ON t.id = t2.merchant_id
        LEFT JOIN sys_user t3 ON t.belong_saler = t3.user_id
        <where>
            t2.order_serial_num != 'null' and t2.order_serial_num != ''
            <if test = "merchantName != null and merchantName != ''">
                and t.merchant_name like concat('%',#{merchantName},'%')
            </if>
            <if test = "merchantCode != null and merchantCode != ''">
                and t.merchant_code like concat('%',#{merchantCode},'%')
            </if>
            <if test = "rechargeType != null and rechargeType != ''">
                and t2.recharge_type =#{rechargeType}
            </if>
            <if test="status != null and status != '' ">
                and t2.status = #{status}
            </if>
        </where>
            order by t2.create_time desc
    </select>

</mapper>