<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mmtax.business.mapper.RiskManagementConfigMapper">
    
    <resultMap type="RiskManagementConfig" id="RiskManagementConfigResult">
        <result property="id"    column="id"    />
        <result property="quotaConfig"    column="quota_config"    />
        <result property="singleQuotaConfig"    column="single_quota_config"    />
        <result property="temporaryQuota"    column="temporary_quota"    />
        <result property="temporaryQuotaBegin"    column="temporary_quota_begin"    />
        <result property="temporaryQuotaEnd"    column="temporary_quota_end"    />
        <result property="merchantId"    column="merchant_id"    />
        <result property="singleDayQuota"    column="single_day_quota"    />
        <result property="providerId"    column="provider_id"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <select id="getConfigByMerchantId" resultMap="RiskManagementConfigResult">
        select *from tbl_risk_management_config where merchant_id = #{merchantId}
    </select>
</mapper>