<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mmtax.business.mapper.SettlementInfoMapper">

    <resultMap type="SettlementInfo" id="SettlementInfoResult">
        <result property="id" column="id"/>
        <result property="accountName" column="account_name"/>
        <result property="accountNo" column="account_no"/>
        <result property="bankName" column="bank_name"/>
        <result property="bankCode" column="bank_code"/>
        <result property="settBankcardNo" column="sett_bankcard_no"/>
        <result property="merchantId" column="merchant_id"/>
        <result property="providerId" column="provider_id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>
    <update id="updateByMerchantId">
        UPDATE
            tbl_settlement_info
        SET bank_name  = #{bankName},
            account_no = #{accountNo}
        WHERE merchant_id = #{merchantId}
    </update>
    <select id="getSettleIdByMerchantId" resultType="java.lang.Integer">
        SELECT id
        FROM tbl_settlement_info
        WHERE merchant_id = #{merchantId}
    </select>
    <select id="getSettleByMerchantId" resultMap="SettlementInfoResult">
        SELECT *
        FROM tbl_settlement_info
        WHERE merchant_id = #{merchantId}

    </select>

    <select id="checkAccountName" resultType="java.lang.Integer">
        select count(0)
        from tbl_settlement_info t1,
             tbl_merchant_info t2
        where t1.merchant_id = t2.id
          and t1.account_name = #{accountName}
          and t2.status != 'CANCEL'
    </select>
    <select id="checkAccountNo" resultType="java.lang.Integer">
        select count(0)
        from tbl_settlement_info t1,
             tbl_merchant_info t2
        where t1.merchant_id = t2.id
          and t1.account_no = #{accountNo}
          and t2.status != 'CANCEL'
    </select>

    <select id="getListManagersettleMentInfo"
            parameterType="com.mmtax.business.dto.ManagerSettleMentInfoDTO"
            resultType="com.mmtax.business.dto.ManagerSettleMentInfoDTO">
        select
        t1.merchant_id as id,
        t1.account_name as accountName,
        t1.bank_name as bankName,
        t1.account_no as accountNo,
        t2.merchant_name as merchantName,
        t1.bank_code as bankCode,
        t1.sett_bankcard_no as settBankcardNo,
        t3.user_name as saleName
        from
        tbl_settlement_info t1
        left join
        tbl_merchant_info t2
        on
        t1.merchant_id = t2.id
        left join
        sys_user t3
        on t2.belong_saler = t3.user_id
        where
        1=1
        <if test="merchantName != null and merchantName != ''">
            and t2.merchant_name like concat('%',#{merchantName},'%')
        </if>
        <if test="saleId != null and saleId != ''">
            and t2.belong_saler = #{saleId}
        </if>
        <if test="saleName != null and saleName != null">
            and t3.user_name like concat('%',#{saleName},'%')
        </if>
        <!-- 数据范围过滤 -->
        ${params.dataScope}
        order by
        t1.create_time desc
    </select>

</mapper>