<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mmtax.business.mapper.TaxSounrceCompanyMapper">

    <resultMap type="TaxSounrceCompany" id="TaxSounrceCompanyResult">
        <result property="id" column="id"/>
        <result property="merchantNo" column="merchant_no"/>
        <result property="secretKey" column="secret_key"/>
        <result property="publicKey" column="public_key"/>
        <result property="taxSounrceCompanyName" column="tax_sounrce_company_name"/>
        <result property="channel" column="channel"/>
        <result property="providerId" column="provider_id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>
    <select id="getTaxSourceCompany" resultType="com.mmtax.business.dto.ManagerTaxSourceCompanyDTO">
        select id as id, tax_sounrce_company_name as taxSounrceCompanyName, channel as channel
        from tbl_tax_sounrce_company
        where channel = 'ONLINE'
    </select>


</mapper>