<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mmtax.business.mapper.TaxWithdrawAccountMapper">
    
    <resultMap type="com.mmtax.business.domain.TaxWithdrawAccount" id="TaxWithdrawAccountResult">
        <result property="id"    column="id"    />
        <result property="chargeMerchantId"    column="charge_merchant_id"    />
        <result property="companyName"    column="company_name"    />
        <result property="taxSourceCompanyId"    column="tax_source_company_id"    />
        <result property="taxSourceName"    column="tax_source_name"    />
        <result property="taxIdNumber"    column="tax_id_number"    />
        <result property="companyAddress"    column="company_address"    />
        <result property="companyTel"    column="company_tel"    />
        <result property="bankPublic"    column="bank_public"    />
        <result property="bankNamePublic"    column="bank_name_public"    />
        <result property="bankAccountPublic"    column="bank_account_public"    />
        <result property="bankCardPublic"    column="bank_card_public"    />
        <result property="bankPrivate"    column="bank_private"    />
        <result property="bankNamePrivate"    column="bank_name_private"    />
        <result property="bankAccountPrivate"    column="bank_account_private"    />
        <result property="bankCardPrivate"    column="bank_card_private"    />
        <result property="mobilePrivate"    column="mobile_private"    />
        <result property="idCardPrivate"    column="id_card_private"    />
        <result property="allowWithdraw"    column="allow_withdraw"    />
        <result property="publicOrPrivate"    column="public_or_private"    />
        <result property="reservedFieldOne"    column="reserved_field_one"    />
        <result property="reservedFieldTwo"    column="reserved_field_two"    />
        <result property="reservedFieldThree"    column="reserved_field_three"    />
        <result property="providerId"    column="provider_id"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <select id="selectByAttributes" parameterType="com.mmtax.business.dto.TaxWithdrawAccountDTO"
            resultMap="TaxWithdrawAccountResult">
        select * from tbl_tax_withdraw_account
        where 1 = 1
        <if test="taxSourceName != null and taxSourceName != ''">
            and tax_source_name like concat('%',#{taxSourceName},'%')
        </if>
        <if test="companyName != null and companyName != ''">
            and company_name like concat('%',#{companyName},'%')
        </if>
        <if test="startDate != null and startDate != ''">
            and create_time &gt; concat(#{startDate},' 00:00:00')
        </if>
        <if test="endDate != null and endDate != ''">
            and create_time &lt; concat(#{endDate},' 23:59:59')
        </if>
    </select>
</mapper>