<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mmtax.business.mapper.TianJinPaymentInfoMapper">

    <resultMap type="TianJinPaymentInfo" id="TianJinPaymentInfoResult">
        <result property="id" column="id"/>
        <result property="merchantId" column="merchant_id"/>
        <result property="token" column="token"/>
        <result property="xinbadaUserUuid" column="xinbada_user_uuid"/>
        <result property="serverUserUuid" column="server_user_uuid"/>
        <result property="customerAccountUuid" column="customer_account_uuid"/>
        <result property="taxSourceCompanyId" column="tax_source_company_id"/>
        <result property="providerId" column="provider_id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>
    <select id="getTianJinPaymentInfoByMerchantId" resultMap="TianJinPaymentInfoResult">
        select *
        from tbl_tian_jin_payment_info
        where merchant_id = #{merchantId}
    </select>
</mapper>