<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mmtax.business.mapper.UserListMapper">

    <resultMap type="UserList" id="UserListResult">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="idCardNo" column="id_card_no"/>
        <result property="bankCardNo" column="bank_card_no"/>
        <result property="mobileNo" column="mobile_no"/>
        <result property="country" column="country"/>
        <result property="status" column="status"/>
        <result property="type" column="type"/>
        <result property="certificateTypeId" column="certificate_type_id"/>
        <result property="idCardFront" column="id_card_front"/>
        <result property="idCardBack" column="id_card_back"/>
        <result property="comment" column="comment"/>
        <result property="merchantId" column="merchant_id"/>
        <result property="providerId" column="provider_id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <select id="getListUser" resultType="com.mmtax.business.dto.MerchantListUserDTO">
        select
        t1.name as name,
        t1.id_card_no as idCardNo,
        t1.bank_card_no as bankCardNo,
        t1.mobile_no as mobileNo,
        t1.country as country,
        t1.id_card_front as idCardFront,
        t1.id_card_back as idCardBack,
        t1.comment as comment,
        t1.status as status,
        t2.name as certificateTypeName
        from
        tbl_user_list t1,
        tbl_certificate_type t2
        where
        1=1
        and
        t1.certificate_type_id = t2.id
        and
        t1.type = 'WHITE'
        and
        t1.merchant_id=#{merchantId}
        <if test="name != null and name != ''">
            and t1.name like concat('%',#{name},'%')
        </if>
        order by
        t1.create_time desc
        limit #{startIndex},#{pageSize}
    </select>
    <select id="getCountUser" resultType="java.lang.Integer">
        select
        count(0)
        from
        tbl_user_list t1,
        tbl_certificate_type t2
        where
        1=1
        and
        t1.certificate_type_id = t2.id
        and
        t1.type = 'WHITE' and t1.merchant_id = #{merchantId}
        <if test="name != null and name != ''">
            and t1.name like concat('%',#{name},'%')
        </if>
    </select>

    <select id="getManagerList" parameterType="com.mmtax.business.dto.ManagerUserDTO"
            resultType="com.mmtax.business.dto.ManagerUserDTO">
        select
        t1.id as id,
        t1.name as name,
        t1.id_card_no as idCardNo,
        t1.bank_card_no as bankCardNo,
        t1.mobile_no as mobileNo,
        t1.country as country,
        t1.status as status,
        t1.certificate_type_id as certificateTypeId,
        t1.id_card_front as idCardFront,
        t1.id_card_back as idCardBack,
        t1.comment as comment,
        t2.merchant_name as merchantName,
        t1.create_time as createTime,
        t1.update_time as updateTime,
        t3.user_name as saleName
        from
        tbl_user_list t1
        left join
        tbl_merchant_info t2
        on t1.merchant_id = t2.id
        left join sys_user t3
        on t2.belong_saler=t3.user_id
        where
        1=1
        and
        t1.merchant_id = t2.id
        and
        t1.type = 'WHITE'
        <if test="merchantName != null and merchantName != ''">
            and t2.merchant_name like concat('%',#{merchantName},'%')
        </if>
        <if test="name != null and name != ''">
            and t1.name like concat('%',#{name},'%')
        </if>
        <if test="status != null">
            and t1.status = #{status}
        </if>
        <if test="saleId != null and saleId != ''">
            and t2.belong_saler = #{saleId}
        </if>
        <if test="saleName != null and saleName != ''">
            and t3.user_name like concat('%',#{saleName},'%')
        </if>
        <!-- 数据范围过滤 -->
        ${params.dataScope}
        order by
        t1.create_time desc
    </select>
    <select id="getListCheckUser" resultMap="UserListResult">
        select *
        from tbl_user_list
        where merchant_id = #{merchantId}
          and name = #{name}
          and status = '1'
          and type = 'WHITE'
    </select>
</mapper>