<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mmtax.business.mapper.WorkOrderMapper">
    
    <resultMap type="WorkOrder" id="WorkOrderResult">
        <result property="id"    column="id"    />
        <result property="workOrderSerialNumber"    column="work_order_serial_number"    />
        <result property="applyNumber"    column="apply_number"    />
        <result property="name"    column="name"    />
        <result property="certificateNo"    column="certificate_no"    />
        <result property="title"    column="title"    />
        <result property="content"    column="content"    />
        <result property="status"    column="status"    />
        <result property="txt"    column="txt"    />
        <result property="pdfAddress"    column="pdf_address"    />
        <result property="imgAddress"    column="img_address"    />
        <result property="videoAddress"    column="video_address"    />
        <result property="publishTime"    column="publish_time"    />
        <result property="feedbackTime"    column="feedback_time"    />
        <result property="delStatus"    column="del_status"    />
        <result property="taxSourceId"    column="tax_source_id"    />
        <result property="providerId"    column="provider_id"    />
        <result property="reservedFieldOne"    column="reserved_field_one"    />
        <result property="reservedFieldTwo"    column="reserved_field_two"    />
        <result property="reservedFieldThree"    column="reserved_field_three"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>
    <select id="listWorkOrder" resultType="com.mmtax.business.dto.ListWorOrderResultDTO">
        select
        t1.work_order_serial_number AS workOrderSerialNumber,
        t1.name AS name,
        t1.certificate_no AS certificateNo,
        t2.mobile_number AS mobile,
        t2.tax_sounrce_company_name AS taxSourceCompanyName,
        t1.title AS title,
        t1.status AS status,
        t1.publish_time AS publishTime,
        t1.feedback_time AS feedbackTime
        from
        tbl_work_order t1 left join tbl_personal_merchant t2 on t1.apply_number = t2.apply_number

        where 1 = 1
        <if test="name != null and name != ''">
           and t1.name like concat('%',#{name},'%')
        </if>
        <if test="mobile != null and mobile != ''">
            and t2.mobile_number like concat('%',#{mobile},'%')
        </if>
        <if test="status != null ">
            and t1.status = #{status}
        </if>
        <if test="startPublishTime != null and startPublishTime != '' and endtPublishTime != null and endtPublishTime != ''">
            and t1.publish_time between concat(#{startPublishTime},' 00:00:00') and concat(#{endtPublishTime},' 23:59:59')
        </if>
        <if test="startFeedBackTime != null and startFeedBackTime != '' and endFeedBackTime != null and  endFeedBackTime != ''">
            and t1.feedback_time between concat(#{startFeedBackTime},' 00:00:00') and concat(#{endFeedBackTime},' 23:59:59')
        </if>
        order by t1.publish_time desc
    </select>
    <select id="listWorkOrderByApplyNumbers" resultType="com.mmtax.business.dto.WorkOrderRecordResultDTO">
        select
        t1.work_order_serial_number as workOrderSerialNumber,
        t1.create_time as publishTime,
        t1.title as title,
        t1.`status` as status
        from tbl_work_order  t1
        where t1.status != 3 and  t1.apply_number in
        <foreach collection="applyNumbers" item="applyNumber" open="(" close=")" separator=",">
            #{applyNumber}
        </foreach>
        order by t1.publish_time desc
    </select>

</mapper>