<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('提现详情')"/>

</head>
<body class="white-bg">
<div class="form-content">
    <h4 class="form-header h4">提现时间及订单号：
        <p style="display: inline-block;font-size: 14px;margin-right: 10px;color: #676a6c;">税源地名称：<span id="taxSourceName"></span> 提现状态：<span id="orderStatus"></span></p>
        <button type="button" class="btn btn-sm btn-danger" onclick="load()">查看电子凭证</button>
    </h4>
    <form class="form-horizontal m">
        <table cellspacing="0" border="5px" solid #F00>

            <tr>
                <th th:width="200" height="50" style="text-align: center;">订单流水号</th>
                <th th:width="200" style="text-align: center;">账户订单号</th>
                <th th:width="200" style="text-align: center;">批次号</th>
                <th th:width="200" style="text-align: center;">创建订单时间</th>
                <th th:width="200" style="text-align: center;">最后更新时间</th>
                <th th:width="200" style="text-align: center;">提现凭证号</th>
            </tr>
            <tr>
                <td style="text-align: center;" height="50" class="orderSerialNum"></td>
                <td th:width="200" style="text-align: center;" class="merchantSerialNum"></td>
                <td th:width="200" style="text-align: center;" class="batchNo"></td>
                <td th:width="200" style="text-align: center;" class="createTime"></td>
                <td th:width="200" style="text-align: center;" class="updateTime"></td>
                <td th:width="200" style="text-align: center;" class="voucherNum"></td>
            </tr>
        </table>
    </form>

    <h4 class="form-header h4">提现时间及订单号：</h4>
    <form class="form-horizontal m">
        <table cellspacing="0" border="5px" solid #F00>

            <tr>
                <th th:width="200" height="50" style="text-align: center;">提现渠道</th>
                <th th:width="200" style="text-align: center;">商户提现请求（元）</th>
                <th th:width="200" style="text-align: center;">服务费</th>
                <th th:width="200" style="text-align: center;">代征主体提现请求</th>
            </tr>
            <tr>
                <td style="text-align: center;" height="50" class="paymentChannel"></td>
                <td th:width="200" style="text-align: center;" class="amount"></td>
                <td th:width="200" style="text-align: center;" class="charge"></td>
                <td th:width="200" style="text-align: center;" class="actualAmount"></td>
            </tr>
        </table>
    </form>

    <h4 class="form-header h4">提现时间及订单号：</h4>
    <form class="form-horizontal m">
        <table cellspacing="0" border="5px" solid #F00>

            <tr>
                <th th:width="200" height="50" style="text-align: center;">商户ID</th>
                <th th:width="200" style="text-align: center;">收款户名</th>
                <th th:width="200" style="text-align: center;">收款银行名称</th>
                <th th:width="200" style="text-align: center;">收款账号</th>
                <th th:width="200" style="text-align: center;">证件号码</th>
                <th th:width="200" style="text-align: center;">银行预留手机号</th>
            </tr>
            <tr>
                <td style="text-align: center;" height="50" class="merchantId"></td>
                <td th:width="200" style="text-align: center;" class="payeeName"></td>
                <td th:width="200" style="text-align: center;" class="bankName"></td>
                <td th:width="200" style="text-align: center;" class="payeeBankNo"></td>
                <td th:width="200" style="text-align: center;" class="payeeIdCardNo"></td>
                <td th:width="200" style="text-align: center;" class="payeeMobile"></td>
            </tr>
        </table>
    </form>
</div>
<div class="row" style="margin: 20px auto; height: 90px;">
    <div class="col-sm-offset-10 col-sm-3">
        <button type="button" class="btn btn-sm btn-danger" onclick="closeItem()"><i class="fa fa-reply-all"></i>关 闭
        </button>
    </div>
</div>


<div th:include="include::footer"></div>

<script type="text/javascript">
    $(function () {
        var information = sessionStorage.getItem("information");
        information = JSON.parse(information)
        if (information != "null") {
            $("#taxSourceName").text(information.taxSourceName)
            $(".orderSerialNum").text(information.orderSerialNum)
            $(".merchantSerialNum").text(information.merchantSerialNum)
            $(".batchNo").text(information.batchNo)
            $(".createTime").text(information.createTime)
            $(".updateTime").text(information.updateTime)
            $(".voucherNum").text(information.orderSerialNum)
            if (information.paymentChannel == "BANK") {
                $(".paymentChannel").text("银行卡")
            } else if (information.paymentChannel == "ALIPAY") {
                $(".paymentChannel").text("支付宝")
            } else if (information.paymentChannel == "WECHAT") {
                $(".paymentChannel").text("微信")
            }
            $(".amount").text(information.amount)
            $(".charge").text(information.charge)
            $(".actualAmount").text(information.actualAmount)
            $(".merchantId").text(information.merchantId)
            $(".payeeName").text(information.payeeName)
            $(".bankName").text(information.bankName)
            $(".payeeBankNo").text(information.payeeBankNo)
            $(".payeeIdCardNo").text(information.payeeIdCardNo)
            $(".payeeMobile").text(information.payeeMobile)
            if(information.orderStatus == '0'){
                $("#orderStatus").text("进行中")
            }else if(information.orderStatus == '1'){
                $("#orderStatus").text("已提现")
            }else if(information.orderStatus == '2'){
                $("#orderStatus").text("提现挂起")
            }else if(information.orderStatus == '9'){
                $("#orderStatus").text("提现失败")
            }else if(information.orderStatus == '-1'){
                $("#orderStatus").text("待处理")
            }
        } else {
        }
    })
    function load() {
        var information = JSON.parse(sessionStorage.getItem("information"))
        $.modal.open("查看电子凭证", "/manager/trxOrder/voucher?id="+information.id);
    }
</script>
</body>
</html>
