<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('税源地账户详细信息')"/>
    <style>
        .form-control{
            border: none;
        }
        .form-control[readonly]{
            background-color: #fff;
            cursor: default;
        }
    </style>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <!--记得修改form的id-->
    <form class="form-horizontal m" id="form-customerSupport-edit">
        <input id="id" name="id" type="hidden">
        <input id="merchantName" name="merchantName" type="hidden">
        <div class="form-group">
            <label class="col-sm-3 control-label">税源地名称：</label>
            <div class="col-sm-8">
                <input id="taxSourceName" name="taxSourceName" class="form-control" readonly type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">公司简称：</label>
            <div class="col-sm-8">
                <input id="companyName" name="companyName" class="form-control" readonly type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">对公户名：</label>
            <div class="col-sm-8">
                <input id="bankAccountPublic" name="bankAccountPublic" class="form-control" readonly type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">对公银行卡号：</label>
            <div class="col-sm-8">
                <input id="bankCardPublic" name="bankCardPublic" class="form-control" readonly type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">对公银行名称：</label>
            <div class="col-sm-8">
                <input id="bankPublic" name="bankPublic" class="form-control" readonly type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">对公支行名称：</label>
            <div class="col-sm-8">
                <input id="bankNamePublic" name="bankNamePublic" class="form-control" readonly type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">对公银行分支行号：</label>
            <div class="col-sm-8">
                <input id="reservedFieldOne" name="reservedFieldOne" class="form-control" readonly type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">余额：</label>
            <div class="col-sm-8">
                <input id="money" name="money" class="form-control" readonly type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">创建时间：</label>
            <div class="col-sm-8">
                <input id="createTime" name="createTime" class="form-control" readonly type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">是否可提现：</label>
            <div class="col-sm-8">
                <input id="allowWithdraw" name="allowWithdraw" class="form-control" readonly type="text">
            </div>
        </div>
    </form>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript">
    var prefix = ctx + "tax/taxWithdrawAccount";
    var taxAccount = JSON.parse(sessionStorage.getItem("taxAccount"))
    $("#taxSourceName").val(taxAccount.taxSourceName)
    $("#companyName").val(taxAccount.companyName)
    $("#bankAccountPublic").val(taxAccount.bankAccountPublic)
    $("#bankPublic").val(taxAccount.bankPublic)
    $("#bankNamePublic").val(taxAccount.bankNamePublic)
    $("#bankCardPublic").val(taxAccount.bankCardPublic)
    $("#money").val(taxAccount.money)
    $("#createTime").val(taxAccount.createTime)
    $("#reservedFieldOne").val(taxAccount.reservedFieldOne)
    $(function () {
        if (taxAccount.allowWithdraw == '1') {
            $("#allowWithdraw")[0].value = '是'
        } else if (taxAccount.allowWithdraw == '0') {
            $("#allowWithdraw")[0].value = '否'
        }
    })


</script>
</body>
</html>
