<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('提现')"/>
    <style>
        #balance.form-control{
            border: none;
        }
        .form-control[readonly]{
            background-color: #fff;
            cursor: default;
        }
        .tips {
            width: 400px;
            height: 100px;
            margin-left: 100px;
            color: black;
            padding-left: 35px;
            font-size: 11px;
        }
    </style>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-withdraw">
        <input id="sourceId" name="sourceId" type="hidden">
        <div class="form-group">
            <label class="col-sm-3 control-label">可提现金额：</label>
            <div class="col-sm-8">
                <input id="balance" name="balance" class="form-control" type="text" readonly>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">提取：</label>
            <div class="col-sm-5">
                <input id="money" name="money" class="form-control" placeholder="请输入提现金额" type="text" autocomplete="off" required>
                <span class="money" style="color: red"></span>
            </div>
            <div class="col-sm-4">
                <a style="color: #0d8ddb;line-height: 50px;font-size: 16px" onclick="withdrawAll()">全部提现</a>
            </div>
        </div>
    </form>
    <div class="tips">
        <span>说明:</span><span> 9:00--17:00可提现金额额度无限制，</span>
        <p style="margin-left: 32px;margin-top: 10px">但最大不得高于账户可提现余额；</p>
        <p style="margin-left: 32px">17:00--次日9:00可提现额度最大为5万元。</p>
    </div>
    <div class="row" style="margin: 40px auto;">
        <div class="col-sm-offset-5 col-sm-10">
            <button type="button" id="btn" class="btn btn-sm btn-success" onclick="submit()"><i class="fa fa-check"></i>&nbsp;提 现</button>
        </div>
    </div>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript">
    var withdraw = JSON.parse(sessionStorage.getItem("withdraw"))
    var balance = $("#balance").val(withdraw.money)
    $("#sourceId").val(withdraw.taxSourceCompanyId)
    var prefix = ctx + "business/settlementInfo";

    // 点击全部提现按钮可提现
    function withdrawAll() {
        if(balance[0].value <= 0) {
            $(".money").text("不可提现")
            $(this)[0].value = ''
        } else {
            $("#money").val(balance[0].value)
        }
    }
    $(function () {
        if (balance[0].value <= 0) {
            $("input[name='money']").attr('disabled',true)
            $("#btn").attr('disabled',true)
        } else if (balance[0].value > 0) {
            $("input[name='money']").blur(function () {
                if (!(/^-?(([0-9]*(\.[0-9]{1,2})$)|([0-9]+$))/.test($(this).val()))) {
                    $(".money").text("提现金额只能是数字，最多可输入两位小数")
                    $(this)[0].value = ''
                } else {
                    var num = parseFloat($(this).val())
                    if( num <= balance[0].value) {
                        if (num <= 0){
                            $(".money").text("提现金额不能为0或负数")
                            $(this)[0].value = ''
                        }else {
                            $(".money").text("")
                        }
                    }
                 else if ($(this).val() > balance[0].value){
                    $(".money").text("提现金额不能超过可提现金额")
                    $(this)[0].value = ''
                }
                }
            })
        }
    })
    function submit() {
        if ($.validate.form()) {
            var data = $("#form-withdraw").serializeArray();
            var params = {}
            data.forEach(function (item) {
                params[item.name] = item.value
            })
            delete params.balance
            if (params.money == '') {
                $.modal.msgWarning("提现金额不能为空")
                return
            }
            params = JSON.stringify(params)
            $.ajax({
                url: "/tax/taxWithdrawAccount/withdraw",
                data: params,
                type: "post",
                datatype:"json",
                contentType: 'application/json',
                beforeSend: function () {
                    $.modal.loading("正在处理中，请稍后...");
                    $.modal.disable();
                },
                success: function(result) {
                    if (typeof callback == "function") {
                        callback(result);
                    }
                    $.operate.successCallback(result);
                }
            })
        }
    }
</script>
</body>
</html>
