<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <th:block th:include="include :: header('协议内容')"/>
    <style>
        *{
            color: #000;
        }
        .form-content{
            padding: 10px 45px;
        }
        #node{
            position: relative;
            background: #fff;
        }
        .title{
            text-align: center;
            padding: 30px 30px 20px;
        }
        .ctn {
            padding: 0 30px 80px;
            margin:0;
        }
        .bottom{
            padding: 0 30px 100px;
            margin-top:10px;
            width: 100%;
            position: relative;
        }
        .bottom > img{
            width: 150px;
            height: 150px;
            position: absolute;
            top: -55px;
            left: 50px;
        }
        .bottom > .signName{
            position: absolute;
            top: -10px;
            right: 90px;
            font-size: 32px;
            color: red;
        }
        .bottom > .signDate{
            position: absolute;
            top: 50px;
            right: 65px;
            font-size: 16px;
        }
        .bottom>span{
            width: 50%;
        }
        .ctn>.content {
            margin: 0 0 15px;
        }
        .ctn>.content>.tip {
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 5px;
        }
        .companyName{
            font-weight: bold;
            text-decoration:underline;
        }
    </style>
</head>
<body class="white-bg">
<div class="form-content">
    <div id="node" style="width:712px;">
        <div class="title"><h2>自然人服务合作协议</h2></div>
        <div class="ctn">
            <div class="content">
                <input type="hidden" id="hidden" th:value="${agreementInfo.taxSourceId}">
                <div class="tip">提示条款:</div>
                <div class="tips">欢迎您与我司【<span style="font-weight: bold" th:text="${agreementInfo.taxSourceName}"></span>】签署本《业务承揽服务合作协议》（下称“本协议”），在合作期间承揽我司发布的事项，并为我司合作伙伴提供服务。</div>
                <div class="tips" style="font-weight: bold;">【审慎阅读】<span style="text-decoration: underline">为维护您的自身权益，在您点击同意或书面签署本协议之前，请认真阅读本协议，务必审慎阅读、充分理解各条款内容，特别是权利义务条款、法律适用和管辖条款。上述条款以粗体及下划线标识，您应重点阅读。</span>
                </div>
                <div class="tips" style="font-weight: bold;">【签约】<span style="text-decoration: underline">当您按照提示填写您的个人信息、阅读并同意本协议且完成全部申请或书面签署后，即表示您已充分阅读、理解并接受本协议的全部内容，与我司达成一致意见并成为我司的合作人员，此后您不得以未阅读/不理解本协议内容或类似言辞做任何形式的抗辩。阅读本协议的过程中，如果您不同意本协议或其中任何条款约定，请您立即停止任何的申请/注册/或书面签署程序。</span>
                </div>
                <div class="tips" style="font-weight: bold;">【合作关系】<span style="text-decoration: underline">您确认与我司不存在法律上和事实上的劳动关系，您也不属于我司的股东或实际控制人。您与我司通过本协议建立合作关系，适用相关民事法律，不适用《劳动合同法》。</span>
                </div>
            </div>
            <div class="content">
                <div class="tip">第一条 具体服务事项</div>
                <div class="tips" style="background-color: #ffff00 ">1.1 我司根据与【<span th:text="${agreementInfo.merchantName}"></span>】公司（以下简称为“合作公司”）相关合同的规定，特安排您承揽相关事项，为合作公司提供服务。</br>
                    1.2 合作公司为一家依照中华人民共和国法律合法成立并有效存续的公司，主要经营【<span th:text="${agreementInfo.industryName}"></span>】业务。为满足其相关业务开展需要，在本协议期间，我司将不定期安排您依据合作公司的实际需求，为其提供【<span th:text="${agreementInfo.taskName}"></span>】服务。</br>
                    1.3 您为合作公司提供服务的具体地点为下列第<span style="font-weight: bold">【3】</span>项：</br>
                    （1）合作公司实际经营地址，即【】；</br>
                    （2）线上或其他不限制区域；</br>
                    （3）合作公司安排的其他执行区域。</br>
                    1.4 您应按照合作公司相关要求规定的标准完成工作。服务过程中您需自备服务所需软硬件设备，我司不予提供。</br>
                    1.5 您承诺和保证，您具有提供本协议服务所对应的相应资质和专业能力，您依据本合同约定收取相关费用不违反任何法律法规和政策规定。若因您的自身原因违反前述事宜，则您应承担由此引起的全部法律后果，并赔偿由此给我司及合作公司造成的全部经济损失。
                </div>

            </div>
            <div class="content">
                <div class="tip">第二条 协议效力</div>
                <div class="tips">2.1 您的签约信息（包括您的姓名、身份证号等信息），以您提供的信息为准（包括但不限于线上提供或线下提供）。您承诺并保证您所提供的签约信息真实、准确，以免影响您和我司之间的协议效力。本协议条款若在我司授权的网站上发布，自您线上点击确认之日起生效；若为书面签署，自您签署本协议之日起生效。</br>
                    2.2 本协议自签订之日起二年内有效。期限届满，双方应另行签署新的协议；若双方未签署新的协议，而以实际行动继续合作的，视为双方同意协议期限顺延直至按照本协议约定终止或解除时为止。</br>
                    2.3 本协议在发生下列情形时自然终止：</br>
                    （1）经合作公司事先同意的情况下，您主动退出服务的；</br>
                    （2）合作公司终止或变更业务模式而不需要您继续履行本协议的；</br>
                    （3）合作公司认为您不适合继续提供服务的；</br>
                    （4）我司和合作公司解除合作的；</br>
                    （5）其他原因导致本协议不再继续履行的。
                </div>
            </div>
            <div class="content">
                <div class="tip">第三条 我司的权利和义务</div>
                <div class="tips">3.1您应根据我司的安排为合作公司服务，服务期间您应遵守合作公司有关服务内容、服务质量等方面的具体要求。合作公司可根据自身的运营要求制定具体工作安排，您应予遵守。</br>
                    3.2 我司将按合作公司的相关规定与合作公司共同对您为合作公司提供服务的工作成果进行验收。</br>
                    3.3 我司应按约定及时向您支付费用。此处您应明确：<span style="font-weight: bold;text-decoration: underline">您作为我司的合作人员，在合作公司正常向我司结算情况下，您的相关费用结算将由我司完成支付。</span></br>
                    3.4 若合作公司发生主体变更，您收到我司关于主体变更通知后 24 小时内未按照通知内容回复或合作公司主体变更后您仍以实际行动继续为新合作公司提供相同服务的，视为您同意主体变更。</br>
                    3.5 若我司因业务调整及其他不可抗力因素影响，需要将与您的合作关系转让给第三方的，我司会以短信通知的方式告知您，您在收到通知后若有异议可及时反馈我司客服，若收到通知后 24 小时内无异议反馈，则视为同意转让。</br>
                    3.6 我司承诺承担因其违反本协议约定及违反相应法律规定履行代理职责产生的法律后果并承担相应的法律责任。
                </div>
            </div>
            <div class="content">
                <div class="tip">第四条 您的权利和义务</div>
                <div>4.1 您应按时尽责地完成我司以及合作公司要求的工作内容，并达到规定的质量标准，不得有侵犯他人知识产权、财产权、人身权、肖像权、隐私权、商业秘密或其他合法权益以及其他违反国家法律法规、国家政策、或有悖于公序良俗的内容。</div>
                <div class="tips">4.2 协议期内，您应在我司以及合作公司许可范围内使用本合同有关的商业信息；协议期内以及协议终止后，您均有义务对双方合作的有关协议及合作过程中知悉的我司、合作公司的相关信息予以保密，未经书面许可，您不得以任何方式向其它方披露、给予或转让该等保密信息。否则，因此导致我司及/或合作公司或其关联公司的损失，由您负责赔偿。</br>
                    4.3 除本协议事项外，您不能以我司及/或合作公司的名义开展任何与完成约定的工作任务无关的业务或活动。</br>
                    4.4 若相关服务通过合作公司指定的网络平台提供，或者合作公司指定的相关网络平台备案，合作公司指定的网络平台可能将要求您签署、点击电子协议，您同意点击签署。您点击确认后该协议将对您产生法律效力。
                </div>
            </div>
            <div class="content">
                <div class="tip">第五条 服务费用的支付</div>
                <div class="tips" style="background-color: #ffff00">5.1就您为合作公司完成的相关服务事项，您将按照下列第【<span th:text="${agreementInfo.whichItem}"></span>】项的标准获得服务费用：</br>
                    （1）按服务时长计费，每小时【<span th:text="${agreementInfo.itemOne}"></span>】元或每月【】元；</br>
                    （2）按服务效果计费，每完成单个工作目标【】元或按照单个工作目标实现金额的【<span th:text="${agreementInfo.itemtwo}"></span>】%计算；</br>
                    （3）按完成特定项目后支付固定费用，具体项目及对应费用根据实际情况另行约定。</br>
                    5.2 您在完成服务事项后的<span style="font-weight: bold">【3】</span>个工作日内，有权收取相应的服务费用，您的收款方式为【<span th:text="${agreementInfo.paymentChannel} == 'BANK'? '银行卡':'支付宝'"></span>】，收款账户信息如下：</br>
                    【<span th:text="${agreementInfo.accountNo}"></span>】
                </div>
                <div>5.3 由于您所提供的服务内容、服务质量、服务时长等情况的不同，该等服务费用金额可能会呈现浮动，您清楚并了解该等浮动为正常情况。我司以人民币形式向 您支付服务费用，您应缴纳的个人所得税及其他税费由我司负责帮您完成。</div>
                <div>5.4 您应向我司提供您实名下的银行账户或支付宝账户，以及相关必要的证件和信息。若具体账户信息在合作公司指定的网络平台在线提供的，以您在线提供的信息为准。</div>
                <div>5.5 我司服务费用支付以您提供的收款帐户为准，因您提供的收款帐户不实造成的一切损失由您自行承担。 如您帐号变更或发生不可用等情况时，应及时书面通知我司或在合作公司指定的网络平台进行变更操作，否则，由此造成的一切损失由您自行负责。</div>
                <div>5.6 <span style="font-weight: bold;text-decoration: underline">我司与您之间系承揽关系，我司不承担您任何社保福利待遇。</span></div>
            </div>
            <div class="content">
                <div class="tip">第六条 违约责任</div>
                <div class="tips">6.1 双方应按本协议约定履行，如有违反，守约方有权要求对方及时改正；造成对方损失的，守约方有权要求违约方赔偿。因不可抗力造成损失的，彼此不负赔偿责任，但发生不可抗力一方应及时将有关情况通知另一方，并尽最大努力进行补救。
                </div>
                <div class="tips">6.2 本协议所称不可抗力是指不能预见、不能克服并不能避免且对一方当事人造成重大影响的客观事件，包括但不限于自然灾害如洪水、地震、火灾和风暴等以及社会事件如战争、动乱、政府行为、黑客事件、大范围电信事故等。</div>
            </div>
            <div class="content">
                <div class="tip">第七条 协议的终止</div>
                <div class="tips">7.1 发生以下情形时，本协议终止：
                </div>
                <div class="tips">（1）协议期限届满或任何一方提前 30 日书面通知对方要求终止协议的，但您要求终止协议应事先获得合作公司的同意并不得影响合作公司的运营；
                </div>
                <div class="tips">（2）一方违反协议约定，且违约方在非违约方书面通知后 15 日内仍未予改正的，非违约方可以书面通知的形式终止本协议；
                </div>
                <div class="tips">（3）您如未能达到我司及合作公司的要求，我司在工作验收时将给予警告；此后如仍发生类似情况的，我司可提前终止本协议。</div>
                <div class="tips">7.2 本协议的提前终止不影响已经产生的权利义务关系。</div>
            </div>
            <div class="content">
                <div class="tip">第八条 涉税事务委托授权</div>
                <div class="tips">您/本人委托我司【<span style="font-weight: bold" th:text="${agreementInfo.taxSourceName}"></span>】代理本合同交易项下的涉税事务，授权范围包括代理您/本人办理税务登记、纳税申报、代开发票、代开个人完税证明等事项。</br>
                    您/本人确认我司【<span style="font-weight: bold" th:text="${agreementInfo.taxSourceName}"></span>】根据本合同授权由我司代理提交税务部门的相关申报资料和信息是真实、完整、准确的，符合有关法律法规的规定，您承诺按法律规定对我司代理行为产生的法律后果承担法律责任。
                </div>
                <div class="tips">您/本人确认与我司【<span style="font-weight: bold" th:text="${agreementInfo.taxSourceName}"></span>】的合作公司不存在法律上和事实上的人事劳动关系，不属于合作公司人事管理权限范围内的个人，也并非其股东。</div>
            </div>
            <div class="content">
                <div class="tip">第九条 其他</div>
                <div class="tips">9.1 <span style="text-decoration: underline;font-weight: bold"> 因履行本协议发生的纠纷，双方应友好协商解决，协商不成的，提请我司所在地人民法院诉讼解决。</span></br>
                </div>
                <div>9.2 我司有权根据业务需要修改本协议条款。</div>
                <div>（以下无正文）</div>
            </div>
        </div>
        <div class="bottom">
            甲方：<span th:text="${agreementInfo.taxSourceName}"></span>
            <img id="jiangxi" th:src="@{/img/jiangxi.png}" style="display: none">
            <img id="hainan" th:src="@{/img/yinzhang.png}" style="display: none">
            <span style="margin-left:200px;">乙方：(身份证号：<span class="idNumber" th:text="${agreementInfo.payeeIdCardNo}" style="text-decoration: underline"></span>)</span>
            <div class="signName" th:text="${agreementInfo.name}" ></div>
            <div class="signDate"  th:text="${agreementInfo.signTime}" ></div>
        </div>
    </div>

</div>

<div th:include="include::footer"></div>

<script th:src="@{/js/dom-to-image.js}"></script>
<script th:src="@{/js/FileSaver.js}"></script>
<script type="text/javascript">
    var symbol = $("#hidden").val()
    if (symbol == '4') {
        $("#hainan").css('display','block')
    } else if (symbol == '5') {
        $("#jiangxi").css('display','block')
    }
    $(function () {
        var node = document.getElementById('node');
        domtoimage.toPng(node)
            .then(function (dataUrl) {
                var img = new Image();
                img.src = dataUrl;
                img.style.position = 'absolute'
                img.style.top = '10px'
                img.style.left = '45px'
                document.body.appendChild(img);
            });
    })
</script>
</body>
</html>