<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('订单服务费补偿列表')"/>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>

                        <li>
                            商户名称：<input type="text" name="merchantName"/>
                        </li>
                        <li>
                            收款户名：<input type="text" name="payeeName"/>
                        </li>
                        <li>
                            订单流水号：<input type="text" name="orderSerialNum"/>
                        </li>
                        <li class="select-time">
                            <label>创建时间： </label>
                            <input type="text" class="time-input" id="startTime" placeholder="开始时间" name="startDate"/>
                            <span>-</span>
                            <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="endDate"/>
                        </li>

                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.limitSearch()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>
<div th:include="include :: footer"></div>
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('business:orderReimburse:edit')}]];
    var removeFlag = [[${@permission.hasPermi('business:orderReimburse:remove')}]];
    var prefix = ctx + "manager/trxOrder";
    var trxOrderStatus = [[${@dict.getType('trxorder_status')}]];
    $(function () {
        var options = {
            url: prefix + "/rechargeReimburse",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            modalName: "订单服务费补偿",
            showExport: true,
            columns: [{
                checkbox: true
            },
                {
                    field: 'id',
                    title: '',
                    visible: false
                },
                {
                    field: 'merchantName',
                    title: '商户名称',
                },
                {
                    field: 'userName',
                    title: '所属销售',
                },
                {
                    field: 'payeeName',
                    title: '收款户名',
                },

                {
                    field: 'amount',
                    title: '商户打款请求金额',
                },
				{
					field: 'actualAmount',
					title: '实际打款金额',
				},
				{
					field: 'charge',
					title: '实收服务费（元）',
				},
				{
					field: 'reimburseCharge',
					title: '补偿服务费（元）',
				},
                {
                    field: 'status',
                    title: '补偿状态',
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(trxOrderStatus, row.status);
                    }
                },
				{
					field: 'orderSerialNum',
					title: '订单流水号',
				},
				{
					field: 'merchantSerialNum',
					title: '商户订单流水号',
				},
				{
					field: 'createTime',
					title: '创建时间',
				},

                {
                    title: '操作',
                    align: 'center',
                    // formatter: function (value, row, index) {
                    //     var actions = [];
                    //     actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                    //     actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                    //     return actions.join('');
                    // }
                }]
        };
        $.table.init(options);
    });
</script>
</body>
</html>