<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('灵工绑定银行卡列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId">
					<div class="select-list">
						<ul>
							<li>
								灵工姓名：<input type="text" name="realName"/>
							</li>

<!--							<li>-->
<!--								所属商户：<input type="text" name="merchantName"/>-->
<!--							</li>-->
							<li class="select-time">
								<label>创建时间： </label>
								<input type="text" class="time-input" id="startTime" placeholder="开始时间"
									   name="startDate" autocomplete="off"/>
								<span>-</span>
								<input type="text" class="time-input" id="endTime" placeholder="结束时间" name="endDate" autocomplete="off"/>
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.limitSearch()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
	        <div class="btn-group-sm" id="toolbar" role="group">
				<!--<a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="business:customerBankcardInfo:add">-->
					<!--<i class="fa fa-plus"></i> 添加-->
				<!--</a>-->
				<!--<a class="btn btn-primary btn-edit disabled" onclick="$.operate.edit()" shiro:hasPermission="business:customerBankcardInfo:edit">-->
					<!--<i class="fa fa-edit"></i> 修改-->
				<!--</a>-->
				<!--<a class="btn btn-danger btn-del btn-del disabled" onclick="$.operate.removeAll()" shiro:hasPermission="business:customerBankcardInfo:remove">-->
					<!--<i class="fa fa-remove"></i> 删除-->
				<!--</a>-->
				<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="manager:customerInfo:exportBankcard">
						<i class="fa fa-download"></i> 导出
				 </a>
			</div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var prefix = ctx + "manager/customerInfo";
		layui.use('laydate',function () {
			var laydate = layui.laydate;
			var startDate = laydate.render({
				elem: '#startTime',
				type: 'date',
				format: 'yyyy-MM-dd',
				done: function(value, date){
					endDate.config.min ={
						year:date.year,
						month:date.month-1,
						date: date.date,
						hours: 0,
						minutes: 0,
						seconds : 0
					};
				}
			});
			var endDate = laydate.render({
				elem: '#endTime',
				type: 'date',
				format: 'yyyy-MM-dd',
				done: function(value,date){
					startDate.config.max={
						year:date.year,
						month:date.month-1,//注意是month-1，写在date上的话你后边的日期选择不了
						date: date.date,
						hours: 0,
						minutes: 0,
						seconds : 0
					}
				}
			});
		})
        $(function() {
            var options = {
                url: prefix + "/BankcardList",
                // createUrl: prefix + "/add",
                // updateUrl: prefix + "/edit/{id}",
                // removeUrl: prefix + "/remove",
				exportUrl: prefix + "/exportBankcard",
                modalName: "灵工绑定银行卡",
		        showExport: true,
                columns: [{
		            checkbox: true
		        },
				{
					field : 'id', 
					title : 'ID',
					// visible: false
				},
				{
					field : 'realName',
					title : '灵工姓名',
				},
				{
					field : 'customerNo', 
					title : '灵工号',
				},
				// {
				// 	field : 'merchantName',
				// 	title : '所属商户',
				// },
				{
					field : 'bankAccountNo', 
					title : '银行卡号',
				},
				{
					field : 'reservedMobile', 
					title : '预留手机号',
				},
				{
					field : 'createTime', 
					title : '创建时间',
				},
		        ]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>