<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('交易订单')"/>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId" autocomplete="off">
                <div class="select-list">
                    <ul>
                        <li>
                            商户名称：<input type="text" name="merchantName"/>
                        </li>
                        <li>
                            商户代码：<input type="text" name="merchantCode"/>
                        </li>
                        <li class="select-time">
                            <label>创建时间： </label>
                            <input type="text" class="time-input" id="startTime" placeholder="开始时间"
                                   name="startDate"/>
                            <span>-</span>
                            <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="endDate"/>
                        </li>

                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.limitSearch()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 650px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">查看密钥</h4>
            </div>
            <ul class="modal-body">
                <li>
                    appKey： <p class="appKey"></p>
                </li>
                <li>
                    3deskey：<p class="desKey"></p>
                </li>
            </ul>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
            </div>
        </div>
    </div>
</div>
<div th:include="include :: footer"></div>
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('business:batchPaymentRecord:edit')}]];
    var removeFlag = [[${@permission.hasPermi('business:batchPaymentRecord:remove')}]];
    var prefix = ctx + "manager/secret";
    layui.use('laydate',function () {
        var laydate = layui.laydate;
        var startDate = laydate.render({
            elem: '#startTime',
            type: 'date',
            format: 'yyyy-MM-dd',
            done: function(value, date){
                endDate.config.min ={
                    year:date.year,
                    month:date.month-1,
                    date: date.date,
                    hours: 0,
                    minutes: 0,
                    seconds : 0
                };
            }
        });
        var endDate = laydate.render({
            elem: '#endTime',
            type: 'date',
            format: 'yyyy-MM-dd',
            done: function(value,date){
                startDate.config.max={
                    year:date.year,
                    month:date.month-1,//注意是month-1，写在date上的话你后边的日期选择不了
                    date: date.date,
                    hours: 0,
                    minutes: 0,
                    seconds : 0
                }
            }
        });
    })
    $(function () {
        var options = {
            url: prefix + "/getListKey",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            modalName: "交易订单",
            showExport: true,
            columns: [{
                checkbox: true
            },
                {
                    field: 'id',
                    title: '秘钥id',
                    visible: false
                }, {
                    field: 'merchantName',
                    title: '商户名称',
                },{
                    field: 'merchantCode',
                    title: '商户代码',
                }, {
                    field: 'appKey',
                    title: 'appKey',
                }, {
                    field: 'desKey',
                    title: '3deskey',
                },{
                    field: 'createTime',
                    title: '创建时间',
                }, {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs" data-toggle="modal" data-target="#myModal" onclick="infoItem(' + row.id + ')"><i class="fa fa-edit"></i>查看</a> ');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });
    function infoItem(id) {
        $.get("/manager/secret/detail?id="+id,function (data) {
            var appKey = data.data.appKey
            var desKey = data.data.desKey
            $(".appKey").text(appKey)
            $(".desKey").text(desKey)
        })
    }
</script>
</body>
</html>