<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mmtax.system.mapper.InstitutionInfoMapper">
    
    <resultMap type="InstitutionInfo" id="InstitutionInfoResult">
        <result property="id"    column="id"    />
        <result property="providerId"    column="provider_id"    />
        <result property="instituteName"    column="institute_name"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

</mapper>