package ${package}.mapper;

import ${package}.domain.${className};
import com.mmtax.common.utils.MyMapper;

/**
 * ${tableComment} 数据层
 * 
 * @author ${author}
 * @date ${datetime}
 */
public interface ${className}Mapper extends MyMapper<${className}>
{

}