<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('账户设置')"/>
    <link th:href="@{/css/bootstrap-switch.min.css}" rel="stylesheet"/>
    <style>
        #main {
            border:1px solid red;
            width: 600px;
            margin: 60px auto;
        }
        li {
            list-style: none;
            width: 600px;
            display: flex;

            margin-bottom: 10px;
            align-items: center;
        }

        li input {
            display: flex;
            flex-basis: 249px;
        }

        li span {
            flex-basis: 129px;
        }
    </style>
</head>
<body class="white-bg">
<div class="form-content">
    <h4 class="form-header h4">账户设置：</h4>
    <form class="form-horizontal m" id="settings">
        <div class="form-group">
            <label class="col-sm-3 control-label">账户余额提醒开关：</label>
            <div class="col-sm-9">
                <label class="toggle-switch switch-solid">
                    <input type="checkbox" id="balanceRemindSwitch" th:checked="*{balanceRemindSwitch == 'ON' ? true : false}">
                    <span></span>
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">提醒方式：</label>
            <div class="col-sm-9">
                <label class="check-box"> <input type="checkbox" th:value="0" name="balanceEmailRemindSwitch"/> 邮件 </label>
                <label class="check-box"> <input type="checkbox" th:value="1" name="balanceSmsRemindSwitch"/> 短信 </label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">银行卡余额提醒阈值：</label>
            <div class="col-sm-9">
                <input type="text" name="bankRemindAmount" class="form-control" placeholder="请输入银行卡余额提醒阈值">
            </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">支付宝余额提醒阈值：</label>
                <div class="col-sm-9">
                    <input type="text" name="alipayRemindAmount" class="form-control" placeholder="请输入支付宝余额提醒阈值">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">微信余额提醒阈值：</label>
                <div class="col-sm-9">
                    <input type="text" name="wechatRemindAmount" class="form-control" placeholder="请输入微信余额提醒阈值">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">充值到账提醒：</label>
                <div class="col-sm-9">
                    <label class="toggle-switch switch-solid">
                        <input type="checkbox" id="rechargeRemindSwitch">
                        <span></span>
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">提醒方式：</label>
                <div class="col-sm-9">
                    <label class="check-box"> <input type="checkbox" th:value="0" name="rechargeEmailRemindSwitch"/> 邮件 </label>
                    <label class="check-box"> <input type="checkbox" th:value="1" name="rechargeSmsRemindSwitch"/> 短信 </label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">备注：</label>
                <div class="col-sm-9">
                    <input type="text" name="comment" class="form-control" placeholder="请输入文本">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label"><span style="color: red;">*</span>商户放款权限：</label>
                <div class="col-sm-9">
                    <label class="radio-box"> <input type="radio" name="lendingAuthority" value="ON" /> 开启 </label>
                    <label class="radio-box"> <input type="radio" name="lendingAuthority" value="OFF" /> 关闭 </label>
                </div>
            </div>
        </div>
    </form>
    <h4 class="form-header h4">提醒配置：</h4>
    <form class="form-horizontal m" id="form-horizontal">
        <div class="form-group" id="balanceRemindEmail">
            <label class="col-sm-3 control-label"><span style="color: red;">*</span>预警及提醒类邮件发送范围：</label>
            <div class="col-sm-9">
                <input type="text" name="balanceRemindEmail" class="form-control" placeholder="请输入预警及提醒类邮件发送范围" style="margin-top: 6px;width: 90%;display: inline-block"><a class="btn btn-success" onclick="addDiv(1)"><i class="fa fa fa-plus"></i></a>
            </div>
        </div>
        <div class="form-group" id="rechargeRemindEmail">
            <label class="col-sm-3 control-label"><span style="color: red;">*</span>账单类邮件发送范围：</label>
            <div class="col-sm-9">
                <input type="text" name="rechargeRemindEmail" class="form-control" placeholder="请输入账单类邮件发送范围" style="margin-top: 6px;width: 90%;display: inline-block"><a class="btn btn-success" onclick="addDiv(2)"><i class="fa fa fa-plus"></i></a>
            </div>
        </div>
    </form>
</div>
<div class="row" style="margin: 20px auto; height: 90px;">
    <div class="col-sm-offset-4 col-sm-3">
        <button type="button" class="btn btn-sm btn-danger" onclick="closeItem()"><i class="fa fa-reply-all"></i>上一步</button>
        <button type="button" class="btn btn-sm btn-success" onclick="submitItem()"><i class="fa fa-check"></i>保 存</button>
    </div>
</div>
<div th:include="include::footer"></div>
<script th:src="@{/js/bootstrap-switch.min.js}"></script>
<script type="text/javascript">
    function submitItem() {
        var balanceRemindEmail = $("input[name='balanceRemindEmail']").val()
        var rechargeRemindEmail = $("input[name='rechargeRemindEmail']").val()
        var lendingAuthority = $("input[name='lendingAuthority']:checked").val();
        if(lendingAuthority == undefined||lendingAuthority == ""){
            $.modal.msgWarning("请选择商户放款权限");
            return
        }
        if (balanceRemindEmail == undefined || balanceRemindEmail == "") {
            $.modal.msgWarning("请输入预警及提醒类邮件发送范围");
            return
        }
        if (rechargeRemindEmail == undefined || rechargeRemindEmail == "") {
            $.modal.msgWarning("请输入账单类邮件发送范围");
            return
        }
        var data1 = JSON.parse(sessionStorage.getItem("params"))
        var data2 = JSON.parse(sessionStorage.getItem("cooperation"))
        var data3 = JSON.parse(sessionStorage.getItem("merchant"))
        var data4 = JSON.parse(sessionStorage.getItem("address"))
        var data5 = JSON.parse(sessionStorage.getItem("invoice"))
        var settings = $("#settings").serializeArray()
        var formhorizontal = $("#form-horizontal").serializeArray()
        let arr2 = [], r = []
        for (let i = 0, name = null; i < formhorizontal.length; i++) {
            if (name !== null) {
                if (name === formhorizontal[i].name) {
                    arr2.push(formhorizontal[i].value)
                } else {
                    r.push(arr2)
                    arr2 = []
                    arr2.push(formhorizontal[i].value)
                    name = formhorizontal[i].name
                }
            } else {
                arr2.push(formhorizontal[i].value)
                name = formhorizontal[i].name
            }
        }
        if (arr2.length !== 0) {
            r.push(arr2)
        }
        var balanceRemindEmail =r[0]
        var rechargeRemindEmail =r[1]
        var obj1 = {}
        var obj2 = {}
        var obj3 = {}
        var obj4 = {}
        var obj5 = {}
        var obj6 = {}
        var obj7 = {}
        for (var i = 0;i<data1.length;i++){
            obj1[data1[i].name] = data1[i].value
        }
        for (var i = 0;i<data2.length;i++){
            obj2[data2[i].name] = data2[i].value
        }
        for (var i = 0;i<data3.length;i++){
            obj3[data3[i].name] = data3[i].value
        }
        for (var i = 0;i<settings.length;i++){
            obj4[settings[i].name] = settings[i].value
        }
        for (var i = 0;i<data4.length;i++){
            obj5[data4[i].name] = data4[i].value
        }
        for (var i = 0;i<data5.length;i++){
            obj6[data5[i].name] = data5[i].value
        }
        for (var i = 0;i<formhorizontal.length;i++){
            obj7[formhorizontal[i].name] = formhorizontal[i].value
        }
        var balanceEmailRemindSwitch = $("input[name='balanceEmailRemindSwitch']").prop('checked') == true ? 'ON' : 'OFF'
        var balanceSmsRemindSwitch = $("input[name='balanceSmsRemindSwitch']").prop('checked') == true ? 'ON' : 'OFF'
        var rechargeEmailRemindSwitch = $("input[name='rechargeEmailRemindSwitch']").prop('checked') == true ? 'ON' : 'OFF'
        var rechargeSmsRemindSwitch = $("input[name='rechargeSmsRemindSwitch']").prop('checked') == true ? 'ON' : 'OFF'
        var balanceRemindSwitch = $("input[id='balanceRemindSwitch']").is(':checked') == true ? 'ON' : 'OFF';
        if (balanceRemindSwitch == 'ON'){

        }
        var rechargeRemindSwitch = $("input[id='rechargeRemindSwitch']").is(':checked') == true ? 'ON' : 'OFF';
        if(rechargeRemindSwitch == 'ON') {
            var bankRemindAmount = $("input[name='bankRemindAmount']").val()
            var alipayRemindAmount = $("input[name='alipayRemindAmount']").val()
            var wechatRemindAmount = $("input[name='wechatRemindAmount']").val()
            if(bankRemindAmount == undefined||bankRemindAmount == ""){
                $.modal.msgWarning("请输入银行卡余额提醒阈值");
                return
            }
            if(alipayRemindAmount == undefined||alipayRemindAmount == ""){
                $.modal.msgWarning("请输入支付宝余额提醒阈值");
                return
            }
            if(wechatRemindAmount == undefined||wechatRemindAmount == ""){
                $.modal.msgWarning("请输入微信余额提醒阈值");
                return
            }
        }
        var lendingAuthority = $("input[name='lendingAuthority']:checked").val();
        var address = {
            address:obj5.address,
            addresseeName:obj5.addresseeName,
            mobile:obj5.mobile
        }
        var cooperation ={
            businessType:obj3.businessType,
            mealInfoId:obj3.mealInfoId,
            paymentAdjustType:obj3.paymentAdjustType,
            paymentChannel:obj3.paymentChannel,
            paymentModel:obj3.paymentModel,
            paymentRequirement:obj3.paymentRequirement,
            rateSwitch:obj3.rateSwitch,
            settleType:obj3.settleType,
            signingType:obj3.signingType,
            singleQuota:obj3.singleQuota,
            singleServiceRate:obj3.singleServiceRate
        }
        var invoiceInfo ={
            bankNumber:obj6.bankNumber,
            companyAddress:obj6.companyAddress,
            companyName:obj6.companyName,
            invoiceContent:obj6.invoiceContent,
            invoiceDefaultContent:obj6.invoiceDefaultContent,
            invoiceMobile:obj6.invoiceMobile,
            taxpayerIdentificationNumber:obj6.taxpayerIdentificationNumber,
            taxpayerType:obj2.taxpayerType
        }
        var merchantAccountConfig = {
            alipayRemindAmount:obj4.alipayRemindAmount,
            balanceEmailRemindSwitch:balanceEmailRemindSwitch,
            balanceRemindSwitch:balanceRemindSwitch,
            balanceSmsRemindSwitch:balanceSmsRemindSwitch,
            bankRemindAmount:obj4.bankRemindAmount,
            comment:obj4.comment,
            rechargeEmailRemindSwitch:rechargeEmailRemindSwitch,
            rechargeRemindSwitch:rechargeRemindSwitch,
            rechargeSmsRemindSwitch:rechargeSmsRemindSwitch,
            wechatRemindAmount:obj4.wechatRemindAmount,
            lendingAuthority:lendingAuthority,
            balanceRemindEmails:balanceRemindEmail,
            rechargeRemindEmails:rechargeRemindEmail
        }
        var merchantInfo = {
            businessLicenseCode:obj2.businessLicenseCode,
            businessLicenseImg:obj2.businessLicenseImg,
            legalPersonName: obj2.legalPersonName,
            companyName:obj2.companyName,
            contactsMobile:obj1.contactsMobile,
            contractNo:obj3.contractNo,
            email:obj1.email,
            merchantName:obj1.merchantName,
            password:obj1.password,
            taxpayerType:obj2.taxpayerType
        }
        var riskManagementConfig = {
            quotaConfig:obj3.quotaConfig,
            singleDayQuota:obj3.singleDayQuota,
            singleQuotaConfig:obj3.singleQuotaConfig,
            temporaryQuota:obj3.temporaryQuota,
            temporaryQuotaBegin:obj3.temporaryQuotaBegin,
            temporaryQuotaEnd:obj3.temporaryQuotaEnd,
        }
        var params = {
            address:address,
            cooperation:cooperation,
            invoiceInfo:invoiceInfo,
            merchantAccountConfig:merchantAccountConfig,
            merchantInfo:merchantInfo,
            riskManagementConfig:riskManagementConfig
        }
        params = JSON.stringify(params)
        $.ajax({
            url: "/manager/merchant/add",
            data: params,
            type: "post",
            datatype:"json",
            contentType: 'application/json',
            beforeSend: function () {
                $.modal.loading("正在处理中，请稍后...");
            },
            success: function(result) {
                if (typeof callback == "function") {
                    callback(result);
                    $.modal.msgSuccess("添加成功");
                }
                $.operate.successCallback(result);
            }
        })
    }
    function addDiv(item){
        if(item == 1) {
            var addLength = $("#balanceRemindEmail div.col-sm-9").length;
            var html = '<div class="col-sm-9 col-sm-offset-3" id="' + addLength + '">' +
                '<input type="text" name="balanceRemindEmail" class="form-control" placeholder="请输入文本" style="margin-top: 6px;width: 90%;display: inline-block"><a class="btn btn-danger" onclick="deleteDiv(' + addLength + ')"><i class="fa fa-remove"></i></a>' +
                '</div>'
            $("#balanceRemindEmail").append(html)
        }else {
            var addLength1 = $("#rechargeRemindEmail div.col-sm-9").length;
            var html1 = '<div class="col-sm-9 col-sm-offset-3" id="' + addLength1 + '1">' +
                '<input type="text" name="rechargeRemindEmail" class="form-control" placeholder="请输入文本" style="margin-top: 6px;width: 90%;display: inline-block"><a class="btn btn-danger" onclick="deleteDiv1(' + addLength1 + '1)"><i class="fa fa-remove"></i></a>' +
                '</div>'
            $("#rechargeRemindEmail").append(html1)
        }
    }
    function deleteDiv(index){
        var addLength = $("#balanceRemindEmail div.col-sm-9").length;
        $("#balanceRemindEmail div.col-sm-9[id='"+index+"']").remove()
    }
    function deleteDiv1(index){
        var addLength = $("#rechargeRemindEmail div.col-sm-9").length;
        $("#rechargeRemindEmail div.col-sm-9[id='"+index+"']").remove()
    }
</script>
</body>
</html>
