<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('合作信息')"/>
    <link th:href="@{/css/bootstrap-switch.min.css}" rel="stylesheet"/>
    <style>
        div.form-group span:not(.tag){
            font-size: 12px;
            color: red;
            display: inline-block;
            height: 20px;
        }
        span.tag >span.tag-text{
            color:#fff;
        }
        .form-group{
            margin-bottom: 6px;
        }
    </style>
</head>
<body class="white-bg">
<div class="form-content">
    <h4 class="form-header h4">基本信息：</h4>
    <form class="form-horizontal m" th:object="${detail}" id="form-user-add">
        <div class="form-group">
            <label class="col-sm-2 control-label">商户名称：</label>
            <div class="col-sm-3 merchantName" th:text="*{merchantName}" style="line-height: 34px;"></div>
            <!--<label class="col-sm-2 control-label">代征主体：</label>-->
            <!--<div class="col-sm-3 mainSubject" th:text="安薪宝" style="line-height: 34px;"></div>-->
        </div>
        <h4 class="form-header h4">C端签约配置：</h4>
        <input type="hidden" th:value="*{cooperationId}" class="cooperationId">
        <div class="form-group">
            <label class="col-sm-3 control-label"><span style="color: red; ">*</span>签约开关：</label>
            <div class="col-sm-9" style="padding-top: 5px">
                <input type="radio" name="signSwitch" value="1" th:field="*{signSwitch}" style="margin:0 8px 0 0;width: 18px;height: 18px;vertical-align: middle"/>
                <label>开</label>
                <input type="radio" name="signSwitch" value="0" th:field="*{signSwitch}" style="margin:0 8px 0 20px;width: 18px;height: 18px;vertical-align: middle"/>
                <label>关</label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label"><span style="color: red; ">*</span>静默签署开关：</label>
            <div class="col-sm-9" style="padding-top: 5px">
                <input type="radio" name="silentSignSwitch" value="1" th:field="*{silentSignSwitch}" style="margin:0 8px 0 0;width: 18px;height: 18px;vertical-align: middle"/>
                <label>开</label>
                <input type="radio" name="silentSignSwitch" value="0" th:field="*{silentSignSwitch}" style="margin:0 8px 0 20px;width: 18px;height: 18px;vertical-align: middle"/>
                <label>关</label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label"><span style="color: red; ">*</span>签约类型：</label>
            <div class="col-sm-7" style="padding-top: 5px">
                <input type="radio" name="signingType" value="0" id="wxSign" th:field="*{signingType}" style="margin:0 8px 0 0;width: 18px;height: 18px;vertical-align: middle"/>
                <label>微信签约</label>
                <input type="radio" name="signingType" value="1" th:field="*{signingType}" style="margin:0 8px 0 20px;width: 18px;height: 18px;vertical-align: middle" />
                <label>线上签约</label>
                <input type="radio" name="signingType" value="3" th:field="*{signingType}" style="margin:0 8px 0 20px;width: 18px;height: 18px;vertical-align: middle" />
                <label>线上签约(可打款)</label>
                <input type="radio" name="signingType" value="2" th:field="*{signingType}" checked style="margin:0 8px 0 20px;width: 18px;height: 18px;vertical-align: middle" />
                <label>纸质签约</label>
            </div>
        </div>
        <!--签约岗位选择-->
        <div class="form-group" id="workPost" style="display: none;">
            <label class="col-sm-3 control-label"><span style="color: red; ">*</span>签约岗位选择：</label>
        </div>

        <h4 class="form-header h4">合作信息：</h4>
        <div class="form-group">
            <label class="col-sm-3 control-label"><span style="color: red; ">*</span>打款核算误差：</label>
            <div class="col-sm-9">
                <label class="radio-box"> <input type="radio" th:field="*{paymentAdjustType}" name="paymentAdjustType" value="0" /> 手动调整 </label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label"><span style="color: red; ">*</span>结算类型：</label>
            <div class="col-sm-9">
                <label class="radio-box"> <input type="radio" th:field="*{settleType}" name="settleType" value="0" /> 智能结算 </label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label"><span style="color: red; ">*</span>业务类型：</label>
            <div class="col-sm-9">
                <label class="radio-box"> <input type="radio" th:field="*{businessType}" name="businessType" value="0" /> 报税业务 </label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label"><span style="color: red; ">*</span>打款模式：</label>
            <div class="col-sm-9">
                <label class="radio-box"> <input type="radio" th:field="*{moneyModel}" name="moneyModel" value="0" /> 普通模式 </label>
                <label class="radio-box"> <input type="radio" th:field="*{moneyModel}" name="moneyModel" value="1" /> 自动模式 </label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label"><span style="color: red; ">*</span>服务费付费模式：</label>
            <div class="col-sm-9">
                <label class="radio-box"> <input type="radio" th:field="*{paymentModel}" name="paymentModel" value="0" /> 实时付费 </label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label"><span style="color: red; ">*</span>付费要求：</label>
            <div class="col-sm-9">
                <input type="text" name="paymentRequirement" th:value="*{paymentRequirement}" class="form-control" placeholder="请输入付费要求" required>
                <span class="paymentRequirement"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label"><span style="color: red; ">*</span>商户服务费率：</label>
            <div class="col-sm-9">
                <input type="text" name="singleServiceRate" th:value="*{singleServiceRate}" class="form-control" placeholder="请输入商户服务费率" autocomplete="off" required>
                <span class="singleServiceRate"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">大额费率开关：</label>
            <div class="col-sm-9">
                <label class="toggle-switch switch-solid">
                    <input type="checkbox" id="bigRateSwitch" th:checked="*{bigRateSwitch == 1 ? true : false}">
                    <span></span>
                </label>
            </div>
        </div>
        <div class="form-group" id="singleServiceBigRate" style="display: none;">
            <label class="col-sm-3 control-label"><span style="color: red; ">*</span>商户大额服务费率：</label>
            <div class="col-sm-9">
                <input type="text" name="singleServiceBigRate" th:value="*{singleServiceBigRate}" autocomplete="off" class="form-control" placeholder="请输入商户大额服务费率" required>
                <span class="singleServiceBigRate"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label"><span style="color: red; ">*</span>套餐类型：</label>
            <div class="col-sm-9">
                <input type="text" name="mealInfoId" th:value="*{mealInfoId}" class="form-control" placeholder="请输入套餐类型" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">用户服务费开关：</label>
            <div class="col-sm-9">
                <label class="radio-box"> <input type="radio" th:field="*{rateSwitch}" name="rateSwitch" value="0" /> 关闭 </label>
                <label class="radio-box"> <input type="radio" th:field="*{rateSwitch}" name="rateSwitch" value="1" /> 开启 </label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">用户服务费扣费模式：</label>
            <div class="col-sm-9">
                <label class="radio-box"> <input type="radio" th:field="*{inOrOutDeduction}" name="inOrOutDeduction" value="1" /> 外扣 </label>
                <label class="radio-box"> <input type="radio" th:field="*{inOrOutDeduction}" name="inOrOutDeduction" value="0" /> 内扣 </label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label"><span style="color: red; ">*</span>打款渠道：</label>
            <div class="col-sm-9" style="height: 37px">
                <input type="checkbox" th:checked="*{bankChannel}=='1'" name="bankChannel" style="margin: 10px 0 0;width: 20px;height: 20px;vertical-align: middle"/>
                <span style="color: #676a6c;font-size: 16px;margin-left: 3px;vertical-align: bottom">银行卡付款</span>
                <input type="checkbox" th:checked="*{alipayChannel}=='1'" name="alipayChannel" style="margin: 10px 0 0;width: 20px;height: 20px;vertical-align: middle"/>
                <span style="color: #676a6c;font-size: 16px;margin-left: 3px;vertical-align: bottom">支付宝付款</span>
                <input type="checkbox" th:checked="*{wechatChannel}=='1'" name="wechatChannel" disabled style="margin: 10px 0 0;width: 20px;height: 20px;vertical-align: middle"/>
                <span style="color: #676a6c;font-size: 16px;margin-left: 3px;vertical-align: bottom">微信付款</span>
            </div>
        </div>
        <div class="form-group" id="bankSingleQuota" style="display: none">
            <label class="col-sm-3 control-label"><span style="color: red; ">*</span>银行卡渠道用户单笔限额（元）：</label>
            <div class="col-sm-5">
                <input type="number" th:value="*{bankSingleQuota}" name="bankSingleQuota" autocomplete="off" class="form-control" placeholder="请输入用户单笔限额" required>
                <span class="bankSingleQuota"></span>
            </div>
        </div>
        <div class="form-group" id="alipaySingleQuota" style="display: none">
            <label class="col-sm-3 control-label"><span style="color: red; ">*</span>支付宝渠道用户单笔限额（元）：</label>
            <div class="col-sm-5">
                <input type="number" th:value="*{alipaySingleQuota}" name="alipaySingleQuota" autocomplete="off" class="form-control" placeholder="请输入用户单笔限额" required>
                <span class="alipaySingleQuota"></span>
            </div>
        </div>
        <div class="form-group" id="wechatSingleQuota" style="display: none">
            <label class="col-sm-3 control-label"><span style="color: red; ">*</span>微信渠道用户单笔限额（元）：</label>
            <div class="col-sm-5">
                <input type="number" th:value="*{wechatSingleQuota}" name="wechatSingleQuota" autocomplete="off" class="form-control" placeholder="请输入用户单笔限额" required>
                <span class="wechatSingleQuota"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label"><span style="color: red; ">*</span>是否为需要推广商户：</label>
            <div class="col-sm-9">
                <input type="radio" name="sendOrderSwitch" th:field="*{promotionSwitch}" value="1" style="margin:0 8px 0 0;width: 18px;height: 18px;vertical-align: middle"/>
                <label>是</label>
                <input type="radio" name="sendOrderSwitch" th:field="*{promotionSwitch}" value="0" style="margin:0 8px 0 20px;width: 18px;height: 18px;vertical-align: middle" />
                <label>否</label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label"><span style="color: red; ">*</span>是否为派单商户：</label>
            <div class="col-sm-9" style="padding-top: 5px">
                <input type="radio" name="sendOrderSwitch" th:field="*{sendOrderSwitch}" value="1" style="margin:0 8px 0 0;width: 18px;height: 18px;vertical-align: middle"/>
                <label>是</label>
                <input type="radio" name="sendOrderSwitch" th:field="*{sendOrderSwitch}" value="0" style="margin:0 8px 0 20px;width: 18px;height: 18px;vertical-align: middle" />
                <label>否</label>
            </div>
        </div>
        <div class="form-group" id="dispatchMode">
            <label class="col-sm-3 control-label"><span style="color: red; ">*</span>派单模式：</label>
            <div class="col-sm-9">
                <label class="radio-box"> <input type="radio" th:field="*{sendOrderMode}" name="sendOrderMode" value="0" /> 手动 </label>
                <label class="radio-box"> <input type="radio" th:field="*{sendOrderMode}" name="sendOrderMode" value="1" /> 自动 </label>
            </div>
        </div>
        <div id="dispatchForm" style="display: none;">
            <h4 class="form-header h4">派单信息：</h4>
        </div>
        <!--异步通知开关 -->
        <div class="form-group">
            <label class="col-sm-3 control-label"><span style="color: red; ">*</span>异步通知开关：</label>
            <div class="col-sm-9">
                <label class="radio-box"> <input type="radio" th:field="*{asynSwitch}" name="asynSwitch" value="0" /> 关闭 </label>
                <label class="radio-box"> <input type="radio" th:field="*{asynSwitch}"  name="asynSwitch" value="1" /> 开启 </label>
            </div>
        </div>
        <!--异步通知是否检验开关 -->
        <div class="form-group">
            <label class="col-sm-3 control-label"><span style="color: red; ">*</span>异步通知是否验签开关：</label>
            <div class="col-sm-9">
                <label class="radio-box"> <input type="radio" th:field="*{asynSignSwitch}" name="asynSignSwitch" value="0" /> 关闭 </label>
                <label class="radio-box"> <input type="radio" th:field="*{asynSignSwitch}" name="asynSignSwitch" value="1" /> 开启 </label>
            </div>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-sm btn-success col-sm-offset-4" onclick="submitType()"><i class="fa fa-check "></i>保 存</button>
        </div>

        <h4 class="form-header h4">报税风险配置：</h4>
        <input type="hidden" th:value="*{riskId}" class="riskId">
        <input type="hidden" th:value="*{contractNo}" class="contractNo">
        <div class="form-group">
            <label class="col-sm-3 control-label">全网限额：</label>
            <div class="col-sm-9">
                <label class="toggle-switch switch-solid">
                    <input type="checkbox" id="quotaConfig" th:checked="*{quotaConfig == 'ON' ? true : false}">
                    <span></span>
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">全网单人累计金额限制：</label>
            <div class="col-sm-9">
                <input type="text"  name="singleQuotaConfig" th:value="*{singleQuotaConfig}" class="form-control" placeholder="请输入全网单人累计金额限制">
                <span class="singleQuotaConfig"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">临时额度：</label>
            <div class="col-sm-9">
                <input type="text"  name="temporaryQuota" th:value="*{temporaryQuota}" class="form-control" placeholder="请输入临时额度">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">开始日期：</label>
            <div class="col-sm-9">
                <div class="form-group">
                    <div class="input-group date"> <span class="input-group-addon" style="font-size: 14px;color:inherit;display: table-cell"><i class="fa fa-calendar"></i></span>
                        <input type="text" class="form-control time-input" name="temporaryQuotaBegin" id="startTime" th:value="*{temporaryQuotaBegin}" autocomplete="off">
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">结束日期：</label>
            <div class="col-sm-9">
                <div class="form-group">
                    <div class="input-group date"> <span class="input-group-addon" style="font-size: 14px;color:inherit;display: table-cell"><i class="fa fa-calendar"></i></span>
                        <input type="text" class="form-control time-input" name="temporaryQuotaEnd" id="endTime" th:value="*{temporaryQuotaEnd}" autocomplete="off">
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">单商户日限额：</label>
            <div class="col-sm-9">
                <label class="toggle-switch switch-solid">
                    <input type="checkbox" id="singleDayQuota" th:checked="*{singleDayQuota == 'ON' ? true : false}">
                    <span></span>
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">单商戶累计金额限制：</label>
            <div class="col-sm-9">
                <input type="text"  name="cumulativeQuota" th:value="*{cumulativeQuota}" class="form-control" placeholder="请输入单商戶累计金额限制">
            </div>
        </div>
        <h4 class="form-header h4" >合同信息：</h4>
        <div class="form-group">
            <label class="col-sm-3 control-label"><span style="color: red; ">*</span>合同编号：</label>
            <div class="col-sm-5">
                <input type="text" name="contractNo" th:value="*{contractNo}" class="form-control" placeholder="请输入合同编号" required>
            </div>
        </div>
    </form>
</div>
<div class="row" style="margin: 20px auto; height: 90px;">
    <div class="col-sm-offset-3 col-sm-3">
        <button type="button" class="btn btn-sm btn-success" onclick="submitItem()"><i class="fa fa-check "></i>保 存</button>
        <button type="button" class="btn btn-sm btn-danger" onclick="closeItem()"><i class="fa fa-reply-all"></i>关 闭</button>
    </div>
</div>
<div th:include="include::footer"></div>
<script th:src="@{/js/bootstrap-switch.min.js}"></script>
<script th:src="@{/mmtax/js/changeDispatch.js?v=1.1.5}"></script>
<script type="text/javascript">
    layui.use('laydate',function () {
        var laydate = layui.laydate;
        var startDate = laydate.render({
            elem: '#startTime',
            type: 'date',
            format: 'yyyy-MM-dd',
            done: function(value, date){
                endDate.config.min ={
                    year:date.year,
                    month:date.month-1,
                    date: date.date,
                    hours: 0,
                    minutes: 0,
                    seconds : 0
                };
            }
        });
        var endDate = laydate.render({
            elem: '#endTime',
            type: 'date',
            format: 'yyyy-MM-dd',
            done: function(value,date){
                startDate.config.max={
                    year:date.year,
                    month:date.month-1,//注意是month-1，写在date上的话你后边的日期选择不了
                    date: date.date,
                    hours: 0,
                    minutes: 0,
                    seconds : 0
                }
            }
        });
    })
    $("input[type='text']").attr("onkeyup",'this.value=this.value.replace(/\\s+/g,\'\')');
    //  进入合作信息详情页面判断
    //签约类型判断
    if ($("input[name='signingType']:checked").val() != "0") {
        $("input:radio[name='sendOrderSwitch'][value='1']").attr("disabled",true)
    } else {
        $("input:radio[name='sendOrderSwitch'][value='1']").removeAttr("disabled");
        $("input:radio[name='promotionSwitch'][value='1']").attr("disabled",true);
        $("input:radio[name='promotionSwitch'][value='0']").prop("checked",true);
    }

    if ($("input[name='signSwitch']:checked").val() != "0") {
        $("input[name='signingType'][value='2']").attr("disabled",true)
    } else {
        $("input[name='signingType'][value='0']").attr("disabled",true)
        $("input[name='signingType'][value='1']").attr("disabled",true)
        $("input[name='signingType'][value='2']").attr("disabled",false)
        $("input[name='signingType'][value='3']").attr("disabled",true)
        $("input[name='silentSignSwitch'][value='1']").attr("disabled",true)
    }
    //是否为派单商户判断
    if ($("input[name='sendOrderSwitch']:checked").val() != "0") { // 是派单商户
        $("#dispatchMode").show()
        $("#dispatchForm").show()
        $("#workPost").hide()
    } else {
        $("#dispatchMode").hide()
        $("#dispatchForm").hide()
        if ($("input[name='signSwitch']:checked").val() != "0" && $("input[name='signingType']:checked").val() != "2") {
            $("#workPost").show()
        }
    }
    //签约类型的点击事件
    $("input[name='signingType'][value='0']").click(function () {
        $("input[name='sendOrderSwitch'][value='1']").attr("disabled",false)
        $("input[name='promotionSwitch'][value='1']").attr("disabled",true)
        $("input[name='promotionSwitch'][value='0']").prop("checked",true)
        if ($("input[name='sendOrderSwitch']:checked").val() == "0") {
            $("#workPost").show()
        }
    }) //微信签约
    $("input[name='signingType'][value='1']").click(function () {
        $("input[name='sendOrderSwitch'][value='1']").attr("disabled",true)
        $("input[name='sendOrderSwitch'][value='1']").prop("checked",false)
        $("input[name='sendOrderSwitch'][value='0']").prop("checked",true)
        $("input[name='promotionSwitch'][value='1']").attr("disabled",false)
        $("#workPost").show()
        $("#dispatchForm").hide()

    }) //线上签约
    $("input[name='signingType'][value='2']").click(function () {
        $("input[name='sendOrderSwitch'][value='1']").attr("disabled",true)
        $("input[name='sendOrderSwitch'][value='1']").prop("checked",false)
        $("input[name='sendOrderSwitch'][value='0']").prop("checked",true)
        $("input[name='promotionSwitch'][value='1']").attr("disabled",false)
    }) //纸质签约
    $("input[name='signingType'][value='3']").click(function () {
        $("input[name='sendOrderSwitch'][value='1']").attr("disabled",true)
        $("input[name='sendOrderSwitch'][value='1']").prop("checked",false)
        $("input[name='sendOrderSwitch'][value='0']").prop("checked",true)
        $("#dispatchMode").hide()
        $("#workPost").show()
        $("#dispatchForm").hide()
    }) //线上签约(可打款)
    //签约开关的点击
    $("input[name='signSwitch'][value='0']").click(function () {
        $("input[name='signingType'][value='0']").attr("disabled",true)
        $("input[name='signingType'][value='1']").attr("disabled",true)
        $("input[name='signingType'][value='2']").attr("disabled",false)
        $("input[name='signingType'][value='2']").prop("checked",true)
        $("input[name='signingType'][value='3']").attr("disabled",true)
        $("input[name='sendOrderSwitch'][value='1']").attr("disabled",true)
        $("input[name='sendOrderSwitch'][value='0']").prop("checked",true)
        $("input[name='promotionSwitch'][value='1']").attr("disabled",false)
        $("input[name='silentSignSwitch'][value='1']").attr("disabled",true)
        $("input[name='silentSignSwitch'][value='0']").prop("checked",true)
        $("#dispatchMode").hide()
        $("#dispatchForm").hide()
    }) //关
    $("input[name='signSwitch'][value='1']").click(function () {
        $("input[name='signingType'][value='0']").attr("disabled",false)
        $("input[name='signingType'][value='1']").attr("disabled",false)
        $("input[name='signingType'][value='2']").attr("disabled",true)
        $("input[name='signingType'][value='3']").attr("disabled",false)
        $("input[name='silentSignSwitch'][value='1']").attr("disabled",false)
        $("input[name='signingType'][value='1']").prop("checked",true) // 点击签约开关会默认跳到线上签约
        $("#workPost").show()
    }) //开
    //是否为派单商户的点击
    $("input[name='sendOrderSwitch'][value='0']").click(function () {
        $("#dispatchForm").hide()
        $("#dispatchMode").hide()
        $("#workPost").show()
    }) //否
    $("input[name='sendOrderSwitch'][value='1']").click(function () {
        $("#dispatchForm").show()
        $("#dispatchMode").show()
        $("#workPost").hide()
    }) //是派单商户

    $("input[name='singleQuotaConfig']").blur(function () {
        if($(this).val() > 10000000){
            $(".singleQuotaConfig").text("最大金额不得超过1千万");
            $(this)[0].value = ''
        } else {$(".singleQuotaConfig").text("")}
    })
    $("input[name='paymentRequirement']").blur(function () {
        if($(this).val() == ""){$(".paymentRequirement").text("付费要求不能为空")}
        else if ($(this).val().length > 30){
            $(".paymentRequirement").text("最多不能超过30个字")
            $(this)[0].value = ''
        }
        else {$(".paymentRequirement").text("")}
    })
    var bigRate = $("input[name='singleServiceBigRate']").val()
    // 商户服务费率
    $("input[name='singleServiceRate']").blur(function () {
        var bigRate = sessionStorage.getItem("bigRate");
        if (/^((\d+\.?\d*)|(\d*\.\d+))\%$/.test($(this).val())) {
            var a = $(this).val().replace('%','');
            num = a /100
            if (num <= 0 || num >=1 ){
                $(".singleServiceRate").text("输入值应为大于0小于1的数字")
                $(this)[0].value = ''
            }
            else {
                $(this)[0].value = num;
                if (!(/^\d+(\.\d{0,5})?$/.test($(this)[0].value))) {
                    $(".singleServiceRate").text("最多保留小数点后五位")
                    $(this)[0].value = ''
                } else {
                    $(".singleServiceRate").text("")
                }
            }
        } else {
            if($(this).val() == ""){$(".singleServiceRate").text("商户服务费率不能为空")}
            else {
                var num1 = $(this).val()
                if (num1 == 0) {
                    $(".singleServiceRate").text("商户服务费率不得为0")
                    $(this)[0].value = ''
                } else if (!(/^0\.[0-9]\d*$/.test($(this).val()))){
                    $(".singleServiceRate").text("输入值应为大于0小于1的数字")
                    $(this)[0].value = ''
                } else {
                    if (!(/^\d+(\.\d{0,5})?$/.test($(this).val()))) {
                        $(".singleServiceRate").text("最多保留小数点后五位")
                        $(this)[0].value = ''
                    } else {
                        $(".singleServiceRate").text("")
                    }
                }
            }
        }
    })
    // 大额服务费率校验
    $("input[name='singleServiceBigRate']").blur(function () {
        if (/^((\d+\.?\d*)|(\d*\.\d+))\%$/.test($(this).val())) {
            var a = $(this).val().replace('%','');
            num = a /100
            if (num < 0 || num >=1 ){
                $(".singleServiceBigRate").text("大额服务费率应不得小于商户服务费率并且不能大于1")
                $(this)[0].value = ''
            }
            else {
                $(this)[0].value = num;
                if (!(/^\d+(\.\d{0,5})?$/.test($(this).val()))) {
                    $(".singleServiceBigRate").text("最多保留小数点后五位")
                    $(this)[0].value = ''
                } else {
                    $(".singleServiceBigRate").text("")
                }
            }
        } else {
            if($(this).val() == ""){$(".singleServiceBigRate").text("大额服务费率不能为空")}
            else {
                var num2 = $(this).val()
                if (num2 == 0) {
                    $(".singleServiceBigRate").text("商户服务费率不得为0")
                    $(this)[0].value = ''
                } else if (!(/^0\.[0-9]\d*$/.test($(this).val()))) {
                    $(".singleServiceBigRate").text("输入值应为不小于0且不大于1的数字")
                    $(this)[0].value = ''
                } else {
                    if (!(/^\d+(\.\d{0,5})?$/.test($(this).val()))) {
                        $(".singleServiceBigRate").text("最多保留小数点后五位")
                        $(this)[0].value = ''
                    } else {
                        $(".singleServiceBigRate").text("")
                    }
                }
            }
        }
    })
    // 银行卡渠道用户单笔限额
    $("input[name='bankSingleQuota']").blur(function () {
        if($(this).val() == ""){$(".bankSingleQuota").text("银行卡渠道用户单笔限额不能为空")}
        else if ($(this).val() > 49999){
            $(".bankSingleQuota").text("银行卡渠道用户单笔限额不能超过49999");
            $(this)[0].value = ''
        } else {$(".bankSingleQuota").text("")}
    })
    // 支付宝渠道用户单笔限额
    $("input[name='alipaySingleQuota']").blur(function () {
        if($(this).val() == ""){$(".alipaySingleQuota").text("支付宝渠道用户单笔限额不能为空")}
        else if ($(this).val() > 49999){
            $(".alipaySingleQuota").text("支付宝渠道用户单笔限额不能超过49999");
            $(this)[0].value = ''
        } else {$(".alipaySingleQuota").text("")}
    })
    // 微信渠道用户单笔限额
    $("input[name='wechatSingleQuota']").blur(function () {
        if($(this).val() == ""){$(".wechatSingleQuota").text("微信渠道用户单笔限额不能为空")}
        else if ($(this).val() > 49999){
            $(".wechatSingleQuota").text("微信渠道用户单笔限额不能超过49999");
            $(this)[0].value = ''
        } else {$(".wechatSingleQuota").text("")}
    })
    var alipayPee = $("input[name='alipayChannel']").prop("checked") == true ? 'ON' : 'OFF'
    var bankPee = $("input[name='bankChannel']").prop("checked") == true ? 'ON' : 'OFF'
    var wechatPee = $("input[name='wechatChannel']").prop("checked") == true ? 'ON' : 'OFF'
    if (bankPee == 'ON') {
        $("#bankSingleQuota").css('display','block')
    } else {
        $("#bankSingleQuota").css('display','none')
    }
    if (alipayPee == 'ON') {
        $("#alipaySingleQuota").css('display','block')
    } else {
        $("#alipaySingleQuota").css('display','none')
    }
    if (wechatPee == 'ON') {
        $("#wechatSingleQuota").css('display','block')
    } else {
        $("#wechatSingleQuota").css('display','none')
    }
    // 大额费率开关
    var bigRateSwitch = $("input[id='bigRateSwitch']").is(':checked') == true ? '1' : '0';
    if (bigRateSwitch == '1') {
        $("#singleServiceBigRate").css('display','block')
    } else {
        $("#singleServiceBigRate").css('display','none')
        $("input[name='singleServiceBigRate']")[0].value = ''
    }
    $("input[id='bigRateSwitch']").click(function () {
        if ($(this).is(":checked")) {
            $("#singleServiceBigRate").css('display','block')
            $("input[name='singleServiceBigRate']")[0].value = ''
        } else {
            $("#singleServiceBigRate").css('display','none')
            var bigRate = ''
            sessionStorage.setItem("bigRate",bigRate)
        }
    })
    $("input[name='bankChannel']").click(function () {
        if ($(this).is(":checked")){
            $("#bankSingleQuota").css('display','block')
            $("input[name='bankSingleQuota']")[0].value = '49999'
        } else {
            $("#bankSingleQuota").css('display','none')
            $("input[name='bankSingleQuota']")[0].value = ''
        }

    })
    $("input[name='alipayChannel']").click(function () {
        if ($(this).is(":checked")){
            $("#alipaySingleQuota").css('display','block')
            $("input[name='alipaySingleQuota']")[0].value = '49999'
        } else {
            $("#alipaySingleQuota").css('display','none')
            $("input[name='alipaySingleQuota']")[0].value = ''
        }

    })
    $("input[name='wechatChannel']").click(function () {
        if ($(this).is(":checked")){
            $("#wechatSingleQuota").css('display','block')
            $("input[name='wechatSingleQuota']")[0].value = '49999'
        } else {
            $("#wechatSingleQuota").css('display','none')
            $("input[name='wechatSingleQuota']")[0].value = ''
        }

    })
    $("#form-user-add").validate({
        onkeyup: false,
        rules:{
            paymentRequirement:{
                minlength: 1,
                maxlength: 30
            },
            singleServiceRate:{
                minlength:1,
                maxlength: 40
            },
            singleQuota:{
                minlength:1,
                maxlength: 20
            }
        },
        messages: {
        },
        focusCleanup: true
    });
    var information = JSON.parse(sessionStorage.getItem('information'))
    // 查询商户的派单信息
    $.post("/manager/merchantTaskInfo/selectMerchantTaskInfo",{merchantId:information.id},function (data) {
        if (data.code === 0) {
            if (data.data.length === 0) {
                autoAdd()
                autoAddPost()
            } else {
                for (var i = 0;i<data.data.length;i++){
                    var defaultId = data.data[i].taskId
                    var info = data.data[i].taskInfo
                    autoAdd(defaultId,info)
                    autoAddPost(defaultId)
                }
            }
        }
    })


    function submitType() {
        if ($.validate.form()) {
            var paymentAdjustType = $("input[name='paymentAdjustType']:checked").val();
            var settleType = $("input[name='settleType']:checked").val();
            var businessType = $("input[name='businessType']:checked").val();
            var moneyModel = $("input[name='moneyModel']:checked").val();
            var paymentModel = $("input[name='paymentModel']:checked").val();
            var rateSwitch = $("input[name='rateSwitch']:checked").val();
            var inOrOutDeduction = $("input[name='inOrOutDeduction']:checked").val();
            var promotionSwitch = $("input[name='promotionSwitch']:checked").val();
            var sendOrderSwitch = $("input[name='sendOrderSwitch']:checked").val();
            var sendOrderMode = $("input[name='sendOrderMode']:checked").val();
            var signSwitch = $("input[name='signSwitch']:checked").val();
            var silentSignSwitch = $("input[name='silentSignSwitch']:checked").val();
            var paymentChannel = $("input[name='paymentChannel']:checked").val();
            var signingType = $("input[name='signingType']:checked").val();
            var paymentRequirement = $("input[name='paymentRequirement']").val()
            var singleServiceRate = $("input[name='singleServiceRate']").val()
            var mealInfoId = $("input[name='mealInfoId']").val()
            var bankSingleQuota = $("input[name='bankSingleQuota']").val()
            var alipaySingleQuota = $("input[name='alipaySingleQuota']").val()
            var wechatSingleQuota = $("input[name='wechatSingleQuota']").val()
            var singleServiceBigRate = $("input[name='singleServiceBigRate']").val()  // 大额费率
            var bigRateSwitch = $("input[id='bigRateSwitch']").is(':checked') == true ? '1' : '0'; // 大额费率开关
            var merchantName = $('.merchantName').text()
            var mainSubject = $('.mainSubject').text()
            var cooperationId = $(".cooperationId").val()
            var alipayPee = $("input[name='alipayChannel']").prop("checked") == true ? 'ON' : 'OFF'
            var bankPee = $("input[name='bankChannel']").prop("checked") == true ? 'ON' : 'OFF'
            var wechatPee = $("input[name='wechatChannel']").prop("checked") == true ? 'ON' : 'OFF'
            var asynSwitch = $("input[name='asynSwitch']:checked").val();
            var asynSignSwitch = $("input[name='asynSignSwitch']:checked").val();
            if (alipayPee == 'OFF' && bankPee == 'OFF') {
                $.modal.msgWarning("请至少选择一种打款渠道")
                return
            }
            var dispatchData = $("#dispatchForm").serializeArray()
            var postObj = {}
            var postInfos = []
            for (var i = 1;i<=$("#workPost select").length;i++){
                if ($("#workPost div[id='post"+i+"'] select").val() == '') {
                    postObj = {"taskId":'',
                        "taskName":''
                    }
                } else {
                    postObj = {"taskId":$("#workPost div[id='post"+i+"'] select").val(),
                        "taskName":$("#workPost div[id='post"+i+"'] select").find("option:selected").text()
                    }
                }
                postInfos.push(postObj)
            }
            var merchantTaskInfos=[]
            var listObj={}
            for (var i = 0; i <$("#dispatchForm select[name='taskTitle']").length ; i++) {
                if($("#dispatchForm select[name='taskTitle']")[i].selectedOptions[0].value == ''){
                    listObj = {"taskId":'',
                        "taskInfo":'',
                        "taskName":''
                    }
                } else {
                    listObj = {"taskId":$("#dispatchForm select[name='taskTitle']")[i].selectedOptions[0].value,
                        "taskInfo":$("#dispatchForm textarea[name='taskContent']")[i].value,
                        "taskName":$("#dispatchForm select[name='taskTitle']")[i].selectedOptions[0].innerText
                    }
                }
                merchantTaskInfos.push(listObj)
            }
            var data = {
                merchantId: information.id,
                businessType: businessType,
                moneyModel: moneyModel,
                singleServiceRate: singleServiceRate,
                bankSingleQuota: bankSingleQuota,
                alipaySingleQuota: alipaySingleQuota,
                wechatSingleQuota: wechatSingleQuota,
                signingType: signingType,
                settleType: settleType,
                rateSwitch: rateSwitch,
                inOrOutDeduction:inOrOutDeduction,
                promotionSwitch:promotionSwitch,
                sendOrderSwitch:sendOrderSwitch,
                sendOrderMode:sendOrderMode,
                signSwitch: signSwitch,
                bigRateSwitch: bigRateSwitch,
                singleServiceBigRate: singleServiceBigRate,
                silentSignSwitch: silentSignSwitch,
                paymentRequirement: paymentRequirement,
                paymentModel: paymentModel,
                merchantTaskInfos:merchantTaskInfos,
                postInfos:postInfos,
                paymentChannel: paymentChannel,
                paymentAdjustType: paymentAdjustType,
                merchantName: merchantName,
                mealInfoId: mealInfoId,
                mainSubject: mainSubject,
                cooperationId: cooperationId,
                asynSwitch:asynSwitch,
                asynSignSwitch:asynSignSwitch
            }
            if (wechatPee == 'OFF') {
                data.wechatChannel = "0"
            } else {
                data.wechatChannel = "1"
            }
            if (alipayPee == 'OFF') {
                data.alipayChannel = "0"
            } else {
                data.alipayChannel = "1"
            }
            if (bankPee == 'OFF') {
                data.bankChannel = "0"
            } else {
                data.bankChannel = "1"
            }
            data = JSON.stringify(data)
            $.ajax({
                url: "/manager/merchant/updateCooperationInfoDetail",
                data: data,
                type: "post",
                datatype:"json",
                contentType: 'application/json',
                success: function(result) {
                    if(result.code === 0){
                        $.modal.msgSuccess(result.msg)
                    }else {
                        $.modal.msgError(result.msg)
                    }
                }
            })
        }
    }
    function submitItem() {
        var quotaConfig = $("input[id='quotaConfig']").is(':checked') == true ? 'ON' : 'OFF';
        var singleDayQuota = $("input[id='singleDayQuota']").is(':checked') == true ? 'ON' : 'OFF';
        var riskId = $(".riskId").val()
        var contractNo = $(".contractNo").val()
        var singleQuotaConfig = $('input[name="singleQuotaConfig"]').val()
        var temporaryQuota = $('input[name="temporaryQuota"]').val()
        var temporaryQuotaBegin = $('input[name="temporaryQuotaBegin"]').val()
        var temporaryQuotaEnd = $('input[name="temporaryQuotaEnd"]').val()
        var cumulativeQuota = $("input[name='cumulativeQuota']").val()
        var contractNo = $("input[name='contractNo']").val()
        if(contractNo == undefined||contractNo==''){
            $.modal.msgWarning("合同编号不能为空")
            return
        }
        var data = {
            contractNo:contractNo,
            quotaConfig:quotaConfig,
            riskId:riskId,
            singleDayQuota:singleDayQuota,
            singleQuotaConfig:singleQuotaConfig,
            temporaryQuota:temporaryQuota,
            temporaryQuotaBegin:temporaryQuotaBegin,
            temporaryQuotaEnd:temporaryQuotaEnd,
            cumulativeQuota:cumulativeQuota,
            contractNo:contractNo
        }
        $.ajax({
            url: "/manager/merchant/updateRiskConfigDetail",
            data: data,
            type: "post",
            datatype: "json",
            beforeSend: function () {
                $.modal.loading("正在处理中，请稍后...");
            },
            success: function(result) {
                if (typeof callback == "function") {
                    callback(result);
                    $.modal.msgSuccess(result.msg);
                }
                $.operate.successTabCallback(result);
            }
        })
    }
    // 增加派单信息
    function addDiv() {
        var taskLen =parseInt($("#dispatchForm div.task").length)+1;
        if (taskLen > 20){
            $.modal.msgWarning("最多可添加20条派单信息")
            return
        }
        var taskHtml = '<div class="form-group task" id="task'+ taskLen +'">'+
            '<label class="col-sm-2 control-label">任务名称：</label>'+
            '<div class="col-sm-4" style="display: flex;justify-content: left">'+
            '<select class="form-control select2-multiple" name="taskTitle" style="margin-right: 15px" id="taskTitle'+ taskLen +'">'+
            '<option value="">请选择</option></select>'+
            '<a class="btn btn-danger" onclick="deleteTask(' + taskLen + ')"><i class="fa fa-remove"></i></a></div></div>'+
            '<div class="form-group intro" id="intro'+ taskLen +'"><label class="col-sm-2 control-label">任务简介：</label>'+
            '<div class="col-sm-4"><textarea name="taskContent" autocomplete="off" class="form-control" style="height: 133px;" id="taskContent'+ taskLen +'"></textarea></div></div>'
        $("#dispatchForm").append(taskHtml)
        $.post("/manager/taskInfo/selectAllTaskInfo",function (data) {
            var html = ''
            data.data.forEach(function (item) {
                html += '<option value="'+item.id+'">'+item.taskName+'</option>'
            })
            $("#dispatchForm select[id='taskTitle"+taskLen+"']").append(html)
        })
        selectChange()
    }
    // 增加岗位
    function addPost() {
        var postLen =parseInt($("#workPost div.col-sm-5").length)+1
        var postHtml = '<div class="col-sm-5 col-sm-offset-3" style="display: flex;justify-content: left;margin-top: 6px;" id="post'+ postLen +'">\n' +
            '                <select class="form-control select2-multiple" name="postSubject" style="margin-right: 15px" >\n' +
            '                    <option value="">请选择</option>\n' +
            '                </select>\n' +
            '                <a class="btn btn-danger" style="height: 34px" onclick="deletePost(' + postLen + ')"><i class="fa fa fa-remove"></i></a>\n' +
            '            </div>'
        $("#workPost").append(postHtml)
        $.post("/manager/taskInfo/selectAllTaskInfo",function (data) {
            var html = ''
            data.data.forEach(function (item) {
                html += '<option value="'+item.id+'">'+item.taskName+'</option>'
            })
            $("#workPost div[id='post"+postLen+"'] select").append(html)
        })
    }
    // 删除派单信息
    function deleteTask(index){
        $("#dispatchForm div.task[id='task"+index+"']").remove()
        $("#dispatchForm div.intro[id='intro"+index+"']").remove()
    }
    function deletePost(index){
        $("#workPost div.col-sm-5[id='post"+index+"']").remove()
    }
    function autoAdd(id,info) {
        selectChange()
        var taskLen =parseInt($("#dispatchForm div.task").length)+1
        if (taskLen === 1) {
            var taskHtml = '<div class="form-group task" id="task'+ taskLen +'">'+
                '<label class="col-sm-2 control-label">任务名称：</label>'+
                '<div class="col-sm-4" style="display: flex;justify-content: left">'+
                '<select class="form-control select2-multiple" name="taskTitle" style="margin-right: 15px" id="taskTitle'+ taskLen +'">'+
                '<option value="">请选择</option></select>'+
                '<a class="btn btn-success" style="height: 34px" onclick="addDiv()"><i class="fa fa fa-plus"></i></a></div></div>'+
                '<div class="form-group intro" id="intro'+ taskLen +'"><label class="col-sm-2 control-label">任务简介：</label>'+
                '<div class="col-sm-4"><textarea name="taskContent" autocomplete="off" class="form-control" style="height: 133px;" id="taskContent'+ taskLen +'"></textarea></div></div>'
            $("#dispatchForm").append(taskHtml)
            selectChange()
        } else {
            var taskHtml = '<div class="form-group task" id="task'+ taskLen +'">'+
                '<label class="col-sm-2 control-label">任务名称：</label>'+
                '<div class="col-sm-4" style="display: flex;justify-content: left">'+
                '<select class="form-control select2-multiple" name="taskTitle" style="margin-right: 15px" id="taskTitle'+ taskLen +'">'+
                '<option value="">请选择</option></select>'+
                '<a class="btn btn-danger" onclick="deleteTask(' + taskLen + ')"><i class="fa fa-remove"></i></a></div></div>'+
                '<div class="form-group intro" id="intro'+ taskLen +'"><label class="col-sm-2 control-label">任务简介：</label>'+
                '<div class="col-sm-4"><textarea name="taskContent" autocomplete="off" class="form-control" style="height: 133px;" id="taskContent'+ taskLen +'"></textarea></div></div>'
            $("#dispatchForm").append(taskHtml)
        }
        $.post("/manager/taskInfo/selectAllTaskInfo",function (data) {
            var html = ''
            for (var i = 0;i<data.data.length;i++){
                if (data.data[i].id == id) {
                    html += '<option value="' + data.data[i].id + '" selected="selected">' + data.data[i].taskName + '</option>'
                    $("#dispatchForm textarea[id='taskContent"+taskLen+"']").val(info)
                } else {
                    html += '<option value="' + data.data[i].id + '">' + data.data[i].taskName + '</option>'
                }
            }
            $("#dispatchForm select[id='taskTitle"+taskLen+"']").append(html)
        })
    }
    // 自动增加岗位
    function autoAddPost(id) {
        var postLen =parseInt($("#workPost div.col-sm-5").length)+1
        if (postLen === 1) {
            var postHtml = '<div class="col-sm-5" style="display: flex;justify-content: left" id="post'+ postLen +'">\n' +
                '                <select class="form-control select2-multiple" name="postSubject" style="margin-right: 15px">\n' +
                '                    <option value="">请选择</option>\n' +
                '                </select>\n' +
                '                <a class="btn btn-success" style="height: 34px" onclick="addPost()"><i class="fa fa fa-plus"></i></a>\n' +
                '            </div>'
            $("#workPost").append(postHtml)
        } else {
            var postHtml = '<div class="col-sm-5 col-sm-offset-3" style="display: flex;justify-content: left;margin-top:6px;" id="post'+ postLen +'">\n' +
                '                <select class="form-control select2-multiple" name="postSubject" style="margin-right: 15px">\n' +
                '                    <option value="">请选择</option>\n' +
                '                </select>\n' +
                '                <a class="btn btn-danger" style="height: 34px" onclick="deletePost(' + postLen + ')"><i class="fa fa fa-remove"></i></a>\n' +
                '            </div>'
            $("#workPost").append(postHtml)
        }
        $.post("/manager/taskInfo/selectAllTaskInfo",function (data) {
            var html = ''
            for (var i = 0;i<data.data.length;i++){
                if (data.data[i].id == id) {
                    html += '<option value="' + data.data[i].id + '" selected="selected">' + data.data[i].taskName + '</option>'
                } else {
                    html += '<option value="' + data.data[i].id + '">' + data.data[i].taskName + '</option>'
                }
            }
            $("#workPost div[id='post"+postLen+"'] select").append(html)
        })
    }
</script>
</body>
</html>
