<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('修改客户支持')"/>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-customerSupport-edit">
        <input id="id" name="id" type="hidden">
        <input id="merchantName" name="merchantName" type="hidden">
        <div class="form-group">
            <label class="col-sm-3 control-label"><span style="color: red; ">*</span>客户经理：</label>
            <div class="col-sm-8">
                <input id="customerManager" name="customerManager" class="form-control" type="text" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label"><span style="color: red; ">*</span>手机号：</label>
            <div class="col-sm-8">
                <input id="customerManagerMobile" name="customerManagerMobile" class="form-control" type="text" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label"><span style="color: red; ">*</span>邮箱：</label>
            <div class="col-sm-8">
                <input id="email" name="email" class="form-control" type="text" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label"><span style="color: red; ">*</span>客户成功经理：</label>
            <div class="col-sm-8">
                <input id="successCustomerManager" name="successCustomerManager" class="form-control" type="text" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label"><span style="color: red; ">*</span>客户成功经理手机号：</label>
            <div class="col-sm-8">
                <input id="successCustomerManagerMobile" name="successCustomerManagerMobile" class="form-control" type="text" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label"><span style="color: red; ">*</span>客户成功经理邮箱：</label>
            <div class="col-sm-8">
                <input id="successCustomerEmail" name="successCustomerEmail" class="form-control" type="text" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label"><span style="color: red; ">*</span>商户支持邮箱：</label>
            <div class="col-sm-8">
                <input id="businessSupport" name="businessSupport" class="form-control" type="text" required>
            </div>
        </div>
    </form>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript">
    var prefix = ctx + "business/customerSupport";
    $("input[type='text']").attr("onkeyup",'this.value=this.value.replace(/\\s+/g,\'\')');
    var customerSupport = JSON.parse(sessionStorage.getItem("customerSupport"))
    $("#id").val(customerSupport.id)
    $("#businessSupport").val(customerSupport.businessSupport)
    $("#customerManager").val(customerSupport.customerManager)
    $("#customerManagerMobile").val(customerSupport.customerManagerMobile)
    $("#email").val(customerSupport.email)
    $("#merchantName").val(customerSupport.merchantName)
    $("#successCustomerEmail").val(customerSupport.successCustomerEmail)
    $("#successCustomerManager").val(customerSupport.successCustomerManager)
    $("#successCustomerManagerMobile").val(customerSupport.successCustomerManagerMobile)
    $("#form-customerSupport-edit").validate({
        rules: {
            businessSupport: {
                email:true,
                required: true,
                minlength: 2,
                maxlength: 40,
            },
            customerManager: {
                required: true,
                minlength: 2,
                maxlength: 20,
            },
            customerManagerMobile: {
                isPhone:true,
                required: true,
                minlength: 1,
                maxlength: 11
            },
            email: {
                email:true,
                required: true,
                minlength: 2,
                maxlength: 40,
            },
            successCustomerEmail: {
                email:true,
                required: true,
                minlength: 2,
                maxlength: 40,
            },
            successCustomerManager: {
                required: true,
                minlength: 2,
                maxlength: 20,
            },
            successCustomerManagerMobile: {
                isPhone:true,
                required: true,
                minlength: 1,
                maxlength: 11
            },
        },
        focusCleanup: true
    });

    function submitHandler() {
        if ($.validate.form()) {
            var data = $("#form-customerSupport-edit").serializeArray();
            var params = {}
            data.forEach(function (item) {
                params[item.name] = item.value
            })
            params = JSON.stringify(params)
            $.ajax({
                url: "/manager/merchant/updateCustomerSupport",
                data: params,
                type: "post",
                datatype:"json",
                contentType: 'application/json',
                beforeSend: function () {
                    $.modal.loading("正在处理中，请稍后...");
                    $.modal.disable();
                },
                success: function(result) {
                    if (typeof callback == "function") {
                        callback(result);
                    }
                    $.operate.successCallback(result);
                }
            })
        }
    }
</script>
</body>
</html>
