<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('合作信息')"/>
    <link th:href="@{/css/bootstrap-switch.min.css}" rel="stylesheet"/>
    <style>
        .bg{
            width:100%;
            height: 100%;
            background:rgba(0,0,0,.5);
            position: absolute;
            top: 0px;
            right: 0px;
            left: 0px;
            display: none;
            z-index: 99;
        }
        .license{
            background: #fff;
            position: absolute;
            z-index: 1000;
            top:100px;
            left:50%;
            margin-left: -250px;
            display: none;
        }
        #img-change{
            border: 1px solid #eee;
            position: relative;
            left: 50%;
            margin-left: -150px;
            z-index: 100;
        }
        .container {
            margin: 30px auto 0 auto;
            position: relative;
            font-family: 微软雅黑;
            font-size: 12px;
            /*width: 750px;*/
            width: 500px;
        }
    </style>
</head>
<body class="white-bg">
<div class="form-content">
    <h4 class="form-header h4">基本信息：</h4>
    <form class="form-horizontal m">
        <div class="form-group">
            <label class="col-sm-2 control-label"><span style="color: red; ">*</span>商户名称：</label>
            <div class="col-sm-3">
                <input class="merchantName form-control" name="merchantName" type="text" value="" placeholder="请输入商户名称" readonly>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">代征主体：</label>
            <div class="col-sm-3">
                <input class="mainSubject form-control" name="mainSubject" type="text" placeholder="请输入代征主体" value="安薪宝" readonly="readonly">
            </div>
        </div>
    </form>
    <h4 class="form-header h4">C端签约配置：</h4>
    <form class="form-horizontal m">
        <div class="form-group">
            <label class="col-sm-3 control-label"><span style="color: red; ">*</span>签约类型：</label>
            <div class="col-sm-7">
                <label class="radio-box"> <input type="radio" name="signingType" value="0" /> 微信签约 </label>
                <label class="radio-box"> <input type="radio" name="signingType" value="1" /> 线上签约 </label>
                <label class="radio-box"> <input type="radio" name="signingType" value="3" /> 线上签约(可打款) </label>
                <label class="radio-box"> <input type="radio" name="signingType" value="2" /> 纸质签约 </label>
            </div>
            <div class="col-sm-2">
                <div class="text-center">
                    <a href="javascript:onBanner()" class="btn btn-danger">上传合同
                    </a>
                </div>
            </div>
        </div>
    </form>
    <h4 class="form-header h4">合作信息：</h4>
    <form class="form-horizontal m" id="form-user-add">
        <div class="form-group">
            <label class="col-sm-3 control-label"><span style="color: red; ">*</span>打款核算误差：</label>
            <div class="col-sm-9">
                <label class="radio-box"> <input type="radio" name="paymentAdjustType" value="0" /> 手动调整 </label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label"><span style="color: red; ">*</span>结算类型：</label>
            <div class="col-sm-9">
                <label class="radio-box"> <input type="radio" name="settleType" value="0" /> 智能结算 </label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label"><span style="color: red; ">*</span>业务类型：</label>
            <div class="col-sm-9">
                <label class="radio-box"> <input type="radio" name="businessType" value="0" /> 报税业务 </label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label"><span style="color: red; ">*</span>服务费付费模式：</label>
            <div class="col-sm-9">
                <label class="radio-box"> <input type="radio" name="paymentModel" value="0" /> 实时付费 </label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label"><span style="color: red; ">*</span>付费要求：</label>
            <div class="col-sm-9">
                <input type="text" name="paymentRequirement" autocomplete="off" class="form-control" placeholder="请输入付费要求" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label"><span style="color: red; ">*</span>商户服务费率：</label>
            <div class="col-sm-9">
                <input type="number" name="singleServiceRate" autocomplete="off" class="form-control" placeholder="请输入商户服务费率" required>
                <p style="display: inline-block;position: absolute;top:0px;right: 20px;font-size: 22px" class="rate">%</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label"><span style="color: red; ">*</span>套餐类型：</label>
            <div class="col-sm-9">
                <!--<input type="number" name="mealInfoId" class="form-control" placeholder="请输入套餐类型">-->
                <select name="mealInfoId" class="form-control m-b">
                    <option value="">请选择</option>
                    <option value="01">套餐1</option>
                    <option value="02">套餐2</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label"><span style="color: red; ">*</span>用户服务费：</label>
            <div class="col-sm-9">
                <label class="radio-box"> <input type="radio" name="rateSwitch" value="0" /> 关闭 </label>
                <label class="radio-box"> <input type="radio" name="rateSwitch" value="1" /> 开启 </label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label"><span style="color: red; ">*</span>用户服务费付款方式：</label>
            <div class="col-sm-9">
                <label class="radio-box"> <input type="radio" name="paymentChannel" value="0" /> 银行卡付款 </label>
                <label class="radio-box"> <input type="radio" name="paymentChannel" value="1" /> 支付宝付款 </label>
                <label class="radio-box"> <input type="radio" name="paymentChannel" value="2" /> 微信付款 </label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label"><span style="color: red; ">*</span>用户单笔限额：</label>
            <div class="col-sm-9">
                <input type="number" name="singleQuota" class="form-control" placeholder="请输入用户单笔限额">
            </div>
        </div>
    </form>
    <h4 class="form-header h4">报税风险配置：</h4>
    <form class="form-horizontal m" id="form-config">
        <div class="form-group">
            <label class="col-sm-3 control-label">全网限额：</label>
            <div class="col-sm-9">
                <label class="toggle-switch switch-solid">
                    <input type="checkbox" id="quotaConfig">
                    <span></span>
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">全网单人累计金额限制：</label>
            <div class="col-sm-9">
                <input type="text"  name="singleQuotaConfig" class="form-control" placeholder="请输入全网单人累计金额限制">

            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">临时额度：</label>
            <div class="col-sm-9">
                <input type="text"  name="temporaryQuota" class="form-control" placeholder="请输入临时额度">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">开始日期：</label>
            <div class="col-sm-9">
                <div class="form-group">
                    <div class="input-group date"> <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input type="text" class="form-control time-input" name="temporaryQuotaBegin">
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">结束日期：</label>
            <div class="col-sm-9">
                <div class="form-group">
                    <div class="input-group date"> <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input type="text" class="form-control time-input" name="temporaryQuotaEnd">
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">单商户日限额：</label>
            <div class="col-sm-9">
                <label class="toggle-switch switch-solid">
                    <input type="checkbox" id="singleDayQuota">
                    <span></span>
                </label>
            </div>
        </div>
    </form>
</div>
<div class="row" style="margin: 20px auto; height: 90px;">
    <div class="col-sm-offset-3 col-sm-3">
        <button type="button" class="btn btn-sm btn-danger" onclick="closeItem()"><i class="fa fa-reply-all"></i>上一步</button>
        <button type="button" class="btn btn-sm btn-success" onclick="submitItem()"><i class="fa fa-check "></i>下一步</button>
    </div>
</div>
<div class="license">
    <div class="container">
        <input type="file" id="file" style="display: none" onchange="filechange(event)" accept="image/*"/>
        <img width="300px" height="300px" id="img-change">
        <i class="fa fa fa-plus banner" style="font-size: 112px; color: #e5e6e7;position: relative;left: 42px;bottom: -24px;"></i>
    </div>
    <div class="row" style="margin: 40px auto;">
        <div class="col-sm-offset-4 col-sm-10">
            <button type="button" class="btn btn-sm btn-primary" onclick="submitImg()"><i class="fa fa-check"></i>保 存</button>&nbsp;
            <button type="button" class="btn btn-sm btn-danger" onclick="closeImgItem()"><i class="fa fa-reply-all"></i>关 闭 </button>
        </div>
    </div>
</div>
<div class="bg"></div>
<div th:include="include::footer"></div>
<script th:src="@{/js/bootstrap-switch.min.js}"></script>
<script type="text/javascript">
    var params = JSON.parse(sessionStorage.getItem("params"))
    params.forEach(function (item,index) {
        if(item.name == 'merchantName'){
            $("input[name='merchantName']").val(item.value)
        }
    })
    var imgurl;
    $("#form-user-add").validate({
        onkeyup: false,
        rules:{
            paymentRequirement:{
                minlength: 1,
                maxlength: 20,
            },
            singleServiceRate:{
                minlength: 1,
                maxlength: 20
            }
        },
        focusCleanup: true
    });
    function submitItem() {
        var add = $("#form-user-add").serializeArray()
        var config = $("#form-config").serializeArray()
        var merchant = add.concat(config)
        var paymentAdjustType = $("input[name='paymentAdjustType']:checked").val();
        var settleType = $("input[name='settleType']:checked").val();
        var businessType = $("input[name='businessType']:checked").val();
        var paymentModel = $("input[name='paymentModel']:checked").val();
        var rateSwitch = $("input[name='rateSwitch']:checked").val();
        var paymentChannel = $("input[name='paymentChannel']:checked").val();
        var signingType = $("input[name='signingType']:checked").val();
        var mainSubject = $("input[name='mainSubject']").val()
        var merchantName = $("input[name='merchantName']").val()
        var paymentRequirement = $("input[name='paymentRequirement']").val()
        var singleServiceRate = $("input[name='singleServiceRate']").val()
        var singleQuota = $("input[name='singleQuota']").val()
        // var singleQuotaConfig = $("input[name='singleQuotaConfig']").val()
        // var temporaryQuota = $("input[name='temporaryQuota']").val()
        var quotaConfig = $("input[id='quotaConfig']").is(':checked') == true ? 'ON' : 'OFF';
        var singleDayQuota = $("input[id='singleDayQuota']").is(':checked') == true ? 'ON' : 'OFF';
        var mealInfoId =  $("select[name='mealInfoId'] option:selected").val()
        if (paymentChannel == 0) {
            paymentChannel = 'BANK'
        } else if (paymentChannel == 1) {
            paymentChannel = 'ALIPAY'
        } else {
            paymentChannel = 'WECHAT'
        }
        if (merchantName == undefined || merchantName == "") {
            $.modal.msgWarning("请输入商户名称");
            return
        }
        if (signingType == undefined || signingType == "") {
            $.modal.msgWarning("请选择签约类型");
            return
        }
        if (paymentAdjustType == undefined || paymentAdjustType == "") {
            $.modal.msgWarning("请选择打款核算误差");
            return
        }
        if (settleType == undefined || settleType == "") {
            $.modal.msgWarning("请选择结算类型");
            return
        }
        if (businessType == undefined || businessType == "") {
            $.modal.msgWarning("请选择报税业务");
            return
        }
        if (paymentModel == undefined || paymentModel == "") {
            $.modal.msgWarning("请选择实时付费");
            return
        }
        if (paymentRequirement == undefined || paymentRequirement == "") {
            $.modal.msgWarning("请输入付费要求");
            return
        }
        if (singleServiceRate == undefined || singleServiceRate == "") {
            $.modal.msgWarning("请输入商户服务费率");
            return
        }
        if (mealInfoId == undefined || mealInfoId == "") {
            $.modal.msgWarning("请选择套餐类型");
            return
        }
        if (rateSwitch == undefined || rateSwitch == "") {
            $.modal.msgWarning("请选择用户服务费开关");
            return
        }
        if (paymentChannel == undefined || paymentChannel == "") {
            $.modal.msgWarning("请选择用户服务费付款方式");
            return
        }
        if (singleQuota == undefined || singleQuota == "") {
            $.modal.msgWarning("请输入用户单笔限额");
            return
        }
        if(imgurl == undefined||imgurl == ""){
            $.modal.msgWarning("请上传合同");
            return
        }
        // if (singleQuotaConfig == undefined || singleQuotaConfig == "") {
        //     $.modal.msgWarning("请输入全网单人累计金额限制");
        //     return
        // }
        // if (temporaryQuota == undefined || temporaryQuota == "") {
        //     $.modal.msgWarning("请输入临时额度");
        //     return
        // }
        merchant.push({"name": "paymentAdjustType", "value": paymentAdjustType});
        merchant.push({"name": "settleType", "value": settleType});
        merchant.push({"name": "businessType", "value": businessType});
        merchant.push({"name": "paymentModel", "value": paymentModel});
        merchant.push({"name": "rateSwitch", "value": rateSwitch});
        merchant.push({"name": "signingType", "value": signingType});
        merchant.push({"name": "paymentChannel", "value": paymentChannel});
        merchant.push({"name": "mainSubject", "value": mainSubject});
        merchant.push({"name": "merchantName", "value": merchantName});
        merchant.push({"name": "quotaConfig", "value": quotaConfig});
        merchant.push({"name": "singleDayQuota", "value": singleDayQuota});
        merchant.push({"name": "contractNo", "value": imgurl});
        merchant = JSON.stringify(merchant)
        sessionStorage.setItem("merchant", merchant)
        $.modal.openTab("添加商户信息", "/manager/merchant/merchantInit");


    }
    function onBanner() {
        $(".bg").css("display","block")
        $(".license").css("display","block")
    }

    $("#img-change").click(function () {
        $("#file").click();
    })
    var imgURL;
    var files;
    var options = {
        imgSrc:""
    }
    var filechange=function(event){
        files = event.target.files, file;
        if (files && files.length > 0) {
            file = files[0];
            if(file.size > 1024 * 1024 * 2) {
                alert('图片大小不能超过 2MB!');
                return false;
            }
            var URL = window.URL || window.webkitURL;
            imgURL = URL.createObjectURL(file);
            var reader = new FileReader();
            reader.onload = function(e) {
                imgURL = e.target.result;
                if((imgURL).indexOf("image/")==-1){
                    $.modal.alertWarning("文件格式错误，请上传图片类型,如：JPG，PNG后缀的文件。");
                } else {
                    options.imgSrc = e.target.result
                    if(options.imgSrc.indexOf("data:image/x-icon")!=-1) {
                        options.imgSrc = options.imgSrc.replace("image/x-icon", "image/png")
                    }
                }
            }
            $("#img-change").attr("src",imgURL);
            reader.readAsDataURL(file);
        }
    };
    function getBlob() {
        var imageData = options.imgSrc;
        if(imageData!="") {
            if(imageData.indexOf("data:image/png;base64,")==0) {
                var b64 = imageData.replace('data:image/png;base64,', '');
            }else if(imageData.indexOf("data:image/jpeg;base64,")==0){
                var b64 = imageData.replace('data:image/jpeg;base64,', '');
            }else {
                var b64 = imageData.replace('data:image/jpg;base64,', '');
            }
            var binary = atob(b64);
            var array = [];
            for (var i = 0; i < binary.length; i++) {
                array.push(binary.charCodeAt(i));
            }
            return new Blob([new Uint8Array(array)], {type: 'image/png'});
        }
    }
    function submitImg() {
        var img = getBlob()
        if(img == undefined){
            $.modal.msgWarning("请选择图片")
            return
        }
        var formdata = new FormData();
        formdata.append("file", img);
        $.ajax({
            url: ctx + "common/upload",
            data: formdata,
            type: "post",
            processData: false,
            contentType: false,
            success: function(result) {
                $(".bg").css("display","none")
                $(".license").css("display","none")
                imgurl = result.url
            }
        })
    }
    function closeImgItem() {
        $(".bg").css("display","none")
        $(".license").css("display","none")
    }
</script>
</body>
</html>
