<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('发票详情')"/>
    <link th:href="@{/css/jquery.tagsinput-revisited.css}" rel="stylesheet"/>
</head>
<body class="white-bg">
<div class="form-content">

    <h4 class="form-header h4">开票信息：</h4>
    <form class="form-horizontal m" id="invoice">
        <div class="form-group">
            <label class="col-sm-3 control-label"><span style="color: red; ">*</span>企业名称：</label>
            <div class="col-sm-9">
                <input type="text" name="companyName" class="form-control" placeholder="请输入文本" readonly>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label"><span style="color: red; ">*</span>纳税人类型：</label>
            <div class="col-sm-9">
                <label class="radio-box"> <input type="radio" name="taxpayerType" readonly value="0" disabled/> 一般纳税人 </label>
                <label class="radio-box"> <input type="radio" name="taxpayerType" readonly value="1" disabled/> 小规模纳税人 </label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label"><span style="color: red; ">*</span>纳税人识别号：</label>
            <div class="col-sm-9">
                <input type="text" name="taxpayerIdentificationNumber" class="form-control" placeholder="请输入纳税人识别号" autocomplete="off" maxlength="30" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label"><span style="color: red; ">*</span>单位注册地址：</label>
            <div class="col-sm-9">
                <input type="text" name="companyAddress" class="form-control" placeholder="请输入单位注册地址" autocomplete="off" maxlength="50" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label"><span style="color: red; ">*</span>单位电话：</label>
            <div class="col-sm-9">
                <input type="text" name="invoiceMobile" class="form-control" placeholder="请输入单位电话" autocomplete="off" maxlength="11" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label"><span style="color: red; ">*</span>开户行账号：</label>
            <div class="col-sm-9">
                <input type="number" name="bankNumber" class="form-control" placeholder="请输入开户行账号" autocomplete="off" maxlength="30" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label"><span style="color: red; ">*</span>发票内容：</label>
            <div class="col-sm-9">
                <!--<input type="text" name="invoiceContent" class="form-control" id="invoiceContentList" placeholder="请输入发票内容" autocomplete="off" maxlength="30" required>-->
                <!--<input type="text" id="tagValue" name="invoiceContent" class="form-control" placeholder="请输入发票内容">-->
                <input id="invoiceContent" name="invoiceContent" type="text" value="" placeholder="请输入发票内容">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label"><span style="color: red; ">*</span>默认发票内容：</label>
            <div class="col-sm-9">
                <div class="input-group" style="width: 100%">
                    <select name="invoiceDefaultContent" id="invoiceDefaultContent" class="form-control m-b bankRemindAmount">
                        <option value="">请选择</option>
                        <!--<option value="服务费">服务费</option>-->
                    </select>
                </div>
            </div>
        </div>
    </form>
    <h4 class="form-header h4">邮寄地址：</h4>
    <form class="form-horizontal m" id="address">
        <div class="form-group">
            <label class="col-sm-3 control-label"><span style="color: red; ">*</span>详细地址：</label>
            <div class="col-sm-9">
                <input type="text" name="address" class="form-control" placeholder="请输入详细地址">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label"><span style="color: red; ">*</span>收件人姓名：</label>
            <div class="col-sm-9">
                <input type="text" name="addresseeName" class="form-control" placeholder="请输入收件人姓名">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label"><span style="color: red; ">*</span>联系电话：</label>
            <div class="col-sm-9">
                <input type="text" name="mobile" class="form-control" placeholder="请输入联系电话">
            </div>
        </div>
    </form>
</div>
<div class="row" style="margin: 20px auto; height: 90px;">
    <div class="col-sm-offset-6 col-sm-3">
        <!--<button type="button" class="btn btn-sm btn-danger" onclick="closeItem()"><i class="fa fa-reply-all"></i>关 闭</button>-->
        <!--<button type="button" class="btn btn-sm btn-success" onclick="submitItem()"><i class="fa fa-check"></i>保 存</button>-->
        <button type="button" class="btn btn-sm btn-danger" onclick="closeItem()"><i class="fa fa-reply-all"></i>上一步</button>
        <button type="button" class="btn btn-sm btn-success" onclick="submitItem()"><i class="fa fa-check "></i>下一步</button>
    </div>
</div>
<div th:include="include::footer"></div>
<script th:src="@{/js/jquery.tagsinput-revisited.js}"></script>
<script type="text/javascript">
    $('#invoiceContent').tagsInput();
    var tag = ''
    $("#invoiceContent_tag").blur(function (){
        tag = document.getElementById("invoiceContent_tagsinput").innerText

        tag = tag.split("\n")
        var html = ""
        tag.forEach(function (value) {
            html += "<option value='"+value+"'>"+value+"</option>"
        })
        $("#invoiceDefaultContent").append(html)
    })
    var cooperation = JSON.parse(sessionStorage.getItem("cooperation"))
    cooperation.forEach(function (item,index) {
        if(item.name == 'companyName'){
            $("input[name='companyName']").val(item.value)
        } else if (item.name == 'taxpayerType') {
            $("input[name='taxpayerType'][value="+item.value+"]").attr("checked",true);
        }
    })
    // $("input[name='companyName']").val()
    function submitItem() {
        var invoice = $("#invoice").serializeArray()
        var address = $("#address").serializeArray()
        var taxpayerIdentificationNumber = $("input[name='taxpayerIdentificationNumber']").val()
        var companyAddress = $("input[name='companyAddress']").val()
        var invoiceMobile = $("input[name='invoiceMobile']").val()
        var bankNumber = $("input[name='bankNumber']").val()
        var invoiceDefaultContent =  $("select[name='invoiceDefaultContent'] option:selected").val()
        var addressItem = $("input[name='address']").val()
        var addresseeName = $("input[name='addresseeName']").val()
        var mobile = $("input[name='mobile']").val()
        if (taxpayerIdentificationNumber == undefined || taxpayerIdentificationNumber == "") {
            $.modal.msgWarning("请输入纳税人识别号");
            return
        }
        if (companyAddress == undefined || companyAddress == "") {
            $.modal.msgWarning("请输入单位注册地址");
            return
        }
        if (invoiceMobile == undefined || invoiceMobile == "") {
            $.modal.msgWarning("请输入单位电话");
            return
        }
        if (bankNumber == undefined || bankNumber == "") {
            $.modal.msgWarning("请输入开户行账号");
            return
        }
        if (invoiceDefaultContent == undefined || invoiceDefaultContent == "") {
            $.modal.msgWarning("请选择默认发票内容");
            return
        }
        if (addressItem == undefined || addressItem == "") {
            $.modal.msgWarning("请输入详细地址");
            return
        }
        if (addresseeName == undefined || addresseeName == "") {
            $.modal.msgWarning("请输入收件人姓名");
            return
        }
        if (mobile == undefined || mobile == "") {
            $.modal.msgWarning("请输入联系电话");
            return
        }


        invoice = JSON.stringify(invoice)
        address = JSON.stringify(address)
        sessionStorage.setItem("invoice",invoice)
        sessionStorage.setItem("address",address)
        $.modal.openTab("添加商户信息", "/manager/merchant/accountConfigInit");
    }
</script>
</body>
</html>
