<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('商户退款')"/>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-settlementInfo-edit">
        <input name="taxSourceId" type="hidden" th:value="*{taxSourceCompanyId}">
        <div class="form-group">
            <label class="col-sm-3 control-label"><span style="color: red; ">*</span>提现金额：</label>
            <div class="col-sm-8">
                <input name="amount" class="form-control" type="text" th:value="*{usableAmount}" placeholder="请输入提现金额" autocomplete="off" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label"><span style="color: red; ">*</span>税源地：</label>
            <div class="col-sm-8">
                <input name="taxSourceCompanyName" class="form-control" th:value="*{taxSourceCompanyName}" type="text" required readonly>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label"><span style="color: red; ">*</span>商户编码：</label>
            <div class="col-sm-8">
                <input name="uid" class="form-control" type="text" th:value="*{merchantCode}" required readonly>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label"><span style="color: red; ">*</span>到账卡号：</label>
            <div class="col-sm-8">
                <input name="payeeBankCard" class="form-control" type="text" placeholder="请输入到账卡号" autocomplete="off" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label"><span style="color: red; ">*</span>银行名称：</label>
            <div class="col-sm-8">
                <input name="bankName" class="form-control" type="text" placeholder="请输入到账卡号所属银行名称" autocomplete="off" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label"><span style="color: red; ">*</span>支行编号：</label>
            <div class="col-sm-8">
                <input name="bankLineNo" autocomplete="off" placeholder="请输入到账卡号所属支行编号" class="form-control" type="text" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label"><span style="color: red; ">*</span>支行名称：</label>
            <div class="col-sm-8">
                <input name="bankBranch" autocomplete="off" placeholder="请输入到账卡号所属支行名称" class="form-control" type="text" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label"><span style="color: red; ">*</span>收款人姓名：</label>
            <div class="col-sm-8">
                <input name="payeeName" autocomplete="off" placeholder="请输入收款人姓名" class="form-control" type="text" required>
            </div>
        </div>
    </form>
</div>

<div th:include="include::footer"></div>
<script type="text/javascript">
    $("input[type='text']").attr("onkeyup",'this.value=this.value.replace(/\\s+/g,\'\')');
    var prefix = ctx + "business/settlementInfo";
    $("#form-settlementInfo-edit").validate({
        // rules: {
        //     accountName: {
        //         required: true,
        //         minlength: 2,
        //         maxlength: 20,
        //     },
        //     bankName: {
        //         required: true,
        //         minlength: 2,
        //         maxlength: 20,
        //     },
        //     accountNo: {
        //         required: true,
        //         minlength: 5,
        //         maxlength: 20
        //     },
        //     settBankcardNo:{
        //         minlength: 2,
        //         maxlength: 20
        //     }
        // },
        focusCleanup: true
    });
    function submitHandler() {
        if ($.validate.form()) {
            var amount= $("input[name='amount']").val()
            var bankBranch= $("input[name='bankBranch']").val()
            var bankLineNo= $("input[name='bankLineNo']").val()
            var bankName= $("input[name='bankName']").val()
            var payeeBankCard= $("input[name='payeeBankCard']").val()
            var payeeName= $("input[name='payeeName']").val()
            var taxSourceId= $("input[name='taxSourceId']").val()
            var uid= $("input[name='uid']").val()
            $.ajax({
                url: "/manager/systemReplenish/withdrawToCardMerchant?amount="+amount+"&bankBranch="+bankBranch+"&bankLineNo="+bankLineNo+"&bankName="+bankName+"&payeeBankCard="+payeeBankCard+"&payeeName="+payeeName+"&taxSourceId="+taxSourceId+"&uid="+uid,
                // data: params,
                type: "get",
                datatype:"json",
                contentType: 'application/json',
                success: function(result) {
                    if (typeof callback == "function") {
                        callback(result);
                    }
                    $.operate.successCallback(result);
                }
            })
        }
    }
</script>
</body>
</html>
