<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('商户信息列表')"/>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId" autocomplete="off">
                <div class="select-list">
                    <ul>
                        <!--<li>-->
                            <!--代征主体：<input value=""/>-->
                        <!--</li>-->
                        <li>
                            用户名称：<input type="text" name="merchantName"/>
                        </li>
                        <li>
                            用户手机号：<input type="text" name="contactsMobile"/>
                        </li>
                        <li>
                            所属销售：<input type="text" name="saleName"/>
                        </li>
                        <li class="select-time">
                            <label>创建时间： </label>
                            <input type="text" class="time-input" id="startTime" placeholder="开始时间"
                                   name="startDate"/>
                            <span>-</span>
                            <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="endDate"/>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.limitSearch()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
        
        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-success" onclick="$.operate.addTab()" shiro:hasPermission="manager:merchant:addSave">
                <i class="fa fa-plus"></i> 添加
            </a>
            <a class="btn btn-primary btn-edit disabled" onclick="$.operate.merchantInfoTab()"
               shiro:hasPermission="manager:merchant:updateInfo">
                <i class="fa fa-edit"></i> 修改
            </a>
            <a class="btn btn-danger btn-del btn-del disabled" onclick="$.operate.deleteMerchanrt()" shiro:hasPermission="manager:merchant:remove">
                <i class="fa fa-remove"></i> 删除
            </a>
            <a class="btn btn-warning" onclick="$.table.limitExport()"
               shiro:hasPermission="manager:merchant:exportMerchant">
                <i class="fa fa-download"></i> 导出
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>
<div th:include="include :: footer"></div>
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('manager:merchant:info')}]];
    var merchants = [[${@dict.getType('merchants_state')}]];
    var prefix = ctx + "manager/merchant";
    var Itssales = [[${@dict.getType('Its_sales')}]];
    layui.use('laydate',function () {
        var laydate = layui.laydate;
        var startDate = laydate.render({
            elem: '#startTime',
            type: 'date',
            format: 'yyyy-MM-dd',
            done: function(value, date){
                endDate.config.min ={
                    year:date.year,
                    month:date.month-1,
                    date: date.date,
                    hours: 0,
                    minutes: 0,
                    seconds : 0
                };
            }
        });
        var endDate = laydate.render({
            elem: '#endTime',
            type: 'date',
            format: 'yyyy-MM-dd',
            done: function(value,date){
                startDate.config.max={
                    year:date.year,
                    month:date.month-1,//注意是month-1，写在date上的话你后边的日期选择不了
                    date: date.date,
                    hours: 0,
                    minutes: 0,
                    seconds : 0
                }
            }
        });
    })
    $(function () {
        var options = {
            url: prefix + "/query",
            createUrl: prefix + "/baseInfoInit",
            updateUrl: prefix + "/info",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/exportMerchant",
            modalName: "商户信息",
            showExport: true,
            columns: [{
                checkbox: true
            },
                {
                    field: 'id',
                    title: '商户ID',
                }, {
                    field: 'merchantName',
                    title: '商户名称',
                }, {
                    field: 'email',
                    title: '商户邮箱',
                }, {
                    field: 'status',
                    title: '账户状态',
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(merchants, row.status);
                    }
                }, {
                    field: 'saleName',
                    title: '所属销售'
                },{
                    field: 'agentNumber',
                    title: '代理商编号'
                },{
                    field: 'agentName',
                    title: '代理商'
                },{
                    field: 'merchantCode',
                    title: '商户编号',
                }, {
                    field: 'contacts',
                    title: '联系人',
                }, {
                    field: 'contactsMobile',
                    title: '联系电话',
                }, {
                    field: 'taxSounrceCompanyName',
                    title: '所属税源地',
                }, {
                    field: 'createTime',
                    title: '创建时间',
                }, {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.merchantInfoTab(' + row.id + ')"><i class="fa fa-edit"></i>详情</a> ');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });
</script>
</body>
</html>