<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('账户列表信息')"/>
</head>
<body class="white-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 select-table table-striped" style="padding: 10px">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>
<div th:include="include::footer"></div>
<script th:inline="javascript">
    var prefix = ctx + "manager/account";
    var accountpay = [[${@dict.getType('account_pay_type')}]];
    var accountstate = [[${@dict.getType('account_state')}]];
    var id = sessionStorage.getItem("id")
    $(function () {
        var options = {
            url: prefix+ '/accountEntry',
            queryParams: getParams,
            modalName: "交易订单",
            showExport: false,
            showSearch: false,
            showRefresh: false,
            showColumns: false,
            showToggle: false,
            columns: [
                {
                    field: 'merchantName',
                    title: '商户名称'
                },
                {
                    field: 'merchantCode',
                    title: '商户编码'
                },
                {
                    field: 'amount',
                    title: '金额'
                },
                {
                    field: 'auditor',
                    title: '审核人'
                },
                {
                    field: 'orderSerialNum',
                    title: '流水号'
                },
                {
                    field: 'status',
                    title: '订单状态',
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(accountstate, row.status);
                    }
                },
                // {
                //     field: 'subject',
                //     title: '代征主体'
                // },
                {
                    field: 'type',
                    title: '交易类型',
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(accountpay, row.type);
                    }
                },
                {
                    field: 'auditTime',
                    title: '审核时间'
                },
                {
                    field: 'accountingTime',
                    title: '入账时间'
                }
            ]
        };
        $.table.init(options);
        function getParams(params) {
            var temp = {
                pageSize:       params.limit,
                pageNum:        params.offset / params.limit + 1,
                searchValue:    params.search,
                orderByColumn:  params.sort,
                endDate:'',
                merchantId: id,
                orderSerialNum: '',
                startDate: '',
                isAsc:          params.order
            };
            return temp;
        }
    });
</script>
<script type="text/javascript">
</script>
</body>
</html>
