<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('账户列表')"/>
    <style>
        .boxs{
            display: flex;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-around;
            background: #fff;
            padding: 30px 40px;
            box-sizing: border-box;
            border: 1px solid #ddd;
            border-radius: 6px;
            box-shadow: 1px 1px 3px rgba(0,0,0,.2);
            padding: 10px;
        }
        .line{
            width: 1px;
            height:50px;
            background: #ddd;
        }
    </style>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId" autocomplete="off">
                <div class="select-list">
                    <ul>
                        <li>
                            <label class="control-label">商户名称：</label>
                            <!--<select name="merchantName" class="" th:with="type=${@dict.getType('pay_channel')}"  data-live-search="true">-->
                                <!--<option value="">所有</option>-->
                                <!--<option th:each="dict : ${type}" th:text="${dict.dictLabel}"-->
                                        <!--th:value="${dict.dictValue}">-->
                                <!--</option>-->
                            <!--</select>-->
                            <input type="text" name="merchantName" id="merchantName" onkeyup="toast(this)">
                            <div id="showDiv1" style="display:none; position:absolute;z-index:1000;left:84px;background:white;top:38px; width:200px;font-size: 14px;color:black;border:1px solid #ccc;">
                                <%//这里用于显示动态提示的数据 %>
                            </div>
                        </li>
                        <li style="display: none">
                            <label class="control-label">商户ID：</label>
                            <input type="text" name="merchantId" id="merchantId">
                        </li>
                        <li class="select-time">
                            <label>创建时间： </label>
                            <input type="text" class="time-input" id="startTime" placeholder="开始时间"
                                   name="startDate"/>
                            <span>-</span>
                            <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="endDate"/>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.limitSearch()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
        <div class="col-sm-12" id="rebates" style="padding: 0px;margin-top: 10px;display: none">
            <div class="boxs">
                <div class="boxcon">
                    <p class='title'>返点结余（总计）</p>
                    <p class='boxcon' id="usableAccumulatedReturnAmount"></p>
                </div>
                <i class="line"></i>
                <div class="boxcon">
                    <p class='title'>返点累计</p>
                    <p class='boxcon' id="accumulatedReturnAmount"></p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table" class="usableAccumulatedReturnAmount" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>
<div th:include="include :: footer"></div>
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('business:batchPaymentRecord:edit')}]];
    var removeFlag = [[${@permission.hasPermi('business:batchPaymentRecord:remove')}]];
    var prefix = ctx + "manager/account";
    layui.use('laydate',function () {
        var laydate = layui.laydate;
        var startDate = laydate.render({
            elem: '#startTime',
            type: 'date',
            format: 'yyyy-MM-dd',
            done: function(value, date){
                endDate.config.min ={
                    year:date.year,
                    month:date.month-1,
                    date: date.date,
                    hours: 0,
                    minutes: 0,
                    seconds : 0
                };
            }
        });
        var endDate = laydate.render({
            elem: '#endTime',
            type: 'date',
            format: 'yyyy-MM-dd',
            done: function(value,date){
                startDate.config.max={
                    year:date.year,
                    month:date.month-1,//注意是month-1，写在date上的话你后边的日期选择不了
                    date: date.date,
                    hours: 0,
                    minutes: 0,
                    seconds : 0
                }
            }
        });
    })
    $(function () {
        var options = {
            url: prefix + "/deductionFlow",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            modalName: "抵扣账户",
            showExport: true,
            columns: [{
                checkbox: true
            }, {
                field: 'merchantName',
                title: '商户名称',
                }, {
                field: 'paymentAmount',
                title: '入账金额',
                }, {
                field: 'orderSerialNum',
                title: '抵扣流水号',
                }, {
                field: 'inAccountTime',
                title: '入账时间',
                // },
                // {
                //     title: '操作',
                //     align: 'center',
                //     formatter: function (value, row, index) {
                //         var actions = [];
                //         actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.deductionDetailTab(' + row.id + ')"><i class="fa fa-edit"></i>详情</a> ');
                //         return actions.join('');
                //     }
                }]
        };
        $.table.init(options);
    });
    function toast(obj) {
        //通过onkeyup方法实时获取用户输入的内容
        var value = document.getElementById("merchantName").value
        $.get("/manager/merchant/fuzzyMatching?merchantName="+value,function (data) {
            var content = ""
            if(data.data.length>0){
                for(var i=0;i<data.data.length;i++){
                    content+="<div style='padding:5px;cursor:pointer' onclick='clickFn(this)' onmouseover='overFn(this)' onmouseout='outFn(this)' id='"+data.data[i].merchantId+"'>"+data.data[i].merchantName+"</div>";
                }
                $("#showDiv1").html(content);
                $("#showDiv1").css("display","block");
            }
            if(obj.value.length==0){//判断输入框是否为空，如果为空则隐藏提示区域
                $("#showDiv1").css("display","none");
            }
        })
    }
    function overFn(obj){//鼠标在上面
        $(obj).css("background","#F0F8FF");
    }
    function outFn(obj){//鼠标离开
        $(obj).css("background","white");
    }
    function clickFn(obj){//鼠标点击
        $("#merchantName").val($(obj).html());
        $("#merchantId").val($(obj).attr("id"))
        $("#showDiv1").css("display","none");
    }
</script>
</body>
</html>