<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('新增工单')" />
</head>
<body class="white-bg">
<div class="form-content">
	<div class="row">
		<form class="form-horizontal m" id="form-user-add">
			<h4 class="form-header h4">基础信息：</h4>
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label class="col-sm-3 control-label"><span style="color: red; ">*</span>入网申请编号：</label>
						<div class="col-sm-6">
							<input name="applyNumber" class="form-control" autocomplete="off" type="text" placeholder="请输入入网申请编号">
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label class="col-sm-3 control-label"><span style="color: red; ">*</span>姓名：</label>
						<div class="col-sm-6">
							<input type="text" name="applyName" class="form-control" autocomplete="off" placeholder="请输入姓名" readonly>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label class="col-sm-3 control-label"><span style="color: red; ">*</span>身份证号：</label>
						<div class="col-sm-6">
							<input type="text" name="idCardNumber" class="form-control" autocomplete="off" placeholder="请输入身份证号" readonly>
						</div>
					</div>
				</div>
			</div>

			<h4 class="form-header h4">工单信息：</h4>
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label class="col-sm-3 control-label"><span style="color: red; ">*</span>标题：</label>
						<div class="col-sm-9">
							<input type="text" name="title" class="form-control" autocomplete="off" placeholder="请输入标题">
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label class="col-sm-3 control-label"><span style="color: red; ">*</span>内容：</label>
						<div class="col-sm-9">
							<textarea name="content" autocomplete="off" class="form-control" rows="8" placeholder="请输入内容" maxlength="200"></textarea>
						</div>
					</div>
				</div>
			</div>

		</form>
	</div>

	<div class="row" style="margin: 20px auto; height: 90px;line-height: 90px;">
		<div class="col-sm-offset-5 col-sm-3">
			<button type="button" class="btn btn-sm btn-danger" onclick="closeItem()"><i class="fa fa-reply-all"></i>关 闭</button>
			<button type="button" class="btn btn-sm btn-success" onclick="submitItem()"><i class="fa fa-check"></i>保 存</button>
		</div>
	</div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		// var prefix = ctx + "business/workOrder"
        $("input[type='text']").attr("onkeyup",'this.value=this.value.replace(/\\s+/g,\'\')');
		// 输完入网申请编号获得姓名身份证号
		$("input[name='applyNumber']").blur(function () {
			$.ajax({
				url: "/business/personalMerchant/queryNameAndIdByApplyNum?applyNumber="+$("input[name='applyNumber']").val(),
				// data: data,
				type: "get",
				// datatype:"json",
				contentType: 'application/json',
				success: function(result) {
					if(result.code === 0){
						$("input[name='applyName']").val(result.data.applyName)
						$("input[name='idCardNumber']").val(result.data.idCardNumber)
					}else {
						$.modal.msgError(result.msg)
					}
				}
			})
		})

		function submitItem() {
			if($("input[name='title']").val().length > 40){
				$.modal.msgWarning("标题不得超过四十字")
				$("input[name='title']").val("")
				return
			}
			var data = {
				applyNumber: $("input[name='applyNumber']").val(),
				certificateNo: $("input[name='idCardNumber']").val(),
				content:$("textarea[name='content']").val(),
				name:$("input[name='applyName']").val(),
				title:$("input[name='title']").val()
			}
			data = JSON.stringify(data)
			$.ajax({
				url: "/business/personalMerchant/publishWorkOrder",
				data: data,
				type: "post",
				datatype:"json",
				contentType: 'application/json',
				success: function(result) {
					if(result.code === 0){
						$.modal.msgSuccess(result.msg)
					}else {
						$.modal.msgError(result.msg)
					}
					$.operate.successTabCallback(result);
				}
			})
	    }
	</script>
</body>
</html>
