<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('支付宝提现记录')" />
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <li>
                            姓名：<input type="text" name="memberName"/>
                        </li>
                        <li>
                            灵工号：<input type="text" name="customerNo"/>
                        </li>
                        <li>
                            手机号：<input type="text" name="mobile"/>
                        </li>
                        <li>
                            订单流水号：<input type="text" name="withdrawSerialNum"/>
                        </li>
                        <li class="select-time">
                            <label>创建时间： </label>
                            <input type="text" class="time-input" id="startTime" placeholder="开始时间"
                                   name="startDate" autocomplete="off"/>
                            <span>-</span>
                            <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="endDate" autocomplete="off"/>
                        </li>
                        <li>
                            <label>提现状态：</label>
                            <select name="withdrawStatus" th:with="type=${@dict.getType('withdraw_status')}">
                                <option value="">所有</option>
                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                                        th:value="${dict.dictValue}">
                                </option>
                            </select>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.limitSearch()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
            <!--<a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="business:customerAlipayInfo:add">-->
            <!--<i class="fa fa-plus"></i> 添加-->
            <!--</a>-->
            <!--<a class="btn btn-primary btn-edit disabled" onclick="$.operate.edit()" shiro:hasPermission="business:customerAlipayInfo:edit">-->
            <!--<i class="fa fa-edit"></i> 修改-->
            <!--</a>-->
            <!--<a class="btn btn-danger btn-del btn-del disabled" onclick="$.operate.removeAll()" shiro:hasPermission="business:customerAlipayInfo:remove">-->
            <!--<i class="fa fa-remove"></i> 删除-->
            <!--</a>-->
            <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="business:customerWithdraw:customerWithdrawBankInfoExport">
                <i class="fa fa-download"></i> 导出
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>
<div th:include="include :: footer"></div>
<script th:inline="javascript">
    var prefix = ctx + "business/customerWithdraw";
    var statusData = [[${@dict.getType('withdraw_status')}]];
    layui.use('laydate',function () {
        var laydate = layui.laydate;
        var startDate = laydate.render({
            elem: '#startTime',
            type: 'date',
            format: 'yyyy-MM-dd',
            done: function(value, date){
                endDate.config.min ={
                    year:date.year,
                    month:date.month-1,
                    date: date.date,
                    hours: 0,
                    minutes: 0,
                    seconds : 0
                };
            }
        });
        var endDate = laydate.render({
            elem: '#endTime',
            type: 'date',
            format: 'yyyy-MM-dd',
            done: function(value,date){
                startDate.config.max={
                    year:date.year,
                    month:date.month-1,//注意是month-1，写在date上的话你后边的日期选择不了
                    date: date.date,
                    hours: 0,
                    minutes: 0,
                    seconds : 0
                }
            }
        });
    })
    $(function() {
        var options = {
            url: prefix + "/listCustomerWithdrawAlipayInfo",
            // createUrl: prefix + "/add",
            // updateUrl: prefix + "/edit/{id}",
            // removeUrl: prefix + "/remove",
            exportUrl: prefix + "/customerWithdrawAlipayInfoExport",
            modalName: "支付宝",
            showExport: true,
            columns: [{
                checkbox: true
            },
                {
                    field : 'id',
                    title : 'ID',
                    visible: false
                },
                {
                    field : 'memberName',
                    title : '姓名',
                },
                {
                    field : 'customerNo',
                    title : '灵工号',
                },
                {
                    field : 'mobile',
                    title : '手机号',
                },
                {
                    field : 'amount',
                    title : '支付宝提现金额（元）',
                },
                {
                    field : 'withdrawAccount',
                    title : '提现支付宝账号',
                },
                {
                    field : 'withdrawSerialNum',
                    title : '订单流水号',
                },
                {
                    field : 'withdrawStatus',
                    title : '提现状态',
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(statusData, row.withdrawStatus);
                    }
                },
                {
                    field : 'createTime',
                    title : '提现时间',
                },
            ]
        };
        $.table.init(options);
    });
</script>
</body>
</html>