<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('邮寄地址')"/>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId" autocomplete="off">
                <div class="select-list">
                    <ul>
                        <li>
                            商户名称：<input type="text" name="merchantName"/>
                        </li>
                        <li>
                            所属销售：<input type="text" name="saleName"/>
                        </li>
                        <li>
                            手机号：<input type="text" name="mobile"/>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.limitSearch()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>
<div th:include="include :: footer"></div>
<script th:inline="javascript">
    var Itssales = [[${@dict.getType('Its_sales')}]];

    $(function () {
        var options = {
            url: "/manager/invoice/queryAddress",
            modalName: "邮寄地址",
            showExport: true,
            columns: [
                {
                    field: 'id',
                    title: '邮寄地址ID',
                    visible: false
                }, {
                    field: 'merchantId',
                    title: '商户id',
                    visible: false
                }, {
                    field: 'merchantName',
                    title: '商户名称',
                }, {
                    field: 'addresseeName',
                    title: '收件人姓名',
                }, {
                    field: 'saleName',
                    title: '所属销售'
                },{
                    field: 'mobile',
                    title: '收件联系电话',
                }, {
                    field: 'address',
                    title: '详细地址',
                }, {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs" href="javascript:void(0)" onclick="$.operate.addressInfoTab(' + row.merchantId + ')"><i class="fa fa-edit"></i>修改</a> ');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });
</script>
</body>
</html>