<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('错误重开')"/>
    <style>
        header.title{
            background: rgb(241, 243, 249);
            border: 1px solid #3075FC;
            border-bottom: none;
        }
        header.title>div{
            padding: 15px;
            display: inline-block;
            color: #595B64;
        }
        .table{
            color: #595B64;
            margin: 0px;
        }
        .table > table{
            width: 100%;
            border-collapse: collapse;
        }
        .table > table td{
            text-align: center;
            padding: 10px;
        }
        table, tr, td {
            border: 1px solid #3075FC;
        }
        td p{
            padding: 4px;
            margin-top: 6px;
        }
    </style>
</head>
<body class="white-bg">
<div class="container-div">
    <div id="ctn" :style="'min-'+Height">
        <header class="title">
            <div>发票代码:</div>
            <div>发票号码:</div>
            <div>发票类型:</div>
        </header>
        <div class="table">
            <table>
                <tr>
                    <td class="col-sm-3" id="invoiceSerialName">货物或应税劳务、服务名称</td>
                    <td class="col-sm-1">规格型号</td>
                    <td class="col-sm-1">单位
                    <p>次</p></td>
                    <td class="col-sm-1">数量
                    <p>1</p></td>
                    <td class="col-sm-1" id="unitPrice">单价</td>
                    <td class="col-sm-1">金额</td>
                    <td class="col-sm-1" id="taxRate">税率</td>
                    <td class="col-sm-2" id="taxAmount">税额</td>
                </tr>
            </table>
        </div>
        <div class="col-sm-12" style="padding: 0px;border: 1px solid #3075FC;border-top: none;line-height: 40px;">
            <div class="left col-sm-3">合计</div>
            <div class="right col-sm-9 invoiceAmount" style="padding: 0px;border-left:1px solid #3075FC;display: inline-block;">1000</div>
        </div>
        <div class="col-sm-12" style="padding: 0px;border: 1px solid #3075FC;border-top: none;line-height: 40px;">
            <div class="remarks_left col-sm-3">
                备注
            </div>
            <div class="remarks_right col-sm-9" style="padding: 0px;border-left:1px solid #3075FC;display: inline-block;">
                <input type="textarea" name="remarks" style="width: 100%;border:none">
            </div>
        </div>
        <div class="col-sm-12" style="padding: 0px;border: 1px solid #3075FC;border-top: none;line-height: 40px;">
            <div class="remarks_left col-sm-6">
                <span style="color:red">*</span>
                <button type="button" class="btn btn-sm btn-success" onclick="refund()">下载退票说明</button>
            </div>
            <div class="remarks_right col-sm-6" style="border-left:1px solid #3075FC;display: inline-block;">
                <span style="color:red">*</span>
                <button type="button" class="btn btn-sm btn-success" onclick="infoma()">下载红冲信息表</button>
            </div>
        </div>
    </div>
    <div class="row" style="margin: 20px auto; height: 90px;clear: both;line-height: 90px;">
        <div class="col-sm-offset-6 col-sm-3">
            <button type="button" class="btn btn-sm btn-danger" onclick="closeItem()"><i class="fa fa-reply-all"></i>关 闭</button>
        </div>
    </div>
    <div th:include="include::footer"></div>
</div>
<script th:inline="javascript">
    var id = sessionStorage.getItem("id")
    var download = function (name, type, url) {
        let link = document.createElement('a') // 创建a标签
        link.style.display = 'none' // 隐藏a
        link.href = url // 把blob中提出的链接赋值给a标签的href属性
        link.setAttribute('download', name.type) // 给a标签设置download属性 文件名 + 后缀

        document.body.appendChild(link) // 把a标签挂载到DOM树
        link.click() // 模拟触发a标签的点击效果

        URL.revokeObjectURL(link.href) // 释放URL 对象
        document.body.removeChild(link) // 移除a标签
    }
    var refunddoc = ''
    var infomajpg = ''
    $.get("/manager/invoice/restartCheckView?invoiceId="+id,function (data) {
        var invoiceSerialName = ''
        var invoiceAmount = ''
        var unitPrice = ''
        var taxAmount = ''
        var taxRate = ''
        var amount = 0
        data.data.invoiceDetailDTO.serviceAmounts.forEach(function (item,index) {
            if (item.invoiceSerialName==null){
                item.invoiceSerialName = '*现代服务*技术服务费'
            }
            invoiceSerialName+='<select name="paymentChannel" id="paymentChannel" placeholder="请选择货物或应税劳务、服务名称" style="width:90%;padding: 4px;margin-top: 6px" readonly><option>'+item.invoiceSerialName+'</option></select>'
            unitPrice+='<p class="unitPrice">'+item.unitPrice+'</p>'
            taxAmount+='<p class="unitPrice">'+item.taxAmount+'</p>'
            taxRate+='<p class="unitPrice">'+item.taxRate+'</p>'
            invoiceAmount+='<input type="text" name="invoiceAmount" style="width: 90%;" placeholder="请输入含税金额" value="'+item.invoiceAmount+'" readonly>'
            amount += parseInt(item.invoiceAmount)
        })
        $(".invoiceAmount").text(amount)
        $("#invoiceSerialName").append(invoiceSerialName)
        $("#taxAmount").append(taxAmount)
        $("#taxRate").append(taxRate)
        $("#unitPrice").append(unitPrice)
        $("input[name='remarks']").val(data.data.invoiceDetailDTO.remarks)
        refunddoc = data.data.sealExplain
        infomajpg = data.data.redInvoiceInfo
    })
    function infoma() {
        var url = infomajpg;                            // 获取图片地址
        var a = document.createElement('a');          // 创建一个a节点插入的document
        var event = new MouseEvent('click')           // 模拟鼠标click点击事件
        a.download = 'beautifulGirl'                  // 设置a节点的download属性值
        a.href = url;                                 // 将图片的src赋值给a节点的href
        a.dispatchEvent(event)
        // download('红冲信息表', 'jpg', infomajpg)
    }
    function refund() {
        download('退票说明', 'doc', refunddoc)
    }
</script>
</body>
</html>