<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('账户列表信息')"/>
    <style>
        .upload{
            background: #fff;
            margin: 50px auto;
        }
        #img-change{
            border: 1px solid #eee;
            z-index: 10000;
            position: relative;
        }
    </style>
</head>
<body class="white-bg">
<div class="container-div" style="text-align: center">
    <!--<img src="" alt="" id="img" style="display: none;margin: 0 auto;height: 450px">-->
    <div class="upload">
        <div style="width: 450px;margin: 0 auto;">
            <input type="file" id="file" onchange="filechange(event)" style="display: none" accept="image/*"/>
            <img width="450px" height="450px" id="img-change">
            <i class="fa fa fa-plus banner" style="font-size: 112px; color: #e5e6e7;position: absolute;left: 50%;margin-left:-40px;top: 50%;margin-top: -130px;z-index:1;"></i>
        </div>
        <p style="margin: 10px;font-size: 14px;display: none" id="prompt">点击图片更换发票扫描件</p>
        <form id="form-user-add" class="form-horizontal" style="width: 60%;margin: 10px auto;">
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="col-sm-4 control-label"><span style="color: red; ">*</span>发票申请编号：</label>
                        <div class="col-sm-8">
                            <input name="invoiceSerialNum" autocomplete="off" placeholder="请输入发票申请编号" class="form-control" type="text" readonly>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="col-sm-4 control-label"><span style="color: red; ">*</span>发票编号：</label>
                        <div class="col-sm-8">
                            <input name="invoiceNum" autocomplete="off" placeholder="请输入发票编号" class="form-control" type="text" maxlength="30" required>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="col-sm-4 control-label"><span style="color: red; ">*</span>发票代码：</label>
                        <div class="col-sm-8">
                            <input name="invoiceCode" autocomplete="off" placeholder="请输入发票代码" class="form-control" type="text" maxlength="30" required>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="col-sm-4 control-label"><span style="color: red; ">*</span>开票时间：</label>
                        <div class="col-sm-8">
                            <input name="date" autocomplete="off" placeholder="请输入开票时间" class="form-control time-input" type="date" required>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div th:include="include::footer"></div>
<th:block th:include="include :: cropbox-js" />
<script th:inline="javascript">
    var invoiceId
    var invoiceDetailId
    var information = JSON.parse(sessionStorage.getItem("information"))
    var Invoicere = JSON.parse(sessionStorage.getItem("Invoicere"))
    var obj = JSON.parse(sessionStorage.getItem("obj"))
    if(information != null){
        $("input[name='invoiceSerialNum']").val(information.invoiceSerialNum)
        if(information.invoiceImg!=''&&information.invoiceImg!=null) {
            $("#img-change").attr("src",information.invoiceImg)
            $("#prompt").css("display","block")
            invoiceDetailId = information.detailId
        }else{
            invoiceDetailId = information.invoiceCheckDetailDTO.serviceAmounts[0].invoiceDetailId
        }
        $("input[name='invoiceNum']").val(information.invoiceNum)
        $("input[name='invoiceCode']").val(information.invoiceCode)
        $("input[name='date']").val(information.invoiceTime)
        invoiceId = information.id
    }else if(obj!=null&&Invoicere!=null){
        $("input[name='invoiceSerialNum']").val(Invoicere.invoiceSerialNum)
        invoiceId = obj.id
        invoiceDetailId = obj.serviceAmounts[0].invoiceDetailId
    }
    $("#img-change").click(function () {
        $("#file").click();
    })
    var imgURL;
    var files;
    var options = {
        imgSrc:""
    }
    var filechange=function(event){
        files = event.target.files, file;
        if (files && files.length > 0) {
            file = files[0];
            if(file.size > 1024 * 1024 * 2) {
                alert('图片大小不能超过 2MB!');
                return false;
            }
            var URL = window.URL || window.webkitURL;
            imgURL = URL.createObjectURL(file);
            var reader = new FileReader();
            reader.onload = function(e) {
                imgURL = e.target.result;
                if((imgURL).indexOf("image/")==-1){
                    $.modal.alertWarning("文件格式错误，请上传图片类型,如：JPG，PNG后缀的文件。");
                } else {
                    options.imgSrc = e.target.result
                    if(options.imgSrc.indexOf("data:image/x-icon")!=-1) {
                        options.imgSrc = options.imgSrc.replace("image/x-icon", "image/png")
                    }
                }
            }
            $("#img-change").attr("src",imgURL);
            $(".banner").css("display","none")
            reader.readAsDataURL(file);
        }
    };
    function getBlob()
    {
        var imageData = options.imgSrc;
        if(imageData!="") {
            if(imageData.indexOf("data:image/png;base64,")==0) {
                var b64 = imageData.replace('data:image/png;base64,', '');
            }else if(imageData.indexOf("data:image/jpeg;base64,")==0){
                var b64 = imageData.replace('data:image/jpeg;base64,', '');
            }else {
                var b64 = imageData.replace('data:image/jpg;base64,', '');
            }
            var binary = atob(b64);
            var array = [];
            for (var i = 0; i < binary.length; i++) {
                array.push(binary.charCodeAt(i));
            }
            return new Blob([new Uint8Array(array)], {type: 'image/png'});
        }
    }
    function submitHandler() {
        var img = getBlob()
        if(img == undefined&&$("#img-change").attr("src")==undefined){
            $.modal.msgWarning("请选择图片")
            return
        }else if(img != undefined){
            var formdata = new FormData();
            var invoiceNum = $("input[name='invoiceNum']").val()
            var invoiceCode = $("input[name='invoiceCode']").val()
            var invoiceTime = $("input[name='date']").val()
            if ($.validate.form()) {
                formdata.append("file", img);
                $.ajax({
                    url: ctx + "common/upload",
                    data: formdata,
                    type: "post",
                    processData: false,
                    contentType: false,
                    success: function (result) {
                        var data = {
                            invoiceDetailId: invoiceDetailId,
                            invoiceCode: invoiceCode,
                            invoiceNum: invoiceNum,
                            invoiceTime: invoiceTime,
                            invoiceImg: result.url
                        }
                        data = JSON.stringify(data)
                        if (result.msg == '操作成功') {
                            $.ajax({
                                url: '/manager/invoice/updateApplyInfo',
                                type: 'post',
                                contentType:'application/json',
                                data: data,
                                error : function(request) {
                                    $.modal.alertError("系统错误");
                                },
                                success : function(data) {
                                    sessionStorage.removeItem("information")
                                    sessionStorage.setItem("msg",data.msg)
                                    $.operate.successCallback(data);
                                }
                            })
                        }
                    }
                })
            }
        }else{
            var invoiceNum = $("input[name='invoiceNum']").val()
            var invoiceCode = $("input[name='invoiceCode']").val()
            var invoiceTime = $("input[name='date']").val()
            var data = {
                invoiceDetailId: invoiceDetailId,
                invoiceCode: invoiceCode,
                invoiceNum: invoiceNum,
                invoiceTime: invoiceTime,
                invoiceImg: $("#img-change").attr("src")
            }
            data = JSON.stringify(data)
            $.ajax({
                url: '/manager/invoice/updateApplyInfo',
                type: 'post',
                data: data,
                contentType: 'application/json',
                error : function(request) {
                    $.modal.alertError("系统错误");
                },
                success : function(data) {
                    sessionStorage.removeItem("information")
                    sessionStorage.setItem("msg",data.msg)
                    $.operate.successCallback(data);
                }
            })
        }

    }
</script>
</body>
</html>
