<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('发票详情')"/>
    <link th:href="@{/css/jquery.tagsinput-revisited.css}" rel="stylesheet"/>
    <style>
        div.form-group span:not(.tag){
            font-size: 12px;
            color: red;
            display: inline-block;
            height: 34px;
            line-height: 34px;
        }
    </style>
</head>
<body class="white-bg">
<div class="form-content">

    <h4 class="form-header h4">开票信息：</h4>
    <form class="form-horizontal m" th:object="${info}" id="form-invoiceInfo-edit">
        <input type="hidden" th:value="*{invoiceInfo.id}" id="id">
        <div class="form-group">
            <label class="col-sm-3 control-label"><span style="color: red; ">*</span>企业名称：</label>
            <div class="col-sm-5">
                <input type="text" name="companyName" th:value="*{invoiceInfo.companyName}" class="form-control" placeholder="请输入企业名称" required>
            </div>
            <span class="companyName"></span>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label"><span style="color: red; ">*</span>纳税人类型：</label>
            <div class="col-sm-5">
                <label class="radio-box"> <input type="radio" th:field="*{invoiceInfo.taxpayerType}" name="taxpayerType" value="0" /> 一般纳税人 </label>
                <label class="radio-box"> <input type="radio" th:field="*{invoiceInfo.taxpayerType}" name="taxpayerType" value="1" /> 小规模纳税人 </label>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label"><span style="color: red; ">*</span>纳税人识别号：</label>
            <div class="col-sm-5">
                <input type="text" name="taxpayerIdentificationNumber" placeholder="请输入纳税人识别号" th:value="*{invoiceInfo.taxpayerIdentificationNumber}" class="form-control"  required>
            </div>
            <span class="taxpayerIdentificationNumber"></span>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label"><span style="color: red; ">*</span>单位注册地址：</label>
            <div class="col-sm-5">
                <input type="text" name="companyAddress" th:value="*{invoiceInfo.companyAddress}" class="form-control" placeholder="请输入单位注册地址" required>
            </div>
            <span class="companyAddress"></span>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label"><span style="color: red; ">*</span>单位注册电话：</label>
            <div class="col-sm-5">
                <input type="text" name="invoiceMobile" th:value="*{invoiceInfo.invoiceMobile}" class="form-control" placeholder="请输入单位注册电话" required>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label"><span style="color: red; ">*</span>开户行：</label>
            <div class="col-sm-5">
                <input type="text" name="bankName" th:value="*{invoiceInfo.bankName}" class="form-control" placeholder="请输入开户行" required>
            </div>
            <span class="bankName"></span>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label"><span style="color: red; ">*</span>银行账号：</label>
            <div class="col-sm-5">
                <input type="text" name="bankNumber" th:value="*{invoiceInfo.bankNumber}" class="form-control" placeholder="请输入银行账号" required>
            </div>
            <span class="bankNumber"></span>
        </div>
    </form>
    <!--发票信息开票科目-->
    <form class="form-horizontal" id="form6" data-toggle="validator" role="form" style="margin-top: 0">
        <div class="form-group" id="invoiceSubject">
            <label class="col-sm-3 control-label"><span style="color: red; ">*</span>开票科目：</label>
        </div>
    </form>
</div>
<div class="row" style="margin: 20px auto; height: 90px;">
    <div class="col-sm-offset-5 col-sm-3">
        <button type="button" class="btn btn-sm btn-danger" onclick="closeItem()"><i class="fa fa-reply-all"></i>关 闭</button>
        <button type="button" class="btn btn-sm btn-success" onclick="submitItem()"><i class="fa fa-check"></i>保存</button>
    </div>
</div>
<div th:include="include::footer"></div>
<script th:src="@{/js/jquery.tagsinput-revisited.js}"></script>
<script type="text/javascript">
    $("input[type='text']").attr("onkeyup",'this.value=this.value.replace(/\\s+/g,\'\')');

    var information = sessionStorage.getItem("information")
    information = JSON.parse(information)
    //根据商户id获取开票科目
    var merchantId = information.id
    // 校验
    $("input[name='companyName']").blur(function () {
        if($(this).val() == ""){$(".companyName").text("企业名称不能为空")}
        else if ($(this).val().length < 2){
            $(".companyName").text("企业名称至少两个字")
            $(this)[0].value = ''
        }
        else if ($(this).val().length > 50){
            $(".companyName").text("企业名称不得超过50位")
            $(this)[0].value = ''
        }
        else {
            $("#companyName").val($(this).val())
            var data = JSON.stringify({companyName:$(this).val()})
            $.ajax({
                url:prefix+ "/checkCompanyName",
                data: data,
                type: "post",
                datatype:"json",
                contentType: 'application/json',
                success: function(result) {
                    if(result.code != 0){$(".companyName").text(result.msg);$("input[name='companyName']")[0].value = ''}  // 重复企业名称不可填
                    else {$(".companyName").text("")}
                }
            })
        }
    })
    $("input[name='companyAddress']").blur(function () {
        if($(this).val() == ""){$(".companyAddress").text("单位注册地址不能为空")}
        else if ($(this).val().length > 50){
            $(".companyAddress").text("单位注册地址不得超过50位")
            $(this)[0].value = ''
        }
        else {$(".companyAddress").text("")}
    })
    $("input[name='taxpayerIdentificationNumber']").blur(function () {
        if($(this).val() == ""){$(".taxpayerIdentificationNumber").text("纳税人识别号不能为空")}
        else if ($(this).val().length > 50){
            $(".taxpayerIdentificationNumber").text("纳税人识别号不得超过50位")
            $(this)[0].value = ''
        }
        else {$(".taxpayerIdentificationNumber").text("")}
    })
    $("input[name='bankName']").blur(function () {
        if($(this).val() == ""){$(".bankName").text("开户行不能为空")}
        else if ($(this).val().length > 50){
            $(".bankName").text("开户行不得超过50位")
            $(this)[0].value = ''
        }
        else {$(".bankName").text("")}
    })
    $("input[name='bankNumber']").blur(function () {
        if($(this).val() == ""){$(".bankNumber").text("银行账号不能为空")}
        else if ($(this).val().length > 50){
            $(".bankNumber").text("银行账号不得超过50位")
            $(this)[0].value = ''
        }
        else {$(".bankNumber").text("")}
    })
    $.post("/manager/invoice/selectInvoiceContentInfoByMerchanId",{merchantId:merchantId},function (data) {
        if (data.code === 0) {
            if (data.total === 0) {
                autoAdd()
            } else {
                for (var i = 0;i<data.total;i++){
                    var defaultId = data.rows[i].invoiceSubjectId
                    autoAdd(defaultId)
                }
            }
        }
    })
    function autoAdd(id) {
        var addLength = parseInt($("#invoiceSubject div.col-sm-5").length)+4000;
        if (addLength === 4000) {
            var html = '<div class="col-sm-5" id="' + addLength + '" style="display: flex;justify-content: left;margin-top: 6px;">' +
                '<select class="form-control select2-multiple" name="invoiceSubject' + addLength + '"></select><a class="btn btn-success" style="height: 34px" onclick="addDiv()"><i class="fa fa fa-plus"></i></a><div style="width:120px;text-align: center;color: #000"><a style="line-height: 50px;color: #56AE85 ">默认开票内容</a></div>' +
                '</div>'
            $("#invoiceSubject").append(html)
        } else {
            var html = '<div class="col-sm-5 col-sm-offset-3" id="' + addLength + '" style="display: flex;justify-content: left;margin-top: 6px;">' +
                '<select class="form-control select2-multiple" name="invoiceSubject' + addLength + '"></select><a class="btn btn-success" onclick="addDiv()"><i class="fa fa fa-plus"></i></a><a class="btn btn-danger" onclick="deleteDiv(' + addLength + ')"><i class="fa fa-remove"></i></a>' +
                '</div>'
            $("#invoiceSubject").append(html)
        }
        $.post("/manager/invoice/selectInvoiceContent",{merchantId:merchantId},function (data) {
            var opl = $("#selectInvoice option")
            opl.remove()
            if (data.code ===0){
                var html = '<option value="">请选择</option>'
                for (var i = 0;i<data.rows.length;i++){
                    if (data.rows[i].invoiceSubjectId == id) {
                        html += '<option value="' + data.rows[i].invoiceSubjectId + '" selected="selected">' + data.rows[i].content + '</option>'
                    } else {
                        html += '<option value="' + data.rows[i].invoiceSubjectId + '">' + data.rows[i].content + '</option>'
                    }
                }
                $("select[name='invoiceSubject" + addLength + "']").append(html)
            }
        })
    }
    // $("#form-invoiceInfo-edit").validate({
    //     onkeyup: false,
    //     rules:{
    //         // companyName:{
    //         //     minlength: 2,
    //         //     maxlength: 20
    //         // },
    //         // taxpayerIdentificationNumber:{
    //         //     minlength: 1,
    //         //     maxlength: 40
    //         // },
    //         // companyAddress:{
    //         //     minlength: 2,
    //         //     maxlength: 40
    //         // },
    //         // invoiceMobile:{
    //         //     isPhone:true,
    //         // },
    //         // bankNumber:{
    //         //     minlength: 1,
    //         //     maxlength: 40
    //         // },
    //         // bankName:{
    //         //     minlength: 1,
    //         //     maxlength: 40
    //         // }
    //     },
    //     messages: {
    //     },
    //     focusCleanup: true
    // });
    function addDiv() {
        var addLength3 = parseInt($("#invoiceSubject div.col-sm-5").length)+3000;
        var html3 = '<div class="col-sm-5 col-sm-offset-3" id="' + addLength3 + '" style="display: flex;justify-content: left;margin-top: 6px;">' +
            '<select class="form-control select2-multiple" name="invoiceSubject' + addLength3 + '"></select><a class="btn btn-success" onclick="addDiv()"><i class="fa fa fa-plus"></i></a><a class="btn btn-danger" onclick="deleteDiv(' + addLength3 + ')"><i class="fa fa-remove"></i></a>' +
            '</div>'
        $("#invoiceSubject").append(html3)
        // 添加后获取开票科目
        $.post("/manager/invoice/selectInvoiceContent",{merchantId:merchantId},function (data) {
            var opl = $("#selectInvoice option")
            opl.remove()
            if (data.code ===0){
                var html = '<option value="">请选择</option>'
                data.rows.forEach(function (item) {
                    html += '<option value="' + item.invoiceSubjectId + '">' + item.content + '</option>'
                })
                $("select[name='invoiceSubject" + addLength3 + "']").append(html)
            }
        })
    }

    // 删除开票科目
    function deleteDiv(index){
        var addLength = $("#invoiceSubject div.col-sm-5").length;
        $("#invoiceSubject div.col-sm-5[id='"+index+"']").remove()
    }
    function submitItem() {
        if ($.validate.form()) {
            var companyName = $("input[name='companyName']").val()
            var taxpayerType = $("input[type='radio']:checked").val();
            var taxpayerIdentificationNumber = $("input[name='taxpayerIdentificationNumber']").val()
            var bankNumber = $("input[name='bankNumber']").val()
            var bankName = $("input[name='bankName']").val()
            var companyAddress = $("input[name='companyAddress']").val()
            var invoiceMobile = $("input[name='invoiceMobile']").val()
            var merchantId = information.id
            var data6 = $("#form6").serializeArray()
            var invoiceSubjectIdlists = []
            var list = []
            for (var i = 0;i<data6.length;i++) {
                for (var j = i;j<data6.length;j++) {
                    if (data6[i].value === data6[j].value && i!=j) {
                        $.modal.msgWarning("请勿重复选择同一发票科目")
                        return
                    } else {
                        list.push(data6[j].value)
                    }
                }
            }
            for (var k = 0;k<list.length;k++) {
                if(invoiceSubjectIdlists.indexOf(list[k])==-1){
                    invoiceSubjectIdlists.push(list[k]);
                }
            }
            var datas = {
                merchantId:merchantId,
                bankName:bankName,
                bankNumber:bankNumber,
                companyAddress:companyAddress,
                companyName:companyName,
                invoiceMobile:invoiceMobile,
                invoiceSubjectIds:invoiceSubjectIdlists,
                taxpayerIdentificationNumber:taxpayerIdentificationNumber,
                taxpayerType:taxpayerType
            }
            datas = JSON.stringify(datas)
            $.ajax({
                url: "/manager/invoice/updateInvoiceContentInfo",
                data: datas,
                type: "post",
                datatype:"json",
                contentType: 'application/json',
                beforeSend: function () {
                    $.modal.loading("正在处理中，请稍后...");
                },
                success: function(result) {
                    if (typeof callback == "function") {
                        callback(result);
                        $.modal.msgSuccess(result.msg);
                    }
                    $.operate.successTabCallback(result);
                }
            })
        }
    }

</script>
</body>
</html>
