<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('发票详情')"/>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId" autocomplete="off">
                <div class="select-list">
                    <ul>
                        <li>
                            发票申请编号：<input type="text" name="invoiceSerialNum"/>
                        </li>
                        <li>
                            发票编号：<input type="text" name="invoiceNo"/>
                        </li>
                        <li>
                            开票金额范围：<input type="text" name="startAmount" placeholder="起始金额"/>
                            <span>-</span>
                            <input type="text" name="endAmount" placeholder="结束金额"/>
                        </li>
                        <li>
                            应税劳务服务名称：<input type="text" name="invoiceContent"/>
                        </li>
                        <li>
                            商户名称：<input type="text" name="merchantName"/>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.limitSearch()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>
<div th:include="include :: footer"></div>
<script th:inline="javascript">
    var datas = [[${@dict.getType('invoice_type')}]];
    var data = [[${@dict.getType('invoice_status')}]];
    var prefix = ctx + "manager/invoice";
    $(function () {
        var options = {
            url: prefix + "/querySuccessInvoices",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            modalName: "发票",
            showExport: true,
            columns: [{
                checkbox: true
            },
                {
                    field: 'id',
                    title: '发票ID',
                    visible:false,
                }, {
                    field: 'invoiceSerialNum',
                    title: '发票申请编号',
                }, {
                    field: 'invoiceNo',
                    title: '发票编号',
                },  {
                    field: 'invoiceType',
                    title: '开票类型',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(datas, row.invoiceType);
                    }
                },{
                    field: 'invoiceAmount',
                    title: '开票金额',
                },  {
                    field: 'merchantName',
                    title: '商户名称',
                },{
                    field: 'invoiceContent',
                    title: '应税劳务服务名称',
                },{
                    field: 'createTime',
                    title: '开票日期',
                },  {
                    field: 'invoiceStatus',
                    title: '发票状态',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(data, row.invoiceStatus);
                    }
                },]
        };
        $.table.init(options);
    });
</script>
</body>
</html>