<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('发票金额明细')"/>
    <style>
        #amount {
            font-size: 20px;
            font-weight: bold;
            color: #FF7676;
        }
        #anotherAmount {
            font-size: 20px;
            color: #333;
        }
    </style>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <span style="color: #333;font-weight: bold;font-size: 20px;padding-left:20px;line-height: 40px">开票金额：</span><span id="amount"></span>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
        </div>
        <div class="col-sm-12 search-collapse">
            <span style="color: #333;font-size: 20px;padding-left:20px;line-height: 40px">合计：</span><span id="anotherAmount"></span>
        </div>
        <div class="row">
            <div class="col-sm-offset-6 col-sm-3" style="margin-top: 10px;margin-bottom: 5px">
                <button type="button" class="btn btn-sm btn-danger" onclick="openCheckTab()"><i class="fa fa-reply-all"></i>返 回</button>
            </div>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<script th:inline="javascript">
    var prefix = ctx + "manager/invoice";
    var info = sessionStorage.getItem("info");
    info = JSON.parse(info)
    var id = info.id
    $("#amount").text('￥' + info.invoiceAmount)
    $("#anotherAmount").text(info.invoiceAmount)
    $(function () {
        var options = {
            url: prefix + "/invoiceAmountDetailsCheck",
            queryParams: getParams,
            createUrl: prefix + "/add",
            updateUrl: prefix + "/detail",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            modalName: "交易金额明细",
            showExport: true,
            columns: [{
                checkbox: false
            },
                {
                    field: 'id',
                    title: 'id',
                    visible: false
                }, {
                    field: 'orderSerialNum',
                    title: '充值流水号'
                }, {
                    field: 'amount',
                    title: '充值金额(元)',
                },
                {
                    field: 'createTime',
                    title: '充值时间',
                }
            ]
        };
        $.table.init(options);
        function getParams(params) {
            var temp = {
                pageSize:       params.limit,
                pageNum:        params.offset / params.limit + 1,
                searchValue:    params.search,
                orderByColumn:  params.sort,
                id: info.id,
                isAsc:          params.order
            };
            return temp;
        }
    });

    function openCheckTab() {
        $.modal.openTab("查看金额明细", "/manager/invoice/invoiceCheckView?id="+id);
    }
</script>
</body>
</html>