<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('账户列表信息')"/>
    <style>
        .search-collapse{
            border-radius: 0px;
            border: 1px solid #3075FC;
            box-shadow: none;
            padding: 4px 20px;
            background: #F1F3F9;
            border-bottom: none;
        }
        #table{
            width: 100%;
            line-height: 30px;
        }
        #table td>p,#table td>select,#table td>input{
            margin-top: 10px;
        }
        #table, tr, td {
            border: 1px solid #3075FC;
        }
        .right{
            display: inline-block;
            border-left: 1px solid #3075fc;
        }
        .button{
            margin-top: 20px;
            background: #303e5c;
            line-height: 48px;
            color:#fff;
        }
    </style>
</head>
<body class="white-bg">
<div class="container-div" style="text-align: center">
    <div class="contentBox">
        <div class="row" style="margin-top:10px;">
            <div class="col-sm-12" style="padding: 0px;border: 1px solid #3075FC;line-height: 60px;">
                <input type="textarea" name="instruction" style="width: 100%;border:none" placeholder="开票说明">
            </div>
        </div>

        <div class="row button">
            <div id="invoiceStatus" style="float: right;margin-right: 20px;">
                <button type="button" class="btn btn-sm btn-success" onclick="disable()" style="margin-right: 6px;"><i class="fa fa-check"></i>通过</button>
                <button type="button" class="btn btn-sm btn-warning"  data-toggle="modal" data-target="#myModal" ><i class="fa fa-remove"></i>驳回</button>
                <!--<button type="button" class="btn btn-sm btn-warning" onclick="uploadImg()" style="margin-right: 6px;"><i class="fa fa-check"></i>上传发票扫描件</button>-->
                <button type="button" class="btn btn-sm btn-danger" onclick="shutDownItem()"><i class="fa fa-reply-all"></i>关 闭</button>
            </div>
        </div>
    </div>
    <div th:include="include::footer"></div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 650px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">驳回原因</h4>
            </div>
            <div style="width: 100%;height: 88px;padding:20px"><input type="text" id="rejected" placeholder="请输入驳回原因" style="width: 100%;height: 48px;"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="enable()">确定</button>
            </div>
        </div>
    </div>
</div>
<script th:inline="javascript">
    var prefix = ctx + "manager/invoice";
    var id = sessionStorage.getItem("id")
    var invoiceStatus = sessionStorage.getItem("invoiceStatus")
    var bigArr = []
    $.get("/manager/invoice/restartInvoiceView?invoiceId="+id,function (data) {
        bigArr = data.data
        var htmlAll = ''
        data.data.forEach(function (item,index) {
            var invoiceType = item.invoiceType == 0 ? "增值税专用发票" :"普通发票"
            var arr = item.serviceAmounts
            var invoiceSerialName = ''
            var invoiceAmount = ''
            var taxAmount = ''
            var taxRate = ''
            var unitPrice = ''
            var amount = 0
            for (var i = 0;i<arr.length;i++){
                invoiceSerialName+='<select name="paymentChannel" id="paymentChannel" placeholder="请选择货物或应税劳务、服务名称" style="width:90%;" readonly><option>'+arr[i].invoiceSerialName+'</option></select>'
                unitPrice+='<p class="unitPrice">'+arr[i].unitPrice+'</p>'
                taxAmount+='<p class="taxAmount">'+arr[i].taxAmount+'</p>'
                taxRate+='<p class="taxRate">'+arr[i].taxRate+'</p>'
                invoiceAmount+='<input type="text" name="invoiceAmount" style="width: 90%;" placeholder="请输入含税金额" value="'+arr[i].invoiceAmount+'" readonly>'
                amount += parseInt(arr[i].invoiceAmount)
            }
            htmlAll += '<div class="row">\n' +
                '            <div class="col-sm-12 search-collapse">\n' +
                '                <form id="formId">\n' +
                '                    <div class="title select-list">\n' +
                '                        <ul>\n' +
                '                            <li>\n' +
                '                                <select name="invoiceType" class="invoiceType" readonly>\n' +
                '                                    <option value="'+item.invoiceType+'">'+invoiceType+'</option>\n' +
                '                                </select>\n' +
                '                            </li>\n' +
                '                            <li>\n' +
                '                                <select name="bankName" class="bankName" style="width: 300px;" readonly>\n' +
                '                                    <option value="0">'+item.bankName+'</option>\n' +
                '                                </select>\n' +
                '                            </li>\n' +
                '                            <li>\n' +
                '                                <span style="line-height: 30px;">&nbsp; | 发票版面：一百万元版</span>\n' +
                '                            </li>\n' +
                '                            <li style="float: right;">\n' +
                '                                <button type="button" class="btn btn-sm btn-warning" onclick="uploadImg('+item.serviceAmounts[0].invoiceDetailId+')"><i class="fa fa-check"></i>&nbsp; 上传发票扫描件</button>\n' +
                // '                                <span style="line-height: 30px;">&nbsp; 未上传</span>\n' +
            '                            </li>\n' +
                '                        </ul>\n' +
                '                    </div>\n' +
                '                </form>\n' +
                '            </div>\n' +
                '            <div class="col-sm-12" style="padding: 0px;">\n' +
                '                <table id="table" cellspacing="0" cellpadding="0">\n' +
                '                    <tr>\n' +
                '                        <td class="col-sm-3 invoiceSerialName">\n' +
                '                            货物或应税劳务、服务名称\n' +invoiceSerialName+
                '                        </td>\n' +
                '                        <td class="col-sm-1">规格型号\n' +
                '                        </td>\n' +
                '                        <td class="col-sm-1">单位\n' +
                '                            <p>次</p>\n' +
                '                        </td>\n' +
                '                        <td class="col-sm-1">数量\n' +
                '                            <p>1</p>\n' +
                '                        </td>\n' +
                '                        <td class="col-sm-1 unitPrice">单价\n' +unitPrice+
                '                        </td>\n' +
                '                        <td class="col-sm-1">金额\n' +
                '                            <p class="invoiceAmount"></p>\n' +
                '                        </td>\n' +
                '                        <td class="col-sm-1 taxRate">税率\n' +taxRate+
                '                        </td>\n' +
                '                        <td class="col-sm-1 taxAmount">税额\n' +taxAmount+
                '                        </td>\n' +
                '                        <td class="col-sm-2 invoiceAmount">含税金额\n' +invoiceAmount+
                '                        </td>\n' +
                '                    </tr>\n' +
                '                </table>\n' +
                '            </div>\n' +
                '            <div class="col-sm-12" style="padding: 0px;border: 1px solid #3075FC;border-top: none;line-height: 40px;">\n' +
                '                <div class="left col-sm-3">合计</div>\n' +
                '                <div class="right col-sm-9 invoiceAmount">'+amount+'</div>\n' +
                '            </div>\n' +
                '            <div class="col-sm-12" style="padding: 0px;border: 1px solid #3075FC;border-top: none;line-height: 40px;">\n' +
                '                <div class="remarks_left col-sm-3">\n' +
                '                    备注\n' +
                '                </div>\n' +
                '                <div class="remarks_right col-sm-9" style="padding: 0px;border-left:1px solid #3075FC;display: inline-block;">\n' +
                '                    <input type="textarea" name="remarks" style="width: 100%;border:none" value="'+item.remarks+'">\n' +
                '                </div>\n' +
                '            </div>\n' +
                '        </div>'
            $("input[name='instruction']").val(item.instruction)
        })
        $(".contentBox").prepend(htmlAll)
    })
    function disable() {
        $.modal.confirm("是否已上传发票扫描件？", function () {
            var msg = sessionStorage.getItem("msg")
            if(msg == "操作成功") {
                $.operate.saveTab(prefix + "/auditRestartInvoice",{"invoiceId": id, "status": '1'});
                sessionStorage.clear()
            }else {
                $.modal.msgWarning("请上传发票扫描件");
            }
        })
    }
    /* 用户管理启用 */
    function enable() {
        var rejected = $("#rejected").val()
        $.modal.confirm("确定驳回该条发票申请？", function () {
            $.operate.saveTab(prefix + "/auditRestartInvoice",{"invoiceId": id, "status": '0',remarks:rejected});
            sessionStorage.clear()
        })
    }
    function uploadImg(detailId) {
        var obj = {}
        bigArr.forEach(function (item) {
            if (detailId == item.serviceAmounts[0].invoiceDetailId){
                obj = item
            }
        })
        obj = JSON.stringify(obj)
        sessionStorage.setItem("obj",obj)
        $.modal.open("上传错误重开发票", "/manager/invoice/imgView?imgUrl=" + id);
    }
    function shutDownItem() {
        sessionStorage.clear()
        closeItem()
    }
</script>
</body>
</html>
