
<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('发票详情列表')"/>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12" style="padding: 0px">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default" style="background: #FFFBE6;border:1px solid #FFF0A0;">
                    <div class="panel-heading" style="background: #FFFBE6;">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion"
                               href="#collapseOne" style="display: block">
                                温馨提示：
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body" style="border-top: 1px solid #FFF0A0;padding:10px 0px 10px 40px">
                            请在错误重开审核前下载红冲信息表与重开说明文件留档后再通过发票审核。
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <li>
                            代征主体：<input value="安薪宝"/>
                        </li>
                        <li>
                            发票申请编号：<input type="text" name="invoiceSerialNum"/>
                        </li>
                        <li class="select-time">
                            <label>创建时间： </label>
                            <input type="text" class="time-input" id="startTime" placeholder="开始时间"
                                   name="startDate"/>
                            <span>-</span>
                            <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="endDate"/>
                        </li>


                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.limitSearch()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>
<div th:include="include :: footer"></div>
<script th:inline="javascript">
    var datas = [[${@dict.getType('invoice_status')}]];
    var type = [[${@dict.getType('invoice_type')}]];
    var editFlag = [[${@permission.hasPermi('business:batchPaymentRecord:edit')}]];
    var Invalidid = [[${@dict.getType('Invalid_id')}]];
    var prefix = ctx + "manager/invoice";
    layui.use('laydate',function () {
        var laydate = layui.laydate;
        var startDate = laydate.render({
            elem: '#startTime',
            type: 'date',
            format: 'yyyy-MM-dd',
            done: function(value, date){
                endDate.config.min ={
                    year:date.year,
                    month:date.month-1,
                    date: date.date,
                    hours: 0,
                    minutes: 0,
                    seconds : 0
                };
            }
        });
        var endDate = laydate.render({
            elem: '#endTime',
            type: 'date',
            format: 'yyyy-MM-dd',
            done: function(value,date){
                startDate.config.max={
                    year:date.year,
                    month:date.month-1,//注意是month-1，写在date上的话你后边的日期选择不了
                    date: date.date,
                    hours: 0,
                    minutes: 0,
                    seconds : 0
                }
            }
        });
    })
    $(function () {
        var options = {
            url: prefix + "/restartList",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            modalName: "发票",
            showExport: true,
            columns: [{
                checkbox: true
            },
                {
                    field: 'id',
                    title: '发票ID',
                    // visible: false
                },{
                    field: 'merchantId',
                    title: '商户ID',
                    visible: false
                }, {
                    field: 'toVoid',
                    title: '是否作废',
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(Invalidid, row.toVoid);
                    }
                },
                {
                    field: 'invoiceType',
                    title: '开票类型',
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(type, value);
                    }
                },
                {
                    field: 'invoiceCode',
                    title: '发票代码',
                    visible: false
                },{
                    field: 'invoiceNum',
                    title: '发票号码',
                    visible: false
                }, {
                    field: 'invoiceStatus',
                    title: '开票状态',
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(datas, row.invoiceStatus);
                    }
                }, {
                    field: 'invoiceSerialNum',
                    title: '申请编号',
                }, {
                    field: 'invoiceMonth',
                    title: '所属月份',
                    visible: false
                }, {
                    field: 'invoiceSerialName',
                    title: '应税劳务服务名称',
                    visible: false
                }, {
                    field: 'unitPrice',
                    title: '金额',
                }, {
                    field: 'taxRate',
                    title: '税率',
                }, {
                    field: 'taxAmount',
                    title: '税额(元)',
                }, {
                    field: 'invoiceAmount',
                    title: '价税合计(元）',
                }, {
                    field: 'invoiceAmount',
                    title: '发票申请编号',
                }, {
                //     field: 'taxpayerType',
                //     title: '纳税人类型',
                // }, {
                    field: 'invoiceTime',
                    title: '开票日期',
                }, {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.failInvoice(' + row.id + ')"><i class="fa fa-edit"></i>重开下载</a> ');
                        actions.push('<a class="btn btn-warning btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.Invoicereview(' + row.id + ')"><i class="fa fa-check"></i>重开审核</a> ');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });
</script>
</body>
</html>